/* Main */
.main-title {
    margin:0 auto;
	margin-top: 7%;
	color: #7b8891;
}

#job-description-container {
    margin-left: 20%;
}

.paragraph {
    width: 100%;
}

.bullets-list {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bullet {
	font-family: Bitter;
	font-size: 14px;
	line-height: 1.56;
	text-align: left;
	color: var(--text-color);
}

/* Apply Form */
.form-submit {
	width: 100%;
	height: 45px;
	margin-bottom: 94px;
}

#pre-preview {
    background-color:var(--white);
    border:0px;
    word-wrap: break-word;
    white-space: pre-wrap;
}


/**************************************CURRICULUM FORM*****************************************************************/
.form-inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.form-inputfile + label {
    width: auto;
    min-width:170px;
    height: auto;
    font-size: 1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--blue);
    border: solid 4px var(--blue);
    margin-bottom: 5px;
    cursor: pointer;
}

.form-inputfile:focus + label,
.form-inputfile + label:hover {
    background-color: var(--light-grey);
}

.form-inputfile + label * {
	pointer-events: none;
}


/*******************************************Responsive*****************************************************************/

@media (max-width: 640px){

    .section-container{
        margin-top: 60px;
    }

    #job-description-container {
        margin-left: 2%;
    }
}
