body{
    background: url(../img/tests_background.jpg) top center scroll;
	background-size: contain;
	background-repeat: repeat;
}

.title{
    text-align: center;
}

.blue{
    color:var(--blue);
    padding-top:30px;
    margin:0;
}

.questions-container{
    background:white;
    width:70%;
    margin: 100px auto;
    border-radius: 70px;
    padding:20px;
}

.question-info{
    display:none;
}

#submit-button{
    display:none;
}

.image-div{
    border: solid 1px black;
    border-radius: 30px;
    width: 80%;
    min-height: 400px;
    margin: 30px auto;
}

.format-div{
    width: 80%;
    margin: 30px auto;
}

textarea{
    width: 100%;
    min-height: 200px;
    resize:none;
}

.center{
    text-align:center;
}

.left{
    text-align:left;
}

.nice-button{
    width: auto;
    background: var(--orange);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 10px;
    border-radius:4px;
    margin: 50px auto;
}

@media (max-width: 768px){
    .image-div {
        width: 90%;
        min-height: 176px;
        border-radius:10px;
        background-size: cover;
    }

    .questions-container {
        width: 90%;
        border-radius: 50px;
        margin: 50px auto;
        padding:5px;
    }
}

