{% for question in test.questions.all %}

    <br>

    <p>Question {{ question.order }} </p>

    <textarea cols="120" rows="5" name="{{ question.order }}_question_text"
              placeholder="Question in English">{{ question.text }}</textarea>

    <br>
    <br>

    <textarea cols="120" rows="5" name="{{ question.order }}_question_text_es"
              placeholder="Question in Spanish">{{ question.text_es }}</textarea>

    <br>
    <br>

    <input id="file" type="file" value="{{ question.image_path }}" class="form-inputfile"
           onchange="pressed()" name="{{ question.order }}_question_image">
    <label id="fileLabel" for="file"></label>

    {% if question.type.name == 'single answer' %}

        <input class="btn btn-success" type="button" name="add_answer" value="Add answer"
               onclick="addAnswer({{ question.order }});">

        <br>
        <br>

        <!-- This empty container is filled dynamically with JS.-->
        <div id="{{ question.order }}_question_answer_container"></div>

    {% endif %}

    <br>

    <input type="button" class="btn btn-danger" value="Delete">
    <!--<input type="hidden" class="btn btn-danger" value="Delete">-->

    <br>
{% endfor %}