@import 'fonts.css';
@import 'body/form.css';
@import 'body/body_header.css';
@import 'body/body_content.css';
@import 'body/tab.css';

body {
	margin: 0px;
	padding: 0px;
	font-family: NorthernBlock;
}

/* Removes small black lines */
a {
	text-decoration: none;
}
