@font-face {
    font-family: BigJohn;
    src: url(/static/fonts/BIG_JOHN.otf);
    unicode-range: U+?????;
}

@font-face {
    font-family: NorthernBlock;
    src: url(/static/fonts/TheNorthernBlockLtdLoewHeavy.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskRegular;
    src: url(/static/fonts/BertholdAkzidenzGroteskRegular.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskBELight;
    src: url(/static/fonts/BertholdAkzidenzGroteskBELight.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskBold;
    src: url(/static/fonts/BertholdAkzidenzGroteskBold.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskItalic;
    src: url(/static/fonts/BertholdAkzidenzGroteskItalic.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskSuper;
    src: url(/static/fonts/BertholdAkzidenzGroteskSuper.otf);
}