#footer {
	width: 100%;
	height: 214px;
	background-color: var(--purple);
	bottom:0;
	position: static;
}

#footer #footer-yellow-bar {
	width: 100%;
	height: 20px;
	background-color: var(--yellow);
}

#footer #footer-blue-bar {
	width: 90%;
	height: 100px;
	background-color: var(--blue);
	overflow: hidden;
}

/*Phone*/
#footer #footer-phone-div {
    margin-top: 28px;
    margin-left: 65%;
    height: 33px;
}

#footer #footer-phone {
	width: 150px;
	height: 20px;
	margin: 0px;
	font-size: 13px;
	line-height: 2.73;
	text-align: left;
	color: var(--white);
	text-transform: uppercase;
	display: inline-block;
}

/* email */
#footer #footer-email-div {
    margin-top: 0px;
    margin-left: 65%;
    height: 33px;
}

#footer #footer-email {
	width: 150px;
	height: 33px;
	font-size: 13px;
	line-height: 2.73;
	text-align: left;
	color: var(--white);
	margin-top: -40px;
	text-transform: uppercase;
	display: inline-block;
}

#footer .footer-icon {
    display: inline-block;
}


/*Social media and logo*/
#footer #footer-bottom-div {
    margin-top: 28px;
    margin-left: 58.7%;
    height: 50px;
}

#footer #peaku-footer {
    margin-left: 63%;
    display: inline-block;
}

/* Responsive */
@media (max-width: 1000px)
{
    #footer #footer-bottom-div, #footer #footer-phone-div, #footer #footer-email-div
    {
        margin-left: 10%;
    }

    #footer #peaku-footer
    {
        margin-left: 40%;
    }

}
