@charset "utf-8";


/* Portrait phones */
@media  (max-width: 767px)
{
	html { 
        background: url(../img/relaxed_guy_cel.jpeg) no-repeat top center scroll ;
        background-size:contain;
    }

    .responsive-no{
        display:none;
    }

    .space{
        display:none;
    }

    .first-description{
        text-shadow: 2px 1px 1px rgba(0,0,0,0.7);
        font-size: 17px;
    }

    .description2{
        margin-bottom: 50px;
    }

    h4{
        font-size:22px;
    }

    h5{
        font-size:16px;
    }

    #main-copy {
        margin-left: 0px;
        margin-top:-210px;
    }

    #main-copy-title {
        margin-top:-220px;
    }

    .button-user{
        margin: 0 -30px;
    }

    .contact {
        margin: 0 auto;
        float:none;
        padding-left: 40px;
    }

    #myTopnav {
        margin-top: 40px;
    }

    h1 {
        font-size:1.75em !important;
    }
	
    #logo {
        width:80px;
        margin-left:20px;
        margin-top:-35px;
    }
	
	#register-button {
		display:none;
	}
	
	#login-button {
		display:none;
	}
		
	.blankbanner {
	    height:260px;
	}
	
	#main-copy {
		margin-left:0px;
	    position: relative;
        padding-top: 75%; /* Height proportional to width, so coooool */
	}
		
	#main-copy br{
		display:none;
	}
	
    #image4video img{
		margin-left:-65px !important;
		width:120%;
	}
	
    .about {
		margin-top:20px;
		text-align:center;
		font-size:12px;
		min-width:100%;
	}
		
    #button-cta-about {
	    display:none;
	}

    .about br {
	    display: none;
	}

    .about h1{
		text-align:center;
		font-size:1.8em !important;
	}
		
    .blankplans {
	    height:120px;
	}

    .button-plans {
	    font-size:20px;
	}

    .button-plan-top {
	    font-size:20px;
    }

    .plancontainer {
	    font-size:13.5px;
	    height: 235px;
	    width: 86%;
	    margin-left:7%;
	}
	
    .button-buy {
	    display:none;
	}
	
    .freebg {
		margin-top:0px;
		margin-left:6.5%;
		width:80%;
		height:400px;
		z-index:99;
	}
		
    .basicbg {
		margin-top:460px;
		margin-left:6.5%;
		width:80%;
		height:450px;
		z-index:100;
	}
		
    .premiumbg {
		margin-top:950px;
		margin-left:6.5%;
		width:80%;
		height:430px;
		z-index:99;
	}
		
			
    .headhunterbg {
		margin-top:1440px;
		margin-left:6.5%;
		width:80%;
		height:420px;
		z-index:97;
	}

    #pushtitleiphone {
	    margin-top:1500px !important;
	    margin-left:50px;
	}
	
	.blankreviewspic {
	    height:1550px;
	}

    .reviewcel {
	    width:80%;
	    margin-left:10%;
	}
	
    #clientes img {
	    width:49%;
	}

    #chat-tablet {
	    display:none;
	}
	
    .navfooter {width:100%;
        margin-left:14%;
        margin-top:20px;
    }

    .redesfooter {
	    margin-top:140px;
	}
	
    .navfootercontact {
        text-align:center;
        margin-left:-12%;
        margin-top:-110px;
    }
	
    .navfootercontact img{
        display:none;
    }

    #companies-button {
        margin-top: -40px;
    }

	#contact-us-button {
        display: none;
    }

    #main-copy-big-title {
        font-size: 200%;
    }

    .conectors {
        background: url(../img/conectors_cel.png) no-repeat top center scroll;
        background-size:cover;
        height:590px;
        margin-bottom:100px;
        margin-top:50px;
    }

    .woman-working{
        display:none;
    }

    .description3{
        padding-left: 20px;
    }

    .play-div{
        text-align: left;
        margin-top: -60px;
    }

    .play-button {
        width: 60px;
        margin-right: 10px;
        margin-left: 0;
        margin-top: 0;
    }

    .h2{
        font-size: 70px;
    }

    .h3{
        font-size: 30px;
    }

    .h5{
        font-size: 20px;
    }

    .last-description{
        margin-bottom:50px;
    }

}


/****************************************Small phones******************************************************************/
@media  (max-width: 320px) 
{
	h1 {
	    font-size:1.5em !important;
	}

	h5 {
	    font-size:1em !important;
	}
	
	.blankbanner {
	    height:210px;
	}

    #image4video img{
        margin-left:-50px !important;
        width:120%;
    }

    .plancontainer {
        font-size:13.5px;
        height: 275px;
        width: 86%;
        margin-left:7%;
    }

    .freebg, .basicbg, .premiumbg, .headhunterbg {
        height:450px;
    }

    .basicbg {
        margin-top:570px;
    }

    .premiumbg {
        margin-top:1060px;
    }

    .headhunterbg {
        margin-top:1590px;
    }

    #pushtitleiphone {
        margin-top:1800px !important;
        margin-left:50px;
    }

    .blankreviewspic {
        height:1840px;
    }

    .navfootercontact img{
        margin-left:185px;
        margin-top: -100px;
    }

    .navfooter {
        font-size:12px;
        margin-left:14%;
    }

    #main-copy-big-title {
        font-size: 200%;
    }
}


/* iPads y tablets portrait */
@media (min-width: 768px) and (max-width: 991px)
{
	html {
		background: url(../img/relaxed_guy_tablet.jpeg) no-repeat top center scroll;
		background-size:contain;
	}

    .contact {
    margin: 0 auto;
    float:none;
    }

	h6 {
		font-size:1em !important;
	}
			
    #logo {
	    width:90px;
	}
		
	.blankbanner {
    	height:590px;
	}

	#valuebanner { background-image:url('../img/mockup-bg-tablet.jpg');
	    background-repeat: no-repeat;
        background-size: contain;
    }
	
    #image4video img{
		width:150%;
		margin-left:-100px;
	}
	
    .about {
		margin-top:110px;
		text-align:justify;
		margin-left:-60px;
		font-size:12px;
		min-width:390px;
	}

    .about h1{
		text-align:left;
		font-size:1.8em !important;
		min-width:390px;
		line-height:0px;
	}
		
    .plancontainer {
	    height:210px;
	}

    .freebg, .basicbg, .premiumbg, .headhunterbg{
		margin-left:2%;
		width:320px;
		height:380px;
		position:relative;
		margin-bottom:50px !important;
	}
		
    .basicbg {
        margin-top:0px;
	}

    .button-buy-cel {
		display:none;
	}
		
    .navfooter { margin-left:-11%;
        font-size:14px;
        min-width:300px;
    }

    .redesfooter {
        min-width:170px;
        margin-left:-2%;
	}
	
    .navfootercontact {
        min-width:210px;
        margin-left:-7%;
        font-size:14px;
	}

    .navfootercontact img{
        width:40px;
        margin-left:30px;
    }

    #main-copy-big-title {
        font-size: 400%;
    }
}

/* iPads and tablets landscape */
@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape)
{
	html {
        background: url(../img/relaxed_guy_tablet.jpeg) no-repeat top center scroll ;
        background-size:contain;
    }

    #logo {
        width:90px;
    }

    .blankbanner {
        height:330px;
    }
}

@media (min-width: 992px) and (max-width: 1200px)
{

	html { 
		background: url(../img/relaxed_guy_tablet.jpeg) no-repeat top center scroll ;
		background-size:contain;
	}

    .contact {
        margin: 0 auto;
        float:none;
    }

    #valuebanner { background-image:url('../img/mockup-bg-tablet.jpg');
        background-repeat: no-repeat;
        background-size: contain;
    }
	
    #image4video img{
		width:140%;
		margin-left:-100px;
	}
	
    .about {
		margin-top:110px;
		text-align:justify;
		margin-left:-60px;
		font-size:14px;
		min-width:470px;
	}

    .about h1{
        font-size:1.6em !important;
	}
		
    .freebg, .basicbg, .premiumbg, .headhunterbg{
		margin-left:-11% !important;
	}
		
    .button-buy-cel {
        display:none;
	}
		
    .reviewsingle {
        min-width:398px;
        margin-left:-190px;
        margin-right:40px;
	}
	
    .reviewcel {
        width:60%;
	    margin-left:20%;
	}
	
    #pushtitleiphone {
        margin-left:65px !important;
	}

    .navfooter {
        margin-left:-8%;
        margin-right: 8%;
        min-width:300px;
	}
	
    .navfootercontact {
        margin-right:5%;
        min-width:220px;
	}

    #main-copy {
        margin-left: 0px;
        margin-top:320px;
    }

    #main-copy-title {
        margin-top:-300px;
    }
}


@media (min-width: 1201px) 
{
	.blankbanner {
	    height:400px;
	}

	#main-copy {
        margin-left: 0px;
        margin-top: -250px;
    }

    .about {
            margin-top:110px;
            text-align:left;
    }

    .about h1 {
        font-size:1.9em !important;
    }

    .button-buy-cel {
            display:none;
    }

    #whatsapp-tablet {
        display:none;
    }

    #chat-tablet {
        display:none;
    }
}


/* Big Desktop */
@media (min-width: 1600px) 
{
	
	h1 {font-size:2.4em !important;
        font-weight:700 !important;
    }

    h5 {
        font-size:1.3em !important;
        font-weight:700 !important;
    }

	.blankbanner {
	    height:600px;
	}
	
    .about {
		margin-top:200px;
	}
	
    .button-buy-cel {
		display:none;
	}
		
    #whatsapp-tablet {
        display:none;
    }

    #chat-tablet {
        display:none;
    }
}


@media (min-width: 1951px) 
{
	
	h1 {
	    font-size:3.4em !important;
        font-weight:700 !important;
    }

    h5 {
        font-size:1.7em !important;
        font-weight:700 !important;
    }

	.blankbanner {
	    height:700px;
	}
	
    .about {
		margin-top:200px;
	}

    .button-cta {
      font-size: 28px;
      font-weight:700;

    }

    .about {
        font-size:1.4em;
        margin-top:250px;
    }
	
	.button-buy-cel {
		display:none;
	}

    #whatsapp-tablet {
        display:none;
    }

    #chat-tablet {
        display:none;
    }
	
	.navfootercontact {
	    margin-left:5%;
	    min-width:220px;
	}
}