<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load app_filters %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
        <!--<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
		<title>PeakU - Selección de personal</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="{% static 'business/css/slick.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'business/css/slick-theme.css' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.2/trix.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'business/css/new_start.css' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon.ico' %}">
    	<link rel="apple-touch-icon" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon-16.png' %}">
    	<link rel="apple-touch-icon" sizes="32x32" href="{% static 'testing_webpage/favicon.ico/favicon-32.png' %}">
    	<link rel="apple-touch-icon" sizes="64x64" href="{% static 'testing_webpage/favicon.ico/favicon-64.png' %}">


		<!-- Latest jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.2/trix.js"></script>

		<!-- Select 2 -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
		<script type="text/javascript" src="{% static 'business/js/start.js' %}"></script>
	</head>
	<!----------------------------------------------SECTION 1---------------------------------------------------------->
	<body>
		<section class="main-section scroll-content" id="main-section">
            <div class="gradient1">
                <div class="gradient2">
			<div class="topnav" id="myTopnav">
				<a href="/staffing" style="float:left"><img src="{% static 'business/new_images/logo-color.png' %}" style="margin-left:30px;" width="70px" id="logo"></a>
				<div>
					<a class="navButton" role="button" onclick="on2()">INICIA SESIÓN</a>
					<a class="navButton" role="button" onclick="on()">CREA TU CUENTA</a>
					<a href="{% url 'business:contact_form' %}" style="margin: 15px 10px;">Contáctanos</a>
					<a href="{% url 'beta_invite:index' %}" style="margin: 15px 10px;">Personas</a>
					<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
				</div>
			</div>

			<div class="container">
				<div class="row" style="height:450px; color: white;">
					<div class="col-xs-6">
						<div class="col-xs-2" style="top:300px;">
							<span>1<span style="font-size:50px; margin-left:-15px;">.</span></span>
						</div>
						<div class="col-xs-10" style="top: 345px;">
							<span style="font-family : BertholdAkzidenzGroteskSuper; font-size : 20px;color : #FFFFFF;"><br>ESCOGE UN FONDO<br>ACORDE A TU VACANTE</span>
						</div>
					</div>
					<div class="col-xs-6" style="text-align:right;top:150px;">
						<span style="font-family: BertholdAkzidenzGroteskSuper; font-size: 40px; color: rgb(255, 255, 255);">
							PERSONALIZA TU<br>
							CAMPAÑA EN 3 PASOS<br>
						</span>
						<span style="font-family : BertholdAkzidenzGroteskRegular;font-size : 32px;color : rgb(255, 255, 255);">
							y encuentra los mejores candidatos<br>
							para tu vacante
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-8">
						<section class="regular slider">
							<div class="slide-0 slide-css" data-background="{% static 'business/new_images/Start_BG-01-min.jpg' %}">
								<img class="img-rounded" src="{% static 'business/new_images/Start-carrusel-01.jpg' %}">
                                <p class="slider-description">Administrativos</p>
							</div>
							<div class="slide-1 slide-css" data-background="{% static 'business/new_images/Start_BG-02-min.jpg' %}">
								<img class="img-rounded" src="{% static 'business/new_images/Start-carrusel-02.jpg' %}">
                                <p class="slider-description">Operativos</p>
							</div>
							<div class="slide-2 slide-css" data-background="{% static 'business/new_images/Start_BG-03-min.jpg' %}">
								<img class="img-rounded"src="{% static 'business/new_images/Start-carrusel-03.jpg' %}">
                                <p class="slider-description">Técnicos</p>
							</div>
							<div class="slide-3 slide-css" data-background="{% static 'business/new_images/Start_BG-04-min.jpg' %}">
								<img class="img-rounded" src="{% static 'business/new_images/Start-carrusel-04.jpg' %}">
                                <p class="slider-description">Arquitectos</p>
							</div>
							<div class="slide-4 slide-css" data-background="{% static 'business/new_images/Start_BG-05-min.jpg' %}">
								<img class="img-rounded" src="{% static 'business/new_images/Start-carrusel-05.jpg' %}">
                                <p class="slider-description">Diseñadores</p>
							</div>
							<div class="slide-5 slide-css" data-background="{% static 'business/new_images/Start_BG-06-min.jpg' %}">
								<img class="img-rounded" src="{% static 'business/new_images/Start-carrusel-06.jpg' %}">
                                <p class="slider-description">Recursos humanos</p>
							</div>
							<div class="slide-6 slide-css" data-background="{% static 'business/new_images/Start_BG-07-min.jpg' %}">
								<img class="img-rounded" src="{% static 'business/new_images/Start-carrusel-07.jpg' %}">
                                <p class="slider-description">Ingenieros</p>
							</div>
						</section>
					</div>
					<div class="col-xs-4">
						<ul class="section-indicator">
							<li class="active"><div class="div-indicator"></div>Personaliza</li>
							<li><div class="div-indicator"></div>Diligencia</li>
							<li><div class="div-indicator"></div>Publica</li>
						</ul>
					</div>
				</div>
			</div>
            </div>
            </div>
			<div class="svg-container" style="bottom:-5px;position:absolute;opacity:0.99;">
				<svg id="the-S" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1960.62 279.47">
					<defs><style>.cls-1{fill:white;}</style></defs>
					<path id="_Trazado_" data-name="&lt;Trazado&gt;" class="cls-1" d="M1970,279.47l1-277.48V0h-587a137.18,137.18,0,0,0-53.79,10.9c-3.51,1.46-6.94,3.1-10.27,4.89a137.38,137.38,0,0,0-46.81,40.08q-3.21,4.35-6.15,9a137.17,137.17,0,0,0-20.67,66.22c-.11,2.25-.18,4.51-.17,6.75,0,2.7-.09,5.35-.25,8A136.75,136.75,0,0,1,1214,211.61c-1.93,3.07-4,6.08-6.19,9a137.69,137.69,0,0,1-47.06,39.79c-3.37,1.76-6.8,3.36-10.34,4.82a137.59,137.59,0,0,1-52.9,10.54H-.29a15.14,15.14,0,0,0,0,1.91l.05,1.81H1959.36Z" transform="translate(0.31 0)"></path>
				</svg>
			</div>
		</section>
		<!----------------------------------------------SECTION 2------------------------------------------------------>
		<br>
        <form id="big-form" class="noBorderForm" action="{% url 'business:start_post' %}" method="post">
            {% csrf_token %}
			<section class="section-two scroll-content" id="section-two">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<br>
							<div class="row">
								<div class="col-md-4"><span style="font-size: 115px;font-weight: 750;color:#CADD68;">2<span style="font-size:100px;font-weight:50;">.</span></span></div>
								<div class="col-md-8"><span>REGISTRA LOS DATOS<br>DE TU OFERTA LABORAL</span></div>
							</div>
						</div>
						<div class="col-md-8"><br></div>
					</div>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<br>
							<fieldset>
								<br>
								<br>
								<h3 style="color:#CADD68;">Ciudad</h3>
								<select class="drop-down" style="border-radius: 50px; padding:10px; width:60%;" name="city_id" >
                                    <option value="" disabled selected>Selecciona tu ciudad</option>
                                    {% for city in cities %}
                                        <option value={{ city.id }}>{{ city.name }}</option>
                                    {% endfor %}
                                </select>
								<h3 style="color:#CADD68;">Título de tu oferta laboral</h3>
								<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et dolore magna aliqua</h6>
								<input class="origin-vacancy-tittle form-input" style="border-radius: 50px; padding:10px; width:100%;" name="title_es"><br>
								<h3 style="color:#CADD68;">Cargo solicitado</h3>
								<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et dolore magna aliqua</h6>
                                <select class="drop-down" name="profession_id" style="border-radius: 50px; padding:10px; width:100%;">
                                    <option value="" disabled selected>Selecciona tu profesion</option>
                                    {% for profession in professions %}
                                        <option value={{ profession.id }}>{{ profession.name }}</option>
                                    {% endfor %}
                                </select>
								<h3 style="color:#CADD68;">Palabras clave</h3>
								<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et dolore magna aliqua</h6>
								<select class="origin-keywords js-example-basic-multiple" style="border-radius: 50px; padding:10px; width:100%;" name="states[]" multiple="multiple">
                                    <option value="AL">Alabama</option>
                                    <option value="O">Otra</option>
                                    <option value="WY">Wyoming</option>
								</select>
							</fieldset>
						</div>
						<div class="col-md-4">
							<br>
							<fieldset>
								<br>
								<br>
								<h3 style="color:#CADD68;">Descripción de tu oferta laboral</h3>
								<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et dolore magna aliqua</h6>
                                <trix-editor name="description_es"></trix-editor>
							</fieldset>
						</div>
						<div class="col-md-2"></div>
					</div>
					<div class="row">
						<ul class="section-indicator">
							<li class="active"><div class="div-indicator"></div>Personaliza</li>
							<li class="active"><div class="div-indicator"></div>Diligencia</li>
							<li><div class="div-indicator tablinks"></div>Publica</li>
						</ul>
					</div>
				</div>
			</section>
			<!----------------------------------------------SECTION 3-------------------------------------------------->
			<br>
            <section class="section-three scroll-content" id="section-three">
                <div class="container">
					<div class="row">
						<div class="col-xs-4">
							<br>
							<div class="row">
								<div class="col-xs-4"><span style="font-size: 115px;font-weight: 750;color:#CADD68;">3<span style="font-size:100px;font-weight:50;">.</span></span></div>
								<div class="col-xs-8"><span>PUBLICA TU<br>OFERTA LABORAL</span></div>
							</div>
						</div>
						<div class="col-xs-8"><br></div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<h3 style="transform: rotate(-90deg);">RESUMEN</h3>
							<div class="keywords"></div>
						</div>
						<div class="col-xs-4">
							<br>
							<fieldset>
								<br>
								<br>
								<h3 style="color:#CADD68;">Ciudad</h3>
								<h6 class="city"></h6><br>
								<h3 style="color:#CADD68;">Título de tu oferta laboral</h3>
								<h6 class="vacancy-tittle"></h6><br>
								<h3 style="color:#CADD68;">Cargo solicitado</h3>
								<h6 class="charge"></h6><br>
								<h3 style="color:#CADD68;">Descripción de tu oferta laboral</h3>
								<h6 class="vacancy-description"></h6>
							</fieldset>
						</div>
						<div class="col-xs-4">
							<a id="publish-campaign-button" class="button-cta" role="button" onclick="on()">PUBLICAR MI CAMPAÑA</a>
						</div>
						<div class="col-xs-2"></div>
					</div>
					<div class="row">
						<ul class="section-indicator">
							<li class="active"><div class="div-indicator"></div>Personaliza</li>
							<li class="active"><div class="div-indicator"></div>Diligencia</li>
							<li class="active"><div class="div-indicator"></div>Publica</li>
						</ul>
					</div>
				</div>
			</section>

			<div id="overlay">
                <div id="form-image">
                    <div id="register-form">
                        <fieldset>
                            <span id="exitDingbat" onclick="off()">X</span>
                            <br>
                            <br>
                            <span>Nombre</span>
                            <input class="form-input" name="name" required="required" pattern="[A-Za-z\sáéíóúÑñÜüÁÉÍÓÚ]{1,200}">
 							<br>
                            <span>Empresa</span>
                            <input class="form-input" name="company">
                            <span>Correo</span>
                            <input class="form-input" type="email" name="username" required="required">
                            <span>Teléfono</span>
                            <input class="form-input" type="tel" name="phone" required="required" pattern="[0-9\(\)\+\-\s\.extension]{7,40}">
                            <br>
                            <span>Contraseña</span>
                            <input class="form-input" type="password" name="password1" required="required">
							<br>
                            <span>Confirmar contraseña</span>
                            <input class="form-input" type="password" name="password2" required="required">
                            <br>
                        </fieldset>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </form>
		<!----------------------------------------------FOOTER--------------------------------------------------------->
		<footer class="scroll-content container-fluid">
			<div class="row" style="padding-bottom:30px;">
				<div class=" col-xs-2 col-md-2 "></div>
				<div class=" col-xs-3 col-md-3  navfooter" >
					<ul style="float:left">
						<li><a href="#">Nosotros</a></li>
						<li><a href="{% url 'business:contact_form' %}">Contáctanos</a></li>
						<li><a href="{% url 'beta_invite:index' %}">Personas</a></li>
					</ul>
				</div>
				<div class="col-xs-2 col-md-2 redesfooter" style="text-align:center">
					<a href="https://www.linkedin.com/company-beta/16241506/" target="_blank"><img src="{% static 'business/new_images/linkedin.png' %}"></a>
					<a href="https://www.facebook.com/PeakU-Latam-1916685895214519/?ref=aymt_homepage_panel" target="_blank"><img src="{% static 'business/new_images/facebook.png' %}"></a>
					<a href="#" target="_blank"><img src="{% static 'business/new_images/instagram.png' %}"></a>
					<a href="#" target="_blank"><img src="{% static 'business/new_images/twitter.png' %}"></a>
				</div>
				<div class=" col-xs-1 col-md-1"></div>
				<div class=" col-xs-2 col-md-2 navfootercontact">
					<div style="width:20%; float:left; display:block; margin-top:10px; margin-left:-30px; "><a href="#"><img src="{% static 'business/new_images/logo-white.png' %}"></a></div>
					<div style="width:80%; float:right; display:block; padding-left:20px">contacto@peaku.co<br>
						+57 311 6109340<br>
						Colombia
					</div>
				</div>
				<div class=" col-xs-2 col-md-2 "></div>
			</div>
			<div class="row">
				<div class="col-1 col-md-1"></div>
				<div class="col-10 copyright">Copyright 2016 © PeakU. Todos los derechos reservados.</div>
				<div class="col-1"></div>
			</div>
		</footer>
        <!--slider-->
		<script type="text/javascript">
			$(".regular").slick({
				infinite: true,
				slidesToShow: 4,
				slidesToScroll: 1,
                focusOnSelect: true
                // variableWidth: true (change the slides width)
			});

			$('.regular').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
				var background = $('.slide-' + nextSlide).data('background');
				$(".main-section").css('background', 'url(' + background + ') 0% 0% / cover')
			});
		</script>
        <!--TopNav-->
		<script>
			function myFunction() {
				var x = document.getElementById("myTopnav");
				if (x.className === "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
		</script>
        <!--Section 3 brief-->
		<script>
			 $('.origin-city').on('keyup', function() {

				var text = $(this).val();
			 	$('.city').text(text);
			});

			$('.origin-vacancy-tittle').on('keyup', function() {

				var text = $(this).val();
			 	$('.vacancy-tittle').text(text);
			});

			$('.origin-charge').on('keyup', function() {

				var text = $(this).val();
			 	$('.charge').text(text);
			});

			$('.origin-keywords').on('select2:select select2:unselect', function(e) {
			 	var data = $('.origin-keywords').select2('data');

			 	$('.keywords').empty();
			 	$.each(data, function(key, value) {
			 	   $('.keywords').append('<h6>' + value.text + '</h6>');
			 	})
			 });

			 $('#text-area').on('keyup', function() {

				var text = $(this).val();
			 	$('.vacancy-description').text(text);
			});
		</script>
        <!--Form Transition-->
		<script>
			function on() {
			if (document.getElementById("overlay").style.display != "block") {
                console.log("dentro del if")
                document.getElementById("overlay").style.display = "block";
                document.getElementById("register-form").style.display = "block";
                $("html").css("background-size", "cover");
                $("#option1").css("color", "white");
                $("#option2").css("color", "white");
                $("nav").css("margin-bottom", "40px");
                $("#register-form").animate({"marginLeft": '60%'}, 650,"swing");
                $("#form-image").animate({"backgroundPosition": '86%'}, 650,"swing");
                $("html").css("overflow", "hidden");

                //$("#publish-campaign-button").animate({left: '250px'}, 2000, "swing");
                $("#publish-campaign-button").animate({marginTop: '370px', marginLeft: '160px', marginRight: '-160px'}, 2000, "swing");
                $("#publish-campaign-button").css('z-index', 9999);
                $("#publish-campaign-button").css('position', 'absolute');

                } else { // enters here upon the second click
                    document.getElementById("big-form").submit();
                }
			}

			function off() {
				document.getElementById("overlay").style.display = "none";
				document.getElementById("register-form").style.display = "none";
				$("html").css("background-size", "contain");
				$("#option1").css("color", "#3d4753");
				$("#option2").css("color", "#3d4753");
				$("nav").css("margin-bottom", "");
				$("#register-form").animate({marginLeft: '160%'});
				$("#form-image").animate({"backgroundPosition": '186%'}, 650,"swing");
				$("html").css("overflow-y", "scroll");
			}
		</script>
        <!--Scroll-->
        <script>
        $(function() {
          $.scrollify({
            section : ".scroll-content",
          });
        });
        </script>
        <!--Copy text of trix-->
        <script type="text/javascript">
            document.addEventListener("trix-change", function(event) {
              var element = event.target
              var html = element.value  // "<div>This is an <strong>example</strong></div>"
              $('.vacancy-description').html(html);
              $.scrollify.update();
            });
        </script>

        <script>
            $(document).ready(function() {
                $('.js-example-basic-multiple').select2();
            });
        </script>
	</body>
</html>

