<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load app_filters %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>PeakU - Selección de personal</title>
        <!--Latest compiled and minified bootstrap CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--Select2-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <!--Slider-->
        <link rel="stylesheet" type="text/css" href="{% static 'business/css/slick.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'business/css/slick-theme.css' %}"/>
        <!--Trix-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.2/trix.css" />
        <!--Our Css-->
        <link rel="stylesheet" type="text/css" href="{% static 'business/css/start.css' %}">
        <!--Favicon-->
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon-16.png' %}">
        <link rel="apple-touch-icon" sizes="32x32" href="{% static 'testing_webpage/favicon.ico/favicon-32.png' %}">
        <link rel="apple-touch-icon" sizes="64x64" href="{% static 'testing_webpage/favicon.ico/favicon-64.png' %}">
        <!-- Latest jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--Scroll-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.js"></script>
        <!--Slider-->
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <!--Trix-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.2/trix.js"></script>
        <!--Select2-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <!--Our js-->
        <script type="text/javascript" src="{% static 'business/js/start.js' %}"></script>
        <script id="Heat-map" type="text/javascript">
        window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', '495c7bd6807a0ab2c17ade2e03cac13bab9f1b84');
        </script>
    </head>
    <!----------------------------------------------SECTION 1---------------------------------------------------------->
    <body>
        <section class="main-section scroll-content" id="main-section">
            <div class="gradient1">
                <div class="gradient2">
                    <div class="topnav" id="myTopnav">
                        <div>
                            <a href="/staffing" class="logo"><img src="{% static 'business/img/logo-color.png' %}"></a>
                            <a class="navButton" role="button" onclick="on_login()">INICIA SESIÓN</a>
                            <a class="navButton" role="button" onclick="on_signup()">CREA TU CUENTA</a>
                            <a class="navText" href="{% url 'business:contact_form' %}">Contáctanos</a>
                            <a class="navText" href="{% url 'beta_invite:index' %}">Personas</a>
                            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
                        </div>
                    </div>
                    <div id="overlay-signup">
                <div class="form-image">
                    <form class="only-register-form" action="{% url 'business:business_signup' %}" method="post">
						{% csrf_token %}
                        <fieldset>
                            <span class="exitDingbat" onclick="off_signup()">X</span>
                            <br>
                            <br>

                            <span>Nombre</span>
                            <input class="form-input" name="name"
							required="required" pattern="[A-Za-z\sáéíóúÑñÜüÁÉÍÓÚ]{1,200}">
							<br>
                            <span>Empresa</span>
                            <input class="form-input" name="company">
							<br>
                            <span>Correo</span>
                            <input class="form-input" type="email" name="username" required="required">
							<br>
                            <span>Teléfono</span>
                            <input class="form-input" type="tel" name="phone"
								   required="required" pattern="[0-9\(\)\+\-\s\.extension]{7,40}">
							<br>
                            <span>Contraseña</span>
                            <input class="form-input" type="password" name="password1" required="required">
							<br>
                            <span>Confirmar contraseña</span>
                            <input class="form-input" type="password" name="password2" required="required">
                            <br>
                            <input type="submit" class="submit" value="COMIENZA AHORA">
                        </fieldset>
                        <span class="form-label">¿Ya eres un usuario registrado? Inicia sesión
							<a style="color:white" href="javascript:void(0);" onclick="off_signup() & on_login()">
								<strong>Aquí</strong>
							</a>
						</span>
                    </form>
                </div>
            </div>
                    <div id="overlay-login">
                        <div class="form-image">
                            <form id="login-form" method="post" action="{% url 'business:home' %}" >
                                {% csrf_token %}
                                <fieldset>
                                    <span class="exitDingbat" onclick="off_login()">X</span>
                                    <br>
                                    <br>
                                    <span>Correo</span>
                                    <input name="username" class="form-input"><br>
                                    <span>Contraseña</span>
                                    <input name="password" class="form-input" type="password"><br>
                                    <span style="font-size:10px;"><a href="#" style="color:white">Olvidé mi contraseña</a></span>
                                    <span style="font-size:10px">
                                    <a href="javascript:void(0);" style="color:white" onclick="off_login() & on_signup()">Aun no estoy registrado
                                    </a>
                                    </span>
                                    <br>
                                    <br>
                                    <input type="submit" class="submit" value="ACCEDER">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row" style="height:450px; color: white;">
                            <div class="col-xs-6 hidejs">
                                <div class="col-xs-2" style="top:300px;">
                                    <span class="big-number first">1<span class="first-point">.</span></span>
                                </div>
                                <div class="col-xs-10" style="top: 345px;">
                                    <span style="font-family : BertholdAkzidenzGroteskSuper; font-size : 20px;color : #FFFFFF;"><br>ESCOGE UN FONDO<br>ACORDE A TU VACANTE</span>
                                </div>
                            </div>
                            <div class="col-xs-6 hidejs" style="text-align:right;top:150px;">
                                <span style="font-family: BertholdAkzidenzGroteskSuper; font-size: 40px; color: rgb(255, 255, 255);">
                                PERSONALIZA TU<br>
                                OFERTA EN 3 PASOS<br>
                                </span>
                                <span style="font-family : BertholdAkzidenzGroteskRegular;font-size : 32px;color : rgb(255, 255, 255);">
                                y encuentra los mejores candidatos<br>
                                para tu vacante
                                </span>
                            </div>
                        </div>
                        <div class="row hidejs">
                            <div class="col-xs-8">
                                <section class="regular slider">
                                    <div class="slide-0 slide-css" data-background="{% static 'business/img/Start_BG-01-min.jpg' %}">
                                        <img class="img-rounded" src="{% static 'business/img/Start-carrusel-01.jpg' %}">
                                        <p class="slider-description">Administrativos</p>
                                    </div>
                                    <div class="slide-1 slide-css" data-background="{% static 'business/img/Start_BG-02-min.jpg' %}">
                                        <img class="img-rounded" src="{% static 'business/img/Start-carrusel-02.jpg' %}">
                                        <p class="slider-description">Operativos</p>
                                    </div>
                                    <div class="slide-2 slide-css" data-background="{% static 'business/img/Start_BG-03-min.jpg' %}">
                                        <img class="img-rounded"src="{% static 'business/img/Start-carrusel-03.jpg' %}">
                                        <p class="slider-description">Técnicos</p>
                                    </div>
                                    <div class="slide-3 slide-css" data-background="{% static 'business/img/Start_BG-04-min.jpg' %}">
                                        <img class="img-rounded" src="{% static 'business/img/Start-carrusel-04.jpg' %}">
                                        <p class="slider-description">Arquitectos</p>
                                    </div>
                                    <div class="slide-4 slide-css" data-background="{% static 'business/img/Start_BG-05-min.jpg' %}">
                                        <img class="img-rounded" src="{% static 'business/img/Start-carrusel-05.jpg' %}">
                                        <p class="slider-description">Diseñadores</p>
                                    </div>
                                    <div class="slide-5 slide-css" data-background="{% static 'business/img/Start_BG-06-min.jpg' %}">
                                        <img class="img-rounded" src="{% static 'business/img/Start-carrusel-06.jpg' %}">
                                        <p class="slider-description">Recursos humanos</p>
                                    </div>
                                    <div class="slide-6 slide-css" data-background="{% static 'business/img/Start_BG-07-min.jpg' %}">
                                        <img class="img-rounded" src="{% static 'business/img/Start-carrusel-07.jpg' %}">
                                        <p class="slider-description">Ingenieros</p>
                                    </div>
                                </section>
                            </div>
                            <div class="col-xs-4">

                                <!--
                                <span style="font-size:170px;margin: px 50%;color: black;position:absolute;z-index:200;">&#x02C5;</span>
                                <ul class="section-indicator">
                                    <li class="active">
                                        <div class="div-indicator"></div>
                                        Personaliza
                                    </li>
                                    <li>
                                        <div class="div-indicator"></div>
                                        Diligencia
                                    </li>
                                    <li>
                                        <div class="div-indicator"></div>
                                        Publica
                                    </li>
                                </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="svg-container hidejs">
                <svg id="the-S" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1960.62 279.47">
                    <defs>
                        <style>.cls-1{fill:white;}</style>
                    </defs>
                    <path id="_Trazado_" data-name="&lt;Trazado&gt;" class="cls-1" d="M1961,280.47l1-277.48V0h-587a137.18,137.18,0,0,0-53.79,10.9c-3.51,1.46-6.94,3.1-10.27,4.89a137.38,137.38,0,0,0-46.81,40.08q-3.21,4.35-6.15,9a137.17,137.17,0,0,0-20.67,66.22c-.11,2.25-.18,4.51-.17,6.75,0,2.7-.09,5.35-.25,8A136.75,136.75,0,0,1,1214,211.61c-1.93,3.07-4,6.08-6.19,9a137.69,137.69,0,0,1-47.06,39.79c-3.37,1.76-6.8,3.36-10.34,4.82a137.59,137.59,0,0,1-52.9,10.54H-.29a15.14,15.14,0,0,0,0,1.91l.05,1.81H1959.36Z" transform="translate(0.31 0)"></path>
                </svg>
            </div>
        </section>
        <!----------------------------------------------SECTION 2------------------------------------------------------>
        <form id="big-form" class="noBorderForm hidejs" action="{% url 'business:start_post' %}" method="post">
            {% csrf_token %}
            <section class="section-two" id="section-two">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <br>
                            <div class="row">
                                <div class="col-md-2"><span class="big-number">2<span class="point">.</span></span></div>
                                <div class="col-md-10" style="left: 40px; top:75px;"><span style="font-family : BertholdAkzidenzGroteskSuper; font-size : 20px;color : #656665;">REGISTRA LOS DATOS<br>DE TU OFERTA LABORAL</span></div>
                            </div>
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <fieldset class="section2-content">
                                <br>
                                <h3 style="font-family : Helvetica Bold;font-weight : bold;font-size : 23px;color : #656665;">Ciudad</h3>
                                <select class="origin-city" style="border-radius: 50px; padding:10px; width:60%;border: 2px solid #aaa" name="city_id" >
                                    <option value="" disabled selected></option>
                                    {% for city in cities %}
                                    <option value={{ city.id }}>{{ city.name }}</option>
                                    {% endfor %}
                                </select>
                                <h3 style="font-family : Helvetica Bold;font-weight : bold;font-size : 23px;color : #656665;">Título de la oferta</h3>
                                <h6 style=" font-family : Helvetica;font-size : 13px;color : #3B4754;">Usa un título específico para que los candidatos tengan muy claro a que están aplicando</h6>
                                <input class="origin-vacancy-tittle form-input" style="border-radius: 50px; padding:10px; width:100%;border: 2px solid #aaa" name="title_es"><br>
                                <h3 style="font-family : Helvetica Bold;font-weight : bold;font-size : 23px;color : #656665;">Cargo solicitado</h3>
                                <h6>Selecciona el área que más se adapte al perfil que estás buscando</h6>
                                <select class="drop-down" name="work_area_id" style="border-radius: 50px; padding:10px; width:100%;border: 2px solid #aaa">
                                    <option value="" disabled selected></option>
                                    {% for work_area in work_areas %}
                                    <option value={{ work_area.id }}>{{ work_area.name }}</option>
                                    {% endfor %}
                                </select>
                                <h3 style="font-family : Helvetica Bold;font-weight : bold;font-size : 23px;color : #656665;">Rango salarial</h3>
                                <h6>Asigna el rango salarial que estás dispuesto a ofrecer</h6>
                                <input class="origin-salary-min form-input little" step="100000" type="number" min="0" style="border-radius: 50px; padding:10px; width:45%;display:inline;border: 2px solid #aaa" name="salary">
                                <span style="margin: 0px 2.4%;">a</span>
                                <input class="origin-salary-max form-input little" step="100000" type="number" min="0" style="border-radius: 50px; padding:10px; width:45%;display:inline;border: 2px solid #aaa" name="salary">
                                <!--
                                <h3 style="font-family : Helvetica Bold;font-weight : bold;font-size : 23px;color : #656665;">Requisitos</h3>
                                <h6>Agrega palabras clave que ayuden a distinguir los requerimientos más importantes para la oferta</h6>
                                <select class="origin-keywords js-example-basic-multiple" style=" padding:10px; width:100%;" name="states[]" multiple="multiple">
                                    <option value="AL">Alabama</option>
                                    <option value="O">Otra</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                                -->

                            </fieldset>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <br>
                            <fieldset style="width:80%;">
                                <br>
                                <br>
                                <h3 style="font-family : Helvetica Bold;font-weight : bold;font-size : 23px;color : #656665;">Descripción de tu oferta laboral</h3>
                                <h6>Explica la oferta lo mejor posible, te recomendamos ingresar el detalle de la vacante, requisitos y beneficios. Trata de usar poco texto y dar mucha información !</h6>

                                <trix-editor></trix-editor>
                                <textarea name="description_es" style="display:none;" class="backend-description"></textarea>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </section>
            <!----------------------------------------------SECTION 3-------------------------------------------------->
            <br>
            <section class="section-three" id="section-three">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <br>
                            <div class="row">
                                <div class="col-xs-4"><span class="big-number">3<span class="point">.</span></span></div>
                                <div class="col-xs-8" style="left: 40px; top:75px;"><span style="font-family : BertholdAkzidenzGroteskSuper; font-size : 20px;color : #656665;">PUBLICA TU<br>OFERTA LABORAL</span></div>
                            </div>
                        </div>
                        <div class="col-xs-8"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="little-section final-hide">
                                <h6 class="vacancy-tittle"></h6>
                                <br>
                                <h6 class="city"></h6>
                            </div>
                            <a id="publish-campaign-button" class="button-cta" role="button" onclick="on()">PUBLICAR MI OFERTA</a>
                        </div>
                        <div class="col-xs-4" >
                            <fieldset>
                                <span style="font-family : BertholdAkzidenzGroteskSuper; font-size : 35px; color : #656665;  opacity : 0.2;">RESUMEN<br>DE TU OFERTA</span>
                                <h3 style="font-family : Helvetica Bold;font-weight : bold;font-size : 23px;color : #656665;">Cargo solicitado</h3>
                                <h6 class="charge" style=" font-family : Helvetica;font-size : 13px;color : #3B4754;"></h6>
                                <br>
                                <h3 style="font-family : Helvetica Bold;font-weight : bold;font-size : 23px;color : #656665;">Descripción de tu oferta laboral</h3>
                                <h6 class="vacancy-description" style=" font-family : Helvetica;font-size : 13px;color : #3B4754;"></h6>
                            </fieldset>
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                </div>

            <div id="overlay">
                <div class="form-image final">
                    <div id="register-form">
                        <fieldset>
                            <span class="exitDingbat" onclick="off()">X</span>
                            <br>
                            <br>
                            <span>Nombre</span>
                            <input class="form-input" name="name" required="required" pattern="[A-Za-z\sáéíóúÑñÜüÁÉÍÓÚ]{1,200}">
                            <br>
                            <span>Empresa</span>
                            <input class="form-input" name="company">
                            <span>Correo</span>
                            <input class="form-input" type="email" name="username" required="required">
                            <span>Teléfono</span>
                            <input class="form-input" type="tel" name="phone" required="required" pattern="[0-9\(\)\+\-\s\.extension]{7,40}">
                            <br>
                            <span>Contraseña</span>
                            <input class="form-input" type="password" name="password1" required="required">
                            <br>
                            <span>Confirmar contraseña</span>
                            <input class="form-input" type="password" name="password2" required="required">
                            <br>
                        </fieldset>
                    </div>
                </div>
            </div>
            </section>
        </form>
        <!----------------------------------------------FOOTER--------------------------------------------------------->
        <footer class="container-fluid">
            <div class="row" style="padding-bottom:30px;">
                <div class=" col-xs-2 col-md-2 "></div>
                <div class=" col-xs-3 col-md-3  navfooter" >
                    <ul style="float:left">
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="{% url 'business:contact_form' %}">Contáctanos</a></li>
                        <li><a href="{% url 'beta_invite:index' %}">Personas</a></li>
                    </ul>
                </div>
                <div class="col-xs-2 col-md-2 redesfooter" style="text-align:center">
                    <a href="https://www.linkedin.com/company-beta/16241506/" target="_blank"><img src="{% static 'business/img/linkedin.png' %}"></a>
                    <a href="https://www.facebook.com/PeakU-Latam-1916685895214519/?ref=aymt_homepage_panel" target="_blank"><img src="{% static 'business/img/facebook.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'business/img/instagram.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'business/img/twitter.png' %}"></a>
                </div>
                <div class=" col-xs-1 col-md-1"></div>
                <div class=" col-xs-2 col-md-2 navfootercontact">
                    <div style="width:20%; float:left; display:block; margin-top:10px; margin-left:-30px; "><a href="#"><img src="{% static 'business/img/logo-white.png' %}"></a></div>
                    <div style="width:80%; float:right; display:block; padding-left:20px">contacto@peaku.co<br>
                        +57 311 6109340<br>
                        Colombia
                    </div>
                </div>
                <div class=" col-xs-2 col-md-2 "></div>
            </div>
            <div class="row">
                <div class="col-1 col-md-1"></div>
                <div class="col-10 copyright">Copyright 2018 © PeakU. Todos los derechos reservados.</div>
                <div class="col-1"></div>
            </div>
        </footer>
        <!--slider-->
        <script type="text/javascript">
            $(".regular").slick({
            	infinite: true,
            	slidesToShow: 4,
            	slidesToScroll: 1,
                focusOnSelect: true,
                         // variableWidth: true (change the slides width)
                responsive: [
                {
                  breakpoint: 1200,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                  }
                },
                {
                  breakpoint: 600,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
              ]
            });

            $('.regular').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
            	var background = $('.slide-' + nextSlide).data('background');
            	$(".main-section").css('background', 'url(' + background + ') 0% 0% / cover');
            	$(".little-section").css('background', 'url(' + background + ') 0% 0% / cover')
            });
        </script>
        <!--TopNav-->
        <script>
            function myFunction() {
            	var x = document.getElementById("myTopnav");
            	if (x.className === "topnav") {
            		x.className += " responsive";
            	} else {
            		x.className = "topnav";
            	}
            }
        </script>
        <!--Section 3 brief-->
        <script>
            $('.origin-city').on('change', function() {
            	var text = $(this).find('option:selected').text();
             	$('.city').text(text);
            });

            $('.origin-vacancy-tittle').on('keyup', function() {
            	var text = $(this).val();
             	$('.vacancy-tittle').text(text);
            });

            $('.drop-down').on('change', function() {
            	var text = $(this).find('option:selected').text();
             	$('.charge').text(text);
            });

        </script>
        <!--Copy text of trix-->
        <script type="text/javascript">
            document.addEventListener("trix-change", function(event) {
                var element = event.target
                var html = element.value
                $('.vacancy-description').html(html);
                $('.backend-description').text(html);
            });
        </script>
        <!--Form Transition-->
        <!--Final form Transition-->
        <!--Select2-->
        <script>
            $(document).ready(function() {
                $('.js-example-basic-multiple').select2();
                $('.select2-selection').css({'border-radius':'50px','border':'2px solid #aaa','padding':'6px', 'width':'100%'});
            });

        </script>
        <!--Form Transition-->
        <script>
            function on() {
            if (document.getElementById("overlay").style.display != "block") {
            console.log("dentro del if")
            document.getElementById("overlay").style.display = "block";
            document.getElementById("register-form").style.display = "block";
            $("html").css("background-size", "cover");
            $("#option1").css("color", "white");
            $("#option2").css("color", "white");
            $("nav").css("margin-bottom", "40px");
            $("#register-form").animate({"opacity": '1'}, 1500,"swing");
            $("#publish-campaign-button").animate({marginTop: '60%', marginLeft: '8%'}, 2000, "swing");
            $("#publish-campaign-button").css('z-index', 9999);
            $("#publish-campaign-button").css('position', 'absolute');
            $(".final-hide").animate({"opacity": '0'}, 1500,"swing");

            } else { // enters here upon the second click
                document.getElementById("big-form").submit();
            }
            }

            function off() {
            $("html").css("background-size", "contain");
            $("#option1").css("color", "#3d4753");
            $("#option2").css("color", "#3d4753");
            $("nav").css("margin-bottom", "");
            $("#register-form").animate({"opacity": '0'}, 1500,"swing");
            $("#publish-campaign-button").animate({marginTop: '0%', marginLeft: '0%'}, 2000, "swing");
            $(".final-hide").animate({"opacity": '1'}, 1500,"swing");
            document.getElementById("overlay").style.display = "none";
            }
        </script>
        <script>
            function on_login() {
            $("#overlay-login").css("display", "block");
            $(".hidejs").css("display", "none");
            $("#login-form").css("display", "block");
            $("html").css("background-size", "cover");
            $("#option1").css("color", "white");
            $("#option2").css("color", "white");
            $("nav").css("margin-bottom", "40px");
            $("#login-form").animate({"marginLeft": '60%'}, 650,"swing");
            $("html").css("overflow", "hidden");
            }

            function off_login() {
            $("#overlay-login").css("display", "none");
            $(".hidejs").css("display", "block");
            $("#login-form").css("display", "none");
            $("html").css("background-size", "contain");
            $("#option1").css("color", "#3d4753");
            $("#option2").css("color", "#3d4753");
            $("nav").css("margin-bottom", "");
            $("#login-form").animate({marginLeft: '160%'});
            $("html").css("overflow-y", "scroll");
            }

            function on_signup() {
            $("#overlay-signup").css("display", "block");
            $(".hidejs").css("display", "none");
            $(".only-register-form").css("display", "block");
            $("html").css("background-size", "cover");
            $("#option1").css("color", "white");
            $("#option2").css("color", "white");
            $("nav").css("margin-bottom", "40px");
            $(".only-register-form").animate({"marginLeft": '60%'}, 650,"swing");
            $(".form-image").animate({"backgroundPosition": '86%'}, 690,"swing");
            $("html").css("overflow", "hidden");
            }

            function off_signup() {
            $("#overlay-signup").css("display", "none");
            $(".hidejs").css("display", "block");
            $(".only-register-form").css("display", "none");
            $("html").css("background-size", "contain");
            $("#option1").css("color", "#3d4753");
            $("#option2").css("color", "#3d4753");
            $("nav").css("margin-bottom", "");
            $(".only-register-form").animate({marginLeft: '160%'});
            $(".form-image").animate({"backgroundPosition": '186%'}, 1,"swing");
            $("html").css("overflow-y", "scroll");
            }
        </script>

        <!-- any incoming error_message will print as an alert.-->
        <script>
        {% if error_message %}
            alert("{{ error_message }}");
        {% endif %}
        </script>
    </body>
</html>
