{% extends 'base.html'%}
{% load static %}   <!-- Generates the absolute URL of static files-->
{% load i18n %}     <!--Django translation-->

{% block title %}{% trans "Personnel Selection - PeakU" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/start.css' %}">
    <script type="text/javascript" src="{% static 'business/js/start.js' %}"></script>
    <script type="text/javascript" src="{% static 'business/js/preview_of_start.js' %}"></script>
    <script type="text/javascript" src="{% static 'business/js/add_bullets.js' %}"></script>
    <script type="text/javascript" src="{% static 'business/js/preview_helper.js' %}"></script>

    <!-- MailerLite Universal -->
    <script>
        (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
        var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
        f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
        var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
        _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
        var ml_account = ml('accounts', '1042996', 'o9s9l3m3p3', 'load');
    </script>
{% endblock %}

{% block content %}

    <h2 style="color:var(--brochure-blue); margin-left: 7%; margin-top: 3%;margin-bottom: 1%;">{% trans "CAMPAIGN CREATION" %}</h2>
    <h5 class="paragraph" align="center" style="margin-left: 7%;">
        <p>{% trans "Enter the information of the vacancy and the company, register and start receiving applicants" %}</p>
        <p>{% trans "Everything in less than ten minutes. That easy !" %}</p>
    </h5>

    <div class="tab">
        <button id="vacancy_button" class="tab-links active" onclick="tab(event, 'vacancy')">{% trans "JOB DETAILS" %}</button>
        <button id="company_button" class="tab-links" onclick="tab(event, 'company')" disabled >{% trans "COMPANY DETAILS" %}</button>
        <button id="start_button" class="tab-links" onclick="tab(event, 'start')" disabled >{% trans "SIGN UP" %}</button>
    </div>

    <form class="content" action="{% url 'business:start_post' %}" method="post">
        {% csrf_token %}

        <div id="vacancy" class="tab-content">
            {% include "business/new/tab_vacancy.html" %}
        </div>

        <div id="company" class="tab-content">
            {% include "business/new/tab_company.html" with company_submit=False %}
        </div>

        <div id="start" class="tab-content">
            {% include "business/new/tab_signup.html"%}
        </div>
    </form>

    <!-- After loading every element, sets the first element as active.-->
    <script type="text/javascript">
       activate_tab('vacancy');
    </script>

    <!-- any incoming error_message will print as an alert.-->
    <script>
    {% if error_message %}
        alert("{{ error_message }}");
    {% endif %}
    </script>

{% endblock %}

