<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load i18n %} <!--Django translation-->
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'business/css/vacancy.css' %}">
    </head>

    <body class="indent_style">
        <br>

        <div class="row">
            <div class="col-sm-6">
                <h2 class="title-blue" align="center">{% trans "Job description" %}</h2>
                <div class="secondary-yellow-bar"></div>

                <h5 class="paragraph">
                    <p>{% trans "Add the title and the most important requirements for the job" %}</p>
                    <p>{% trans "Use a striking title to attract more candidates" %}</p></h5>

                <div style="margin-top: 50px;">
                    <h3 id="title" class="title-blue-small">{% trans "Job title" %}</h3>
                    <h5 class="paragraph">{% trans "This is the first title that your applicants will see, use a shocking title to attract more people" %}</h5>
                    <input id="position-title-field" oninput="copyJobTitle()" type="text" name="title_es" placeholder="{% trans 'Add the job title' %}">
                </div>

                <div style="margin-top: 50px;">
                    <h3 class="title-blue-small">{% trans "Profession" %}</h3>
                    <h5 class="paragraph">{% trans "Select the ideal profession, for this position" %}</h5>
                    <select id="profession" name="profession_id" >
                        <option value="" disabled selected>{% trans "Select Profession" %}</option>
                        {% for profession in professions %}
                            <option value="{{ profession.id }}">{{ profession.name }}</option>
                        {% endfor %}
                    </select>
                </div>



                <div style="margin-top: 50px;">
                    <h3 class="title-blue-small">{% trans "Requirements" %}</h3>
                    <h5 class="paragraph">{% trans "Enter the minimum requirements for the job" %}</h5>

                    <div id="requirement-container">
                        <input class="box-input" type="text" name="1_new_bullet_name_es" id="1_requirement" size="80"
                               placeholder="{% trans 'Input a requirement' %}" oninput="editPreviewBullets(this.id)">
                        <input name="1_new_bullet_type" type="hidden" value="2">
                        <br>
                    </div>

                    <div class="requirement-buttons">

                        <input class="delete-button my-button" type="button" name="remove_bullet" value="-"
                        onclick="removeBullet('requirement');">

                        <input class="blue-button my-button" type="button" name="add_bullet" value="+"
                        onclick="addBullet('requirement', '{% trans 'Requirement' %}',
                        '{% trans 'Input a Requirement' %}');">
                    </div>
                </div>
            </div>

             <div class="col-sm-6">

                <h2 class="title-blue preview-title">{% trans "Preview" %}</h2>
                <div class="secondary-yellow-bar preview-title-yellow-bar"></div>

                <div class="thumbnail-container">
                    <div class="my_thumbnail">
                        <iframe id="vacancy_iframe" class="preview" onload="addBulletOnIframe({'perk':1, 'requirement':1}, 'vacancy', '{% trans 'Requirements' %}', '{% trans 'Perks' %}'); disables(); " scrolling="no" src="{% url 'beta_invite:index' %}?campaign_id=9"
                            frameborder="0"></iframe>
                    </div>
                </div>
                <input class="submit-button-strong vacancy-next" type="button" name="next_step" value="{% trans 'Continue' %}"
                       onclick="next_step_tab(event, 'company')">
            </div>
        </div>
    </body>
</html>
