table {
    width:98%;
}
table, th, td, tr {
    border: 2px solid black;
}

td {
    text-align: left;
    font-size: 12px;
}

table th {
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    width:14%;
}

.column_title {
    margin-top:10px;
}

/* Email */
#email-box {
    margin-left:150px;
}

#email-subject {
    width: 20%;
}
