.secondary-title {
    font-size:30px;
    word-spacing:5px;
    letter-spacing:2px;
}

table {
    width:98%;
    margin:auto;
}
table, th, td, tr {
    border: 2px solid black;
}

td {
    text-align: left;
    font-size: 13px;
    padding-left:20px;
}

table th {
    background-color: var(--brochure-blue);
    color: var(--white);
    text-align: center;
    width:25%;
}

.column_title {
    margin-top:10px;
}

/* Email */
#email-box {
    margin-left:150px;
}

#email-subject {
    width: 20%;
}
