/* Plans */
table {
    font-size:40px;
    color:var(--text-color);
}

th, td {
    padding:10px;
    align:center;
    text-align:center;
    font-size:14px;
}

th {
    font-size:20px;
}

.special-td{
    text-align:left;
}

a {
    font-size:14px;
}

.price {
    font-size:20px;
	text-align: center;
	color: var(--brochure-blue);
}

.responsive-plans {
    display:none;
}

@media (max-width: 679px) and (min-width:520px){

    .plans th,td {
        float:none;
        font-size:12px;
        padding:5px 0px;
    }

    .price {
        font-size:10px;
        margin-bottom:30px;
    }

    .responsive-plans {
        display:none;
    }
}

@media (max-width: 519px){
    .plans{
        display:none;
    }

    .responsive-plans{
        display:block;
    }

    .responsive-plans th,td, a{
        font-size:11px;
    }

    .price {
        font-size:15px;
    }
}

