@charset "UTF-8";

/**************************************************FONTS***************************************************************/

@font-face {
    font-family: BigJohn;
    src: url(/static/fonts/BIG_JOHN.otf);
    unicode-range: U+?????;
}

@font-face {
    font-family: NorthernBlock;
    src: url(/static/fonts/TheNorthernBlockLtdLoewHeavy.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskRegular;
    src: url(/static/fonts/BertholdAkzidenzGroteskRegular.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskLight;
    src: url(/static/fonts/BertholdAkzidenzGroteskBELight.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskBold;
    src: url(/static/fonts/BertholdAkzidenzGroteskBold.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskItalic;
    src: url(/static/fonts/BertholdAkzidenzGroteskItalic.otf);
}

@font-face {
    font-family: BertholdAkzidenzGroteskSuper;
    src: url(/static/fonts/BertholdAkzidenzGroteskSuper.otf);
}

/**************************************************GENERIC*************************************************************/

* { margin: 0; padding: 0; outline:0;}

html {
	height: 100%;
}

body {
    background-color:transparent !important;
    height: 100%;
}


/**************************************************SLIDER**************************************************************/

.regular.slider {
    z-index:2;
    position:relative;
    width:100%;
    margin: 0 auto 50px -5%;
}

.slide-css{
    margin-right: 10px;
}

.slide-css img{
    width:100%;
}

.slide-css img:hover{
    border:solid white
}

.slide-css img:hover + p {
    color : rgb(203, 221, 104);
    text-shadow : 2px 2px 2px rgba(35, 31, 32, 0.8);
}


.slider-description {
    color:white;
    text-align:center;
    font-family: BertholdAkzidenzGroteskRegular;
    font-size: 20px;
}

/* To change slick width
.slick-slide{
width: 170px;
}
*/

/**************************************************SVG*****************************************************************/

.svg-container {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  height:auto;
  bottom:-1%;
  position:absolute;
  opacity:0.99;
}

/**************************************************SECTIONS************************************************************/

.main-section {
	width:auto;
	background: url(../img/Start_BG-01-min.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.section-three {
    width:auto;
    min-height:700px;
	background: url(../img/start_section3.png);
	background-size: cover;
	position: relative;
}

.little-section {
    width:80%;
    height:auto;
    height:250px;
    background: url(../img/Start_BG-01-min.jpg);
    background-size: cover;
    position: absolute;
    border-radius:40px;
    margin-top:60px;
}

.button-cta {
    background-color: #ff9933;
	border-radius:40px;
    border: none;
    color: white;
    padding: 9px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 15px 0px;
    cursor: pointer;
	font-weight:600;
}

.big-number{
    font-family : BertholdAkzidenzGroteskSuper;
    font-size : 115px;
    color : rgb(203, 221, 104, 1);
}

.submit {
    width:142px;
    background-color: #ffffff;
	border-radius:40px;
    border: none;
    color: #3d4753;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
	font-size:11px;
    display: inline-block;
    cursor: pointer;
    margin-left:20px;
    margin-top:0;
    margin-bottom:30px;
}

.first{
    color : rgb(203, 221, 104, 0.5);
}

.first-point{
    margin-left:-15px;
    font-size:50px;
}

.point {
    font-size:50px;
}



/**************************************************GRADIENTS AND OVERLAYS**********************************************/

.gradient1 {
    background:-webkit-linear-gradient(90deg, rgba(23,32,42,0) 0%, rgba(23,32,42,1) 100%);
    background:-o-linear-gradient(90deg, rgba(23,32,42,0) 0%, rgba(23,32,42,1) 100%);
    background:-moz-linear-gradient(90deg, rgba(23,32,42,0) 0%, rgba(23,32,42,1) 100%);
    background:linear-gradient(90deg, rgba(23,32,42,0) 40%, rgba(23,32,42,0.3) 50%, rgba(23,32,42,0.5) 80%, rgba(0,0,0,0.6) 90%, rgba(0,0,0,1)100%);
}

.gradient2 {
    background:-webkit-linear-gradient(180deg, rgba(23,32,42,0) 0%, rgba(23,32,42,1) 100%);
    background:-o-linear-gradient(180deg, rgba(23,32,42,0) 0%, rgba(23,32,42,1) 100%);
    background:-moz-linear-gradient(180deg, rgba(23,32,42,0) 0%, rgba(23,32,42,1) 100%);
    background:linear-gradient(180deg, rgba(23,32,42,0) 60%,  rgba(23,32,42,0.5) 80%, rgba(0,0,0,0.6) 100%);
}

#overlay {
    position:fixed;
    width: 100%;
    height: 90%;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    display:none;
    background:transparent;
    }

#overlay-login {
    display:none;
    position:absolute;
    width: 100%;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    background:-webkit-linear-gradient(311deg, rgba(158,186,82,1) 0%, rgba(126,180,104,1) 8%, rgba(62,174,140,1) 26%, rgba(25,32,41,1) 72%, rgba(25,32,41,1) 100%);
    background:-o-linear-gradient(311deg, rgba(158,186,82,1) 0%, rgba(126,180,104,1) 8%, rgba(62,174,140,1) 26%, rgba(25,32,41,1) 72%, rgba(25,32,41,1) 100%);
    background:-moz-linear-gradient(311deg, rgba(158,186,82,1) 0%, rgba(126,180,104,1) 8%, rgba(62,174,140,1) 26%, rgba(25,32,41,1) 72%, rgba(25,32,41,1) 100%);
    background:linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
}

#login-form {
    z-index:1;
    position: relative;
    background:rgba(61,71,83,0.42);
    width:380px;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: 180px;
    margin-left: 160%;
    font-size:13px;
    border-radius:30px;
    box-shadow: 5px 5px 5px rgba(61,71,83,0.1);
}

#login-form fieldset{
    padding:0 22%;
}

#login-form fieldset span{
    color:white;
}

#overlay-signup {
    display:none;
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    background:-webkit-linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
    background:-o-linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
    background:-moz-linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
    background:linear-gradient(-49deg, rgba(158,186,82,1) 0%, rgba(126,180,104,0.9) 8%, rgba(62,174,140,0.9) 26%, rgba(25,32,41,0.5) 72%, rgba(25,32,41,0.5) 100%);
}

/**************************************************TRANSITIONS*********************************************************/

#register-form {
    z-index:1;
    position: absolute;
    background:rgba(255,255,255,0.42);
    width:360px;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: 180px;
    margin-left: 50%;
    font-size:13px;
    border-radius:30px;
    box-shadow: 5px 5px 5px rgba(61,71,83,0.1);
    opacity:0;
}

#register-form fieldset {
    padding:0 22%;
}

#register-form fieldset span {
    color:black;
}

.only-register-form {
    z-index:1;
    position: relative;
    background:rgba(61,71,83,0.42);
    width:360px;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 160%;
    font-size:13px;
    border-radius:30px;
    box-shadow: 5px 5px 5px rgba(61,71,83,0.1);
}
.only-register-form fieldset {
    padding:0 22%;
}

.only-register-form fieldset span {
    color:white;
}

.form-input {
    margin-top:1px;
    margin-bottom:10px;
    width:200px;
    background: rgba(255,255,255,0.1);
    border-style: groove;
    border-color: rgba(61,71,83,0.2);
    border-width: 0.5px;
    padding: 1px 0;
    color:black;
}

.exitDingbat {
    color:white;
    float:right;
    font-size:25px;
    cursor:pointer;
    margin-right: -50px;
}
/**************************************************SECTION INDICATOR***************************************************/

.section-two {
    margin-bottom:70px;
}

.section-indicator {
    float: right;
    right:0;
    border-left: 1px groove black;
    padding-left: 15px;
    list-style: none;
    line-height: 0px;
    z-index:2;
    position:relative;
    margin-top: 45px;
}

.section-indicator li {
    padding-bottom: 20px;
    font-family : Helvetica;
    font-size : 16px;
    color : #656665;
}

.section-indicator li:last-child {
    padding-bottom: 0;
}

.active  {
    font-family : Helvetica Bold;
    font-weight : bold;
    font-size : 18px;
    color : #656665;
}

.div-indicator {
    border-radius:50px;
    width:16px;
    height:1px;
    padding: 2.2px;
    left: -23px;
    position: relative;
    transform: rotate(-52deg);
    background:white;
    border: 1.5px solid #656665;
    top: 1.7px;
}

.active .div-indicator{
    background: #CADD68;
}

.form-image {
    background: url(../img/form_bg.png) no-repeat top center scroll;
			-webkit-background-size: contain;
			-moz-background-size: contain;
			-o-background-size: contain;
			background-size: 580px 430px;
			background-position: 186% 0%;
}

.final{
    background-position: 86% 0%;
}
/**************************************************TRIX EDITOR*********************************************************/

trix-toolbar [data-trix-attribute='quote'],
trix-toolbar [data-trix-attribute='code'],
trix-toolbar [data-trix-attribute='href'],
trix-toolbar [data-trix-attribute='number'],
trix-toolbar [data-trix-attribute='heading1'],
trix-toolbar [data-trix-action = 'decreaseNestingLevel'],
trix-toolbar [data-trix-action ='increaseNestingLevel']
 {
  display: none;
}

trix-editor {
    height: 350px;
    border-radius:20px;
    overflow-y:auto;
    border: 2px solid #aaa;
}

trix-editor ul {
    padding-left:5%;
}


/**************************************************HEADER**************************************************************/

.topnav {
  overflow: hidden;
  background-color: transparent;
  top:0.01%;
  width:100%;
  border-bottom: 2px groove;
  border-color:rgba(255, 255, 255, .5);
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 0;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}

.navButton {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-family: BertholdAkzidenzGroteskBold;
    width:160px;
    background-color: white;
	border-radius:40px;
    border: none;
    margin: 15px 10px;
    cursor: pointer;
    z-index:1;
    background : -moz-linear-gradient(52.11% -28.76% -98deg,rgba(249, 241, 129, 1) 0%,rgba(192, 226, 125, 1) 17.36%,rgba(124, 208, 119, 1) 39.74%,rgba(71, 194, 115, 1) 60.01%,rgba(32, 184, 112, 1) 77.44%,rgba(9, 177, 111, 1) 91.35%,rgba(0, 175, 110, 1) 100%);
    background : -webkit-linear-gradient(-98deg, rgba(249, 241, 129, 1) 0%, rgba(192, 226, 125, 1) 17.36%, rgba(124, 208, 119, 1) 39.74%, rgba(71, 194, 115, 1) 60.01%, rgba(32, 184, 112, 1) 77.44%, rgba(9, 177, 111, 1) 91.35%, rgba(0, 175, 110, 1) 100%);
    background : -webkit-gradient(linear,52.11% -28.76% ,47.89% 128.76% ,color-stop(0,rgba(249, 241, 129, 1) ),color-stop(0.1736,rgba(192, 226, 125, 1) ),color-stop(0.3974,rgba(124, 208, 119, 1) ),color-stop(0.6001,rgba(71, 194, 115, 1) ),color-stop(0.7744,rgba(32, 184, 112, 1) ),color-stop(0.9135,rgba(9, 177, 111, 1) ),color-stop(1,rgba(0, 175, 110, 1) ));
    background : -o-linear-gradient(-98deg, rgba(249, 241, 129, 1) 0%, rgba(192, 226, 125, 1) 17.36%, rgba(124, 208, 119, 1) 39.74%, rgba(71, 194, 115, 1) 60.01%, rgba(32, 184, 112, 1) 77.44%, rgba(9, 177, 111, 1) 91.35%, rgba(0, 175, 110, 1) 100%);
    background : -ms-linear-gradient(-98deg, rgba(249, 241, 129, 1) 0%, rgba(192, 226, 125, 1) 17.36%, rgba(124, 208, 119, 1) 39.74%, rgba(71, 194, 115, 1) 60.01%, rgba(32, 184, 112, 1) 77.44%, rgba(9, 177, 111, 1) 91.35%, rgba(0, 175, 110, 1) 100%);
    background : linear-gradient(188deg, rgba(249, 241, 129, 1) 0%, rgba(192, 226, 125, 1) 17.36%, rgba(124, 208, 119, 1) 39.74%, rgba(71, 194, 115, 1) 60.01%, rgba(32, 184, 112, 1) 77.44%, rgba(9, 177, 111, 1) 91.35%, rgba(0, 175, 110, 1) 100%);

}

/**************************************************FOOTER**************************************************************/
footer {
    background-color:#3d4753;
    color:#FFFFFF;
}

.navfooter {
	margin-top:55px;
	color:#FFFFFF;
}

.redesfooter {
	margin-top:50px;
}

.navfooter ul li {
	padding:0px 10px 0px 10px !important;
	list-style-type: none;
	display:inline-block;
}

.navfooter ul li a{
	color:white;
}

.navfooter ul li a:hover{
	color:#c9d86a;
	text-decoration:none;
}

.navfootercontact {
	margin-top:40px;
	color:#FFFFFF;
	line-height:20px;
}

.copyright {
	padding:20px;
	text-align:center;
	font-size:0.7em;
	border-top:groove 2px;
	border-color:rgba(255, 255, 255, .1);
}

.copyright a{
	color:white;
}

.copyright a:hover{
	color:#c9d86a;
	text-decoration:none;
}

#contact-buttons {
	position:fixed;
	margin-top:77vh;
	margin-left:100%;
	left:-100px;
	z-index:100;
	float:right;
}

#contact-buttons img {
	padding-bottom:5px;
}

/**************************************************RESPONSIVE**********************************************************/

@media screen and (max-width: 600px) {

    .icon {
        margin-right:20px;
    }

    .topnav a:not(:first-child){display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }
}



