#position-title-field {
    width: 300px;
}


.preview {
    width: 950px;
    height: 750px;
    zoom: 1.3;
    -moz-transform: scale(0.97); /*Iframe scale, not the iframe content scale */
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.97);/*Iframe scale, not the iframe content scale */
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5); /*Iframe scale, not the iframe content scale */
    -webkit-transform-origin: 0 0; /* Coordinates origin (for the transform property) */

}
