#position-title-field {
    width: 300px;
}

.vacancy-next {
    margin-bottom:15px;
    width: 170px;
    height: 40px;
    margin-left:71.3%;
    margin-top:15px;
}

@media(max-width: 800px) {
    .vacancy-next {
        margin: auto;
    }
}
