@charset "UTF-8";


* { margin: 0; padding: 0;}

html {
    background: url(../new_images/bg.jpg) no-repeat top center scroll ;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    }

body{
    background-color:transparent !important;
}

#slideUp {
    background:white;
    height:160px;
    width:480px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-top-left-radius: 80px;
}

#slideDown {
    background:red;
    height:160px;
    width:888.5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom-right-radius: 80px;
    z-index:2;
}

#slideDownBack {
    background:white;
    height:100px;
    width:900px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index:1;
}

.topright {
    position: absolute;
    margin-top:150px;
    margin-right:50px;
    top: 8px;
    right: 16px;
    font-size: 27px;
    color:white;
    text-align:right;
}

#part2 {
    background:green;
    width:50%;

}