{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="title" align="center" style="font-family:var(--Bitter); color:var(--text-color)">
        <p style="font-size:40px; margin-bottom:60px;margin-top:60px;">Felicidades has diligenciado la información, pronto nos contáctaremos contigo</p>
    </div>
    <br>
    <br>
    <br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}