{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{% trans "PeakU - Test" %}{% endblock %}

{% block extra_head %}

{% endblock %}


{% block content %}
    <br>
    <br>
    <div class="title" align="center">

        {% if not tests %}
            <a class="scroll logo" style="font-family:CANDARA; font-size:65px; color:black;
             margin-bottom:50px;"> <img src="{% static 'beta_invite/logo.png' %}" width="370px" align="center"></a>
        {% endif %}

        <div class="container" align="center" style="margin-top:5px;">
            <div>
                {% if tests %}
                    <span>
                        <h1 style="color:var(--blue)">{% trans "Thanks for registering!" %}</h1>
                    </span>
                    <br>
                    {% include "beta_invite/test.html" with tests=tests %}
                {% else %}
                    <span style=" font-weight:500; color:#F8E676;">
                        <b style="font-weight:400; text-transform: uppercase; font-size:30px;">{% trans "Thanks for registering!" %}</b>
                    </span>
                    <br>
                    <b style="font-weight:400; color:#F8E676; font-size:18px">{% trans "We will contact you soon" %}</b>
                {% endif %}
            </div>
        </div>
        <br>
        <br>
    </div>
{% endblock %}
<!--

   <style>

	@media (max-width: 768px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:250px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
	}

	@media (max-width: 640px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:250px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
	}

	@media (max-width: 480px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:100px !important;}
		.countdown .hours{width:100px !important;}
		.countdown .min{width:100px !important;}
		.countdown .sec{width:100px !important;}
	}
	@media (max-width: 360px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-96px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:180px !important;}
		.countdown .hours{width:180px !important;}
		.countdown .min{width:180px !important;}
		.countdown .sec{width:180px !important;}
	}
	@media (max-width: 320px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-96px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:150px !important;}
		.countdown .hours{width:150px !important;}
		.countdown .min{width:150px !important;}
		.countdown .sec{width:150px !important;}
	}
   </style>
-->
