{% extends 'transparent_header_base.html'%}
{% load static %}
{% load i18n %}
{% load app_filters %}
{% load compress %}
{% block title %}Agencia de empleo y trabajo{% endblock %}
{% block extra_meta %}
    <meta name="description"  content="En PeakU te ayudamos a encontrar el empleo que buscas en compañias que se ajustan a tu perfil, experiencia y salario. Somos una empresa que trabaja en selección de personal, no una temporal." />
    <meta name="keywords" content="computrabajo, servicio de empleo, empleo, empleos, trabajos, trabaja con nosotros, buscador de empleo, bolsa de empleo, agencia de empleo" />
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'beta_invite/css/index.css' %}">
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'beta_invite/js/index.js' %}"></script>
{% endblock %}
{% block content %}
    <!----------------------------------------------SECTION 1---------------------------------------------------------->
    {% if user|user_is_authenticated %}
        <div class="row">
            <div class="col-lg-4 email-column">
                <a href=""></a>
                <form action="{% url 'beta_invite:apply' %}" method="post">
                    {% csrf_token %}
                    <input class="submit apply hide1" type="submit" value="APLICAR">
                    <input type="hidden" name="campaign_id" value="{{ campaign_id }}"/>
                </form>
            </div>
            <h2 class="descriptions">{% trans "GENERAL DESCRIPTION" %}</h2>
        </div>
        <div class="row">
            <div class="col-lg-8 description-text main-description">{% autoescape off %}{{ campaign.description }}{% endautoescape %}</div>
            <div class="col-lg-4 email-column">
                <form action="{% url 'beta_invite:apply' %}" method="post">
                    {% csrf_token %}
                    <input class="submit apply hide2" type="submit" value="APLICAR">
                    <input type="hidden" name="campaign_id" value="{{ campaign_id }}"/>
                </form>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-4 email-column">
                <input class="apply hide1" type="button" onclick="on_signup()" value="APLICAR">
            </div>
            <h2 class="descriptions">{% trans "GENERAL DESCRIPTION" %}</h2>
        </div>
        <div class="row">
            <div class="col-lg-8 description-text main-description">{% autoescape off %}{{ campaign.description }}{% endautoescape %}</div>
            <div class="col-lg-4 email-column">
                <input class="apply hide2" type="button" onclick="on_signup()" value="APLICAR">
            </div>
        </div>
    {% endif %}
    <div class="row">
        {% if campaign.city %}
            <h2 class="descriptions">Ciudad</h2>
        {% endif %}
    </div>
    <div class="row">
        <p class="description-text">{{ campaign.city.name }}</p>
    </div>

    <div class="row">
        {% if campaign.salary_low_range >= 0 %}
            <h2 class="descriptions">Salario</h2>
        {% endif %}
    </div>
    <div class="row">
        <p class="description-text">
            {% if campaign.salary_low_range == campaign.salary_high_range %}
                ${{ campaign.salary_low_range }}
            {% else %}
                ${{ campaign.salary_low_range }} a ${{ campaign.salary_high_range }}
            {% endif %}
        </p>
    </div>
    <div class="row">
        {% if perks %}
            <h2 class="descriptions">{% trans "Perks" %}</h2>
        {% endif %}
    </div>
    <div class="row">
        <ul class="description-text">
            {% for perk in perks %}
                <li class="bullet">{{ perk.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        {% if requirements %}
            <h2 class="descriptions">{% trans "Requirements" %}</h2>
        {% endif %}
    </div>
    <div class="row final-row">
        <ul class="description-text">
            {% for req in requirements %}
                <li class="bullet">{{ req.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="overlay-login">
        <div id="form-image2">
            <form id="login-form" method="post" action="{% url 'beta_invite:home' %}" >
                {% csrf_token %}
                <fieldset>
                    <span class="exitDingbat" onclick="off_login()">X</span>
                    <br>
                    <br>
                    <span>Correo</span>
                    <input name="username" class="form-input"><br>
                    <span>Contraseña</span>
                    <input name="password" class="form-input" type="password"><br>
                    <span style="font-size:10px;"><a href="#" style="color:white">{% trans 'I forgot my password' %}</a></span>
                    <span style="font-size:10px">
                    <a href="javascript:void(0);" style="color:white" onclick="off_login() & on_signup()">{% trans "I'm not yet registered" %}
                    </a>
                    </span>
                    <br>
                    <br>
                    <input type="submit" class="submit" value="{% trans 'ACCESS' %}">
                </fieldset>
            </form>
        </div>
    </div>

    <div id="overlay-signup">
        <div class="form-image">
            <form class="only-register-form" action="{% url 'beta_invite:register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                <span class="exitDingbat" onclick="off_signup()">X</span>
                <br>
                <br>
                <input type="hidden" name="campaign_id" value="{{ campaign_id }}"/>
                <input type="hidden" name="candidate_id" value="{{ candidate.pk }}"/>

                <span>{% trans 'Your Full Name' %}</span>
                <input class="form-input" id="name" type="text" name="name" required="required" pattern="[A-Za-z\sáéíóúÑñÜüÁÉÍÓÚ]{1,200}">

                {% if campaign.has_email %}
                <span>{% trans 'Your email' %}</span>
                <input class="form-input" id="email" type="email" name="username" required="required">
                {% endif %}

                <span>{% trans 'Your phone' %}</span>
                <input class="form-input" id="phone" type="tel" name="phone" required="required" pattern="[0-9\(\)\+\-\s\.extension]{7,40}">

                <span>Ciudad de residencia</span>
                <select class="form-input white" name="city_id" >
                <option value="{{ default_city.id }}">{{ default_city.name }}</option>
                {% for city in cities %}
                <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
                </select>
                <br>

                <div>
                    <label class="form-checkbox-container">
                        <span>Contraseña</span>
                    <input class="form-input" type="password" name="password1" required="required">
                    <br>
                    <span>Confirmar contraseña</span>
                    <input class="form-input" type="password" name="password2" required="required">
                    <br>
                    <input class="form-checkbox" type="checkbox" id="politics" name="politics" required>
                    <a href="security_politics" target="_blank"> He leído y acepto las políticas de privacidad</a>
                    </label>
                </div>
                <input class="submit" type="submit" id="submit" value="{% trans 'Sure!' %}">
                </fieldset>
                <span class="form-label register">¿Ya eres un usuario registrado? Inicia sesión
                    <a href="javascript:void(0);" onclick="off_signup() & on_login()"><strong>Aquí</strong></a>
                </span>
            </form>
        </div>
    </div>

    <script>
       $(document).ready(function() {
           set_background("{{ campaign.image }}", "main-section")
       });
    </script>
    <script>
        $( window ).resize(function() {
            set_background("{{ campaign.image }}", "main-section")
        });
    </script>

    <script>
        window.pressed = function(){
            var a = document.getElementById('file');
            if(a.value == "")
            {
                fileLabel.innerHTML = "Selecciona un archivo";
            }
            else
            {
                var theSplit = a.value.split('\\');
                fileLabel.innerHTML = theSplit[theSplit.length-1];
            }
        };
    </script>

    <script>
        function on_login() {
        $("#overlay-login").css("display", "block");
        $("#login-form").css("display", "block");
        $("html").css("background-size", "cover");
        $("nav").css("margin-bottom", "40px");
        $("#login-form").animate({"marginLeft": '60%'}, 650,"swing");
        }

        function off_login() {
        $("#overlay-login").css("display", "none");
        $("#login-form").css("display", "none");
        $("nav").css("margin-bottom", "");
        $("#login-form").animate({marginLeft: '160%'});
        }

        function on_signup() {
        $("#overlay-signup").css("display", "block");
        $(".only-register-form").css("display", "block");
        $("html").css("background-size", "cover");
        $("nav").css("margin-bottom", "40px");

        if ($(window).width() < 769) {
            $(".only-register-form").animate({"marginLeft": 'auto'}, 650,"swing");
            $(".only-register-form").css("margin", "50px auto");
        }
        else {
            $(".only-register-form").animate({"marginLeft": '60%'}, 650,"swing");
        }
        $(".form-image").animate({"backgroundPosition": '86%'}, 690,"swing");
        }


        function off_signup() {
        $("#overlay-signup").css("display", "none");
        $(".only-register-form").css("display", "none");
        $("nav").css("margin-bottom", "");
        $(".only-register-form").animate({marginLeft: '160%'});
        $(".form-image").animate({"backgroundPosition": '186%'}, 1,"swing");
        }
    </script>
    <!-- any incoming error_message will print as an alert-->
    <script>
        {% if error_message %}
            alert("{{ error_message }}");
        {% endif %}
    </script>
{% endblock %}