{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{% trans "PeakU - Test" %}{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="title" align="center" style="font-family:var(--Bitter); color:var(--text-color)">
        <p style="font-size:40px; margin-bottom:60px;margin-top:20px;">{{ candidate.user.name }},</p>
            <p style="font-size:40px; margin-bottom:60px;margin-top:60px;">
                ¡Felicitaciones! has realizado con éxito las pruebas</p>

            <div style="font-size:18px;">
                <p>Ahora revisaremos tu hoja de vida y los resultados de las pruebas</p>
                <p>En caso de continuar en el proceso, te contactaremos a: </p>
                <h3><strong>{{ candidate.user.email }}</strong></h3>
                <p>Si tienes alguna duda, puedes escribirnos a: contacto@peaku.co</p> <!--link-->
            </div>
    </div>
    <br>
    <br>
{% endblock %}