{% extends 'peaku_base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{%  trans "Employment Agency - PeakU" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'beta_invite/css/intro.css' %}">
{% endblock %}


{% block content %}
    <section class="blue">
        <h1 class="main-title">Descubre personas increíbles</h1>
        <h2 class="secondary-title">{% trans "We connect people with companies, quickly and easily" %}</h2>
        <div class="content">

            <div class="person">
                <a href="{% url 'beta_invite:long_form' %}">
                    <input class="blue-button free-trial-button" type="button"value="PERSONAS">
                </a>
            </div>

            <div class="main-img-div">
                <img class="main-img" src="{% static 'beta_invite/img/selection.png' %}">
            </div>

            <div class="business">
                <a href="{% url 'business:index' %}">
                    <input class="blue-button free-trial-button" type="button"value="EMPRESAS">
                </a>
            </div>

        </div>
    </section>

    <section class="main">
            <div>
                <img class="left-img" src="{% static 'beta_invite/img/intro.png' %}">
            </div>
            <article class="description">
                <h2>¿Qué es PeakU?</h2>
                <br/>
                <p><strong>{% trans "PeakU is revolutionizing the search for candidates, recruitment and selection; We make more efficient processes for companies and we give a personal touch to the candidates to improve their experience. We align people and companies to create relationships where the end result is the creation of long-term value." %}</strong></p>
            </article>
    </section>

    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5a5d24064b401e45400c1ca0/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
{% endblock %}

<!--
<section id="background-blue-rectangle">
        <h1 class="main-title">Descubre personas increíbles</h1>
        <h2 id="introduction">{% trans "We connect people with companies, quickly and easily" %}</h2>
        <div class="img-container">
            <a href="{% url 'beta_invite:long_form' %}">
                <img class="person-img" src="{% static 'beta_invite/img/person_intro.png' %}">
            </a>
            <a href="{% url 'business:index' %}">
                <img class="business-img" src="{% static 'beta_invite/img/business_intro.png' %}">
            </a>
        </div>
    </section>

    <section id="background-white-rectangle">
        <div>
            <img class="intro-img" src="{% static 'beta_invite/img/intro.png' %}">
            <p class="description">{% trans "PeakU is revolutionizing the search for candidates, recruitment and selection; We make more efficient processes for companies and we give a personal touch to the candidates to improve their experience. We align people and companies to create relationships where the end result is the creation of long-term value." %}</p>
        </div>
    </section>


-->