{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}PeakU{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'beta_invite/css/long_form.css' %}">
{% endblock %}


{% block content %}

    <div>
        <img src="{% static 'beta_invite/img/girls.jpg' %}"
             srcset="{% static 'beta_invite/img/girls@2x.jpg' %} 2x,
                     {% static 'beta_invite/img/girls@3x.jpg' %} 3x"
             class="background-people">

        <img src="{% static 'beta_invite/img/girls_mobile.jpg' %}"
             srcset="{% static 'beta_invite/img/girls_mobile@2x.jpg' %} 2x,
                     {% static 'beta_invite/img/girls_mobile@3x.jpg' %} 3x"
             class="background-people-mobile">

        <h1 class="main-title">{% trans "Discover your true passion" %}</h1>

        <h2 class="green-box">
            <p>{% trans 'Send us your resume' %}</p>
        </h2>
    </div>

    <section class="section-container">
        <div class="row"> <!-- bootstrap row class -->
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">

                <!-- TODO: FIX THIS DIRTY TRICK. IT IS USED SO THAT THE ANCHOR WORKS FOR MOBILE-->
                <h2 id="anchor-trick">a</h2>

                <!-- tag to scroll down to the contact form with url -->
                <a name="contactForm"></a>

                <h3 class="secondary-title" >{% trans "Contact Us"%}</h3>
                <div class="secondary-yellow-bar"></div>

                <form id="contact-form">
                    {% csrf_token %}

                    <input class="contact-field" type="text" name="name"
				        placeholder="{% trans 'Your Full Name' %}" required="required" pattern="[A-Za-z\sÁÉÍÓÚáéíóúÑñÜü]{1,200}">

                    <input class="contact-field" type="email" name="email"
                         placeholder="{% trans 'Your email' %}" required="required">

                    <input class="contact-field" type="tel" name="phone"
                         placeholder="{% trans 'Your phone (optional)' %}">

                    <textarea id="message" name="message"
                         placeholder="{% trans 'Add a message (optional)' %}"></textarea>

                    <input id="contact-button" type="submit" value="{% trans 'Sure!' %}">

                </form>

            </div>
        </div>
    </section>


{% endblock %}
