{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
<p><strong></strong></p>

    <section style="margin: 40px auto;width:96%;">
        <h2 style="text-align:center; margin-bottom:40px;">POLITICA DE TRATAMIENTO DE INFORMACIÓN PEAKU</h2>
        <article>

            <p>Por medio de la cual se fijan los parámetros para manejar de la información contenida en los Bancos y las Bases de Datos de PeakU SAS.</p>
            <p>CONSIDERANDO:</p>
            <p><strong>Primero.</strong> Que PeakU SAS es una empresa colombiana, privada, con Personería Jurídica.</p>
            <p><strong>Segundo.</strong> Que para el desarrollo de sus funciones, PeakU debe tratar datos personales de los usuarios de sus servicios y las demás personas relacionadas con su actividad, a través de la recolección, el almacenamiento y el uso de datos personales.</p>
            <p><strong>Tercero.</strong> Que en la Constitución Política de la República de Colombia se han consagrado como derechos constitucionales fundamentales el Derecho de Habeas Data, artículo 15, por el cual todas las personas tienen derecho a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bancos de datos y en archivos de entidades públicas y privadas, y el Derecho de Información, artículo 20, mediante el cual, todas las personas tiene derecho a recibir información veraz e imparcial, garantizándose el derecho a la rectificación en condiciones de equidad.</p>
            <p><strong>Cuarto.</strong> Que mediante la Ley 1581 de 2012, expedida por el Congreso de la República de Colombia, se creó el Régimen General de Protección de Datos personales, en el que se establecen las directrices para el tratamiento de datos personales realizado por entidades públicas o privadas, y que a través del Decreto 1377 de 2013, que reglamenta parcialmente la Ley 1581 de 2012, para facilitar la implementación y el cumplimiento de la misma, se reguló: “[…] la autorización del Titular de información para el Tratamiento de sus datos personales, las políticas de Tratamiento de los Responsables y Encargados, el ejercicio de los derechos de los Titulares de información, las transferencias de datos personales y la responsabilidad demostrada frente al Tratamiento de datos personales […]”.</p>
        </article>

        <h3>Capítulo I</h3>

        <article>
            <p>Disposiciones Preliminares:</p>
            <p><strong>Artículo 1.</strong>Objeto: La Política de Tratamiento de Información de PeakU se expide para determinar los parámetros bajo los cuales deben tratarse y administrarse todos los datos personales de personas naturales que alimentan y constituyen las bases de datos personales de PeakU.</p>
            <p><strong>Artículo 2.</strong>Definiciones: Para efectos de la presente política, a continuación, se define cómo deberán entenderse las siguientes palabras:</p>
            <p>a. Dato Personal: Conjunto de información susceptible de relacionarse a una o más personas naturales.</p>
            <p>b. Base de datos: Conjunto organizado de datos personales sometidos a tratamiento por parte del responsable o encargado del tratamiento.</p>
            <p>c. Titular de los datos personales: Cada una de las personas naturales con las que se relacionan los datos personales.</p>
            <p>d. Tratamiento de datos personales: Conjunto de actividades a las que se someten los datos personales. Por ejemplo, la recolección, el almacenamiento y el uso que se hace de dichos datos.</p>
            <p>e. Autorización: Permiso otorgado por el titular para efectuar el tratamiento de sus datos personales. La autorización debe caracterizarse por ser expresa, previa al tratamiento y consultable con posterioridad a su concesión por parte del titular. La autorización puede otorgarse por cualquier medio conocido o por conocerse siempre que cumpla con las características establecidas.</p>
            <p>f. Responsable del Tratamiento: Es la persona natural o jurídica, de naturaleza pública o privada, legitimada para decidir sobre el tratamiento de datos personales o la base de datos.</p>
            <p>g. Encargado del Tratamiento: Es la persona natural o jurídica, de naturaleza pública o privada, que realiza el tratamiento de datos personales bajo el amparo del responsable del tratamiento.</p>
            <p>h. Aviso de Privacidad: Es una comunicación del responsable del tratamiento al titular de los datos personales en la que se informa la existencia de las Políticas de Tratamiento de Información a las que son sometidas los datos personales por parte del responsable, la forma de consultarlas y las finalidades del tratamiento de los datos personales.</p>
            <p>i. Dato público: Es dato público todo aquel contenido en documentos públicos, relativo al estado civil de las personas, a su profesión u oficio y a su calidad de comerciante o de servidor público. Son datos públicos, por ejemplo, los contenidos en la cédula de ciudadanía, en registros públicos, en sentencias judiciales debidamente ejecutoriadas y no sometidas a reserva. Por lo anterior, será también dato público el que no es semiprivado, privado o sensible.</p>
            <p>j. Dato semiprivado: Es aquel cuyo conocimiento o divulgación interesa a su titular y a un determinado grupo de personas o sector social. Por ejemplo, la actividad comercial o profesional.</p>
            <p>k. Dato privado: Es aquel cuyo conocimiento o divulgación, por tener naturaleza íntima y reservada, interesa sólo a su titular.</p>
            <p>l. Dato sensible: Es aquel que afecta la intimidad de su titular o que su uso indebido puede generar discriminación.</p>
            <p>Por ejemplo, aquellos relativos a la orientación sexual, la orientación política, el origen étnico o racial, las convicciones religiosas o filosóficas, la participación en grupos sindicales, de Derechos Humanos o sociales, entre otros.</p>
            <p>m. Transmisión: Tratamiento dado por el encargado del tratamiento a los datos personales para comunicarlos dentro o fuera de Colombia bajo la responsabilidad del responsable.</p>
            <p>n. Transferencia: Tratamiento dado por el responsable o encargado del tratamiento mediante el envío de información o de datos personales a un responsable de tratamiento, distinto de quien envía, localizado dentro o fuera de Colombia.</p>
            <p>Para ampliación de estas definiciones, puede consultarse la Ley 1581 de 2012 y el Decreto 1377 de 2013 y los demás que los modifiquen, aclaren, complementen o deroguen.</p>
            <p><strong>Artículo 3.</strong>Principios. En todo tratamiento de datos personales que realice PeakU se aplicarán, los principios consagrados en el Régimen General de Protección de Datos Personales Colombiano, en especial los siguientes:</p>
            <p>a. Principio de legalidad del tratamiento de datos: Para el tratamiento de datos personales realizado por PeakU, se aplican las normas del ordenamiento jurídico colombiano relativas al Régimen General de Tratamiento de Datos Personales y las contenidas en la presente política.</p>
            <p>b. Principio de finalidad: El tratamiento dado por PeakU a los datos personales que trata, obedecen a las finalidades establecidas en la presente política, las cuales están en armonía con el ordenamiento jurídico colombiano. En lo no regulado en la presente política se aplicarán las normas de carácter superior que la reglamenten, adicionen, modifiquen o deroguen.</p>
            <p>c. Principio de libertad. El tratamiento que realice PeakU a los datos personales, lo hace de acuerdo con la autorización previa, expresa y consentida del titular de los datos personales.</p>
            <p>d. Principio de veracidad o calidad. La información sujeta a tratamiento por parte de PeakU debe ser veraz, completa, actualizada, comprobable y comprensible.</p>
            <p>e. Principio de transparencia. PeakU garantiza que el titular de los datos personales puede obtener información sobre sus datos en cualquier momento y sin restricciones de acuerdo a los procedimientos descritos en la presente política.</p>
            <p>f. Principio de acceso y circulación restringida. PeakU garantiza que el tratamiento de datos personales dado a las bases de datos de las que es responsable se realiza por personas autorizadas por el titular y/o las demás personas permitidas por la ley.</p>
            <p>g. Principio de seguridad. PeakU implementará todas las medidas técnicas, humanas y administrativas necesarias para proteger los datos personales tratados en sus bases de datos evitando el uso, la adulteración, la perdida y la consulta no autorizada o no deseada.</p>
            <p>h. Principio de confidencialidad. El tratamiento dado a los datos personales de bases de datos de PeakU se realizará con estricta confidencialidad y reserva, de acuerdo a las finalidades descritas en la presente política.</p>
            <p>Para ampliación de estos principios, puede consultarse la Ley 1581 de 2012 y el Decreto 1377 de 2013, así, como las demás disposiciones normativas que los modifiquen, aclaren, complementen o deroguen.</p>
        </article>

        <h3>Capítulo II</h3>

        <article>
            <p>Estructura del Régimen General de Protección de Datos Personales PeakU:</p>

            <p><strong>Artículo 4.</strong> Responsable del tratamiento. Para efectos de la presente política, PeakU, con domicilio principal en la ciudad de Medellín, Colombia, Suramérica, representada legalmente por su representante legal, será la responsable del tratamiento de los datos personales y las bases de datos a las que se le realice un tratamiento por PeakU o por cada uno de los encargados que la compañía designe.La sede principal de la PeakU está ubicada en la ciudad de Medellín, Colombia, Suramérica.</p>
        </article>

        <h3>Capítulo III</h3>

        <article>
            <p>Clasificaciones:</p>
            <p><strong>Artículo 5.</strong> Tipos de bases de datos. PeakU en el ejercicio de sus actividades emplea principalmente los siguientes tipos de bases de datos:</p>
            <p>- Bases de Datos de candidatos en búsqueda de empleo</p>
            <p>Se entenderá como tal la base de datos en la que se recolectan, almacenan y usan datos personales de candidatos a empleos que deseen mantener una comunicación con PeakU o alguna de las empresas en búsqueda de empleados registrada en la base de datos empresarial. Dicha base de datos puede ser producto de la recolección de datos realizada de manera personal o virtual y donde se almacena información completa de cada uno de los candidatos en búsqueda de empleo.</p>
            <p>- Bases de Datos de empresas registradas</p>
            <p>Se entenderá como tal la base de datos en la que se recolectan, almacenan y usan datos personales de personas y/o empresas, de desean hacer publica sus vacantes a través de la plataforma publica de PeakU</p>
            <p>- Bases de Base de Datos Personales de Empleados y Contratistas de PeakU.</p>
            <p>Se entenderá como tal la base de datos en la que se recolectan, almacenan y usan datos personales de los empleados o contratistas de PeakU. Para tal efecto, deberá existir entre el titular de los datos personales y el responsable del tratamiento un vínculo laboral o de prestación de servicios de cualquier tipo.</p>
            <p><strong>Artículo 6.</strong> Tipo de datos personales recolectados, almacenados y usados por PeakU.</p>
            <p>El responsable y/o los encargados del tratamiento de datos personales, recolectarán, almacenarán y/o usarán los datos personales necesarios para la alimentación de cada uno de los tipos de bases personales tratadas por PeakU. Informará los datos personales que desea tratar de acuerdo a las finalidades consagradas en la presente política.</p>
        </article>

        <h3>Capítulo IV</h3>

        <article>
            <p>Tratamiento:</p>
            <p><strong>Artículo 7.</strong> Finalidad del tratamiento de datos.</p>
            <p>El responsable del Tratamiento y/o el encargado del tratamiento de las Bases de Datos mencionadas en la presente política, tratan los datos personales constitutivos de dichas bases de datos para con las siguientes finalidades:</p>
            <p>1. Mantener una comunicación constante con los titulares de los datos personales, relativa al quehacer empresarial de PeakU, de acuerdo a los perfiles de cada tipo de base de datos definida en la presente política.</p>
            <p>2. Realizar actividades de mercadeo, publicidad, envío de información, ofertas laborales, avance en los procesos, solicitud de información adicional, así como la promoción de las demás actividades o servicios relacionados u ofrecidos de manera directa o indirecta por PeakU.</p>
            <p>3. Mantener información relevante que integra la base de datos de PeakU y la realización de estadísticas, encuestas y demás actividades tendientes a la consecución de indicadores o información relevante.</p>
            <p>4. Compartir los datos personales o las bases de datos tratadas por PeakU a terceros que gestionen, ayuden o desarrollen la ejecución de actividades propias de PeakU o en cumplimiento de disposiciones legales o de relaciones comerciales con dichos terceros.</p>
            <p>5. Evaluar la calidad de los servicios ofrecidos por PeakU a terceros aliados.</p>
            <p>6. Demás finalidades contempladas en la Política de Tratamiento de Información PeakU.</p>
            <p><strong>Artículo 8.</strong> Transferencias y transmisiones para tratamiento por terceros nacionales e internacionales de datos personales suministrados a PeakU.</p>
            <p>La aceptación de la presente política implica para el titular de los datos personales la aceptación de la posibilidad que tiene PeakU, respetando en todo momento las disposiciones legales que regulan la materia, para transmitir o transferir la totalidad de los datos del titular a terceros en el país o en el exterior.</p>
            <p>A su vez, PeakU se compromete a informar a los terceros, los parámetros bajo los cuales se ha concedido la autorización y el debido respeto que debe hacerse de la presente política.</p>
            <p><strong>Artículo 9.</strong> Autorización para tratamiento de datos</p>
            <p>Personales efectuados por PeakU. PeakU tratará datos personales de personas naturales que expresamente la autoricen de acuerdo con los procedimientos descritos en la presente política.</p>
            <p><strong>Artículo 10.</strong> Tratamiento de datos sensibles. PeakU sólo realizará el tratamiento de datos sensibles siempre que el titular dé su autorización. En esta medida, PeakU siempre indicará a los titulares de los datos personales cuáles de los datos que busca recolectar, almacenar y usar son sensibles, informándole al titular la facultad potestativa que tiene de suministrarlos o no.</p>
            <p><strong>Artículo 11.</strong> Tratamiento de datos personales de niños, niñas y adolescentes. Sólo se tratarán datos personales de menores de 18 años que tengan el carácter de públicos. PeakU siempre respetará el interés superior de los niños, niñas y adolescentes y por tanto, los derechos fundamentales de los menores de edad.</p>
            <p>La autorización de los menores de 18 años siempre deberá ser otorgada por sus representantes legales, quienes normalmente son los padres de familia.</p>
        </article>

        <h3>Capítulo V</h3>

        <article>
            <p>Potestades:</p>
            <p><strong>Artículo 12.</strong> Derechos de los titulares de los datos personales.</p>
            <p>En armonía con la reglamentación del Régimen General de Datos Personales Colombiano, PeakU informa a los titulares de datos personales que tienen derecho a:</p>
            <p>a. Conocer, actualizar y rectificar sus datos personales ante PeakU, de acuerdo a los procedimientos descritos en el presente documento.</p>
            <p>b. Solicitar a PeakU prueba de la autorización otorgada para el tratamiento de sus datos personales, de acuerdo a los procedimientos descritos en el presente documento.</p>
            <p>c. Ser informado por PeakU del uso o tratamiento al que son sometidos sus datos personales.</p>
            <p>d. Presentar quejas ante la Superintendencia de Industria y Comercio por infracciones al Régimen General de Protección de Datos Personales y a la presente política, una vez agotados los procedimientos descritos en ésta.</p>
            <p>e. Revocar la autorización otorgada a PeakU y/o solicitar que suprima sus datos cuanto se infrinja el Régimen General de Protección de Datos Personales y la presente política.</p>
            <p>f. Acceder gratuitamente a sus datos personales objeto de tratamiento.</p>
        </article>

        <h3>Capítulo VI</h3>

        <article>
            <p>Procedimientos:</p>
            <p><strong>Artículo 13.</strong> Persona o área responsable de la atención de peticiones, consultas y/o reclamos.</p>
            <p>El responsable y los encargados del tratamiento de los datos personales contenidos en las bases de datos tratadas por PeakU serán los responsables de la atención de peticiones, consultas o reclamos. Sin embargo y para mayor facilidad de los titulares de datos o sus representantes, PeakU designa como canal de comunicación entre el responsable y los encargados del tratamiento de datos personales bajo el compromiso de PeakU, al área de contacto. Puede contactarse a través del correo electrónico contacto@peaku.co.</p>
            <p><strong>Artículo 14.</strong> Procedimientos para ejercicio de derecho de los titulares de los datos personales.</p>
            <p>Los procedimientos que se describen a continuación sólo pueden ser ejercidos por el Titular, sus causahabientes o representantes, siempre que se acredite previamente la identidad o la representación.</p>
            <p>En todos los procedimientos el titular o sus representantes deberán indicar por lo menos, su nombre completo, sus datos de contacto los cuales deben incluir: una dirección de correo electrónico, una dirección para envío de correspondencia, un teléfono o celular de contacto. A su vez, deben indicar los datos personales sobre los que versa la solicitud y deben aportar los documentos o demás elementos que responden o apoyen la misma. Por último, en cualquiera de las solicitudes el titular o su representante deberán indicar el medio, el evento o cualquier otra información que permita establecer la base de datos que contiene los datos objeto de la solicitud.</p>
            <p>a. Procedimiento para conocer los datos personales tratados por PeakU.</p>
            <p>El titular de los datos personales o sus representantes pueden elevar solicitud PeakU y/o al encargado del tratamiento de datos para le permita conocer los datos personales que ha recolectado, almacenado y/o usado.</p>
            <p>1. El titular debe enviar solicitud escrita al correo electrónico: contacto@peaku.co, sus datos de contacto los cuales deben incluir, por lo menos, una dirección de correo electrónico, una dirección para envío de correspondencia, un teléfono o celular de contacto y la indicación de estar obrando en nombre o la acreditación de estar obrando en representación de otro, cuando sea el caso, mediante poder debidamente otorgado.</p>
            <p>2. PeakU, a través, remitirá la solicitud al Responsable y/o encargado del tratamiento para que la misma sea atendida.</p>
            <p>Parágrafo. No podrá concederse la supresión de los datos personales por solicitud realizada por el titular o su representante, cuando exista un deber legal o contractual  para que los datos  personales permanezcan en la respectiva base de datos.</p>
            <p><strong>Artículo 15.</strong> A Derecho de Acceso. PeakU informa a los titulares de datos personales que tiene derecho a conocer gratuitamente los datos que de ellos reposen en las bases de datos tratadas por PeakU, por lo menos una vez cada mes calendario o cada vez que se realicen modificaciones sustanciales a las presentes políticas.</p>
        </article>

        <h3>Capítulo VII</h3>

        <article>
            <p>Disposiciones Finales:</p>
            <p><strong>Artículo 16.</strong> Vigencia de la política. La presente política rige a partir de la fecha de su publicación y deja sin efectos las demás disposiciones institucionales que le sean contrarias. Lo no previsto en la presente política se reglamentará de acuerdo con el Régimen General de Protección de Datos Personales vigente en Colombia.</p>
        </article>
    </section>

{% endblock %}