{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{% trans "PeakU - Test" %}{% endblock %}

{% block extra_head %}

{% endblock %}


{% block content %}
    <br>
    <br>
    <div class="title" align="center">

        <div class="container" align="center" style="margin-top:5px;">
            <div>
                <script>fbq('track', 'CompleteRegistration');</script>
                <span>
                    <h1 style="color:var(--blue)">{% trans "Thanks for registering!" %}</h1>
                </span>
                <br>
                {% include "beta_invite/tests.html" with tests=tests %}
            </div>
        </div>
        <br>
        <br>
    </div>
    <style>
        #submit-button{
        width: auto;
        background: var(--orange);
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px 10px;
        border-radius:4px;
    }
    </style>
{% endblock %}
