<!--TODO: put it on the head-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/edit.js' %}" async></script>

<form action="../dashboard/" method="post"
       enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" value="HOME">
</form>


<h1>{{ current_campaign.name }} Candidates</h1>
<ul>

    <!--TODO: refactor HTML-->
    <form action="#" method="post" id="main_form_id"
       enctype="multipart/form-data">

        {% csrf_token %}

        <div class="row" style="margin-top:45px;">

            <div class="col-sm-6">

                <h3>Ongoing</h3>
                <br>

                {% for candidate in candidates %}
                    {% include "dashboard/candidate.html" with candidate=candidate campaigns=campaigns%}
                {% endfor %}

            </div>
            <div class="col-sm-6">

                <h3>Rejected</h3>
                <br>

                {% for candidate in rejected_candidates %}
                    {% include "dashboard/candidate.html" with candidate=candidate campaigns=campaigns%}
                {% endfor %}
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <hr>
        <br>
        <br>

        <h3>Send customized mail</h3>

        <input name="email_subject" style="width:32.5%"
            value="Status de tu aplicación a {campaign_name} con PeakU">{{ candidate.comment }}</input>

        <br>
        <br>

        <textarea name="email_body" cols="60" rows="20"
            placeholder="mail body, use tags {name}, {campaign_name} to customize" >
{name},

write here ...

Saludos

Santiago
santiago@peaku.co
PeakU
        </textarea>

        <br>

        <input type="submit" name="send_mail" value="Send_email">

    </form>
</ul>

<a href="new">Add Candidate</a>
