<form action="../dashboard/" method="post"
       enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" value="HOME">
</form>


<h1>Candidates</h1>
<ul>

    <form action="#" method="post"
       enctype="multipart/form-data">

        {% csrf_token %}

        {% for candidate in candidates %}
            <li><h4>{{ candidate.user.name }}:</h4>

                <p><strong>email:</strong> {{ candidate.user.email }}</p>
                {% if candidate.user.curriculum_url != '#' %}
                    <p><strong>cv:</strong> <a href="http://peaku.co/static/{{ candidate.user.curriculum_url }}">cv_link</a></p>
                {% else %}
                    <p><strong>cv:</strong> not available (<a href="http://peaku.co/request_cv/{{ candidate.user.id }}">request</a>)</p>
                {% endif %}
                <p><strong>country: </strong>{{ candidate.user.country.name }}</p>
                <p><strong>profession: </strong>{{ candidate.user.profession.name }}</p>
                <p><strong>education: </strong>{{ candidate.user.education.name }}</p>

                <input type="hidden" name="campaign_id" value="{{ candidate.campaign_id }}" />

                <br>

                <textarea name="{{ candidate.id }}_comment" cols="60" rows="5"
                placeholder="add a comment!">{{ candidate.comment }}</textarea>

                <br>

              <select name="{{ candidate.id }}_state" required>
                  <option value="{{ candidate.state_id}}">{{ candidate.state.name }}</option>
                  {% for state in states%}
                     <option value="{{ state.id }}">{{ state.name }}</option>
                  {% endfor %}
              </select>

            </li>

            <br>
        {% endfor %}

        <br>

        <input type="submit" value="Save Changes!">

    </form>
</ul>

<a href="new">Add Candidate</a>



