<!--TODO: put it on the head-->
{% load static %}
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

<script type="text/javascript" src="{% static 'js/edit.js' %}" async></script>


<form action="../dashboard/" method="post"
       enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" value="HOME">
</form>


<h1>Candidates</h1>
<ul>


    <!--TODO: refactor HTML-->
    <form action="#" method="post" id="main_form_id"
       enctype="multipart/form-data">

        {% csrf_token %}

        <div class="row" style="margin-top:45px;">

            <div class="col-sm-6">

                <h3>Ungoing</h3>
                <br>

                {% for candidate in candidates %}
                <li>
                    <input type="checkbox" name="{{ candidate.id }}_checkbox">

                    <!--TODO: make this great again: Add and move people from a campaign-->
                    <!--
                    <input type="submit" name="add_to_campaign" value="Add">
                    <p><strong> or </strong></p>
                    <input type="submit" name="add_to_campaign" value="Move">
                    <p><strong> to </strong></p>
                    <select name="{{ candidate.id }}_campaign" required>
                      <option value="{{ candidate.state_id }}">{{ candidate.state.name }}</option>
                      {% for campaign in campaign%}
                         <option value="{{ state.id }}">{{ state.name }}</option>
                      {% endfor %}
                    </select>-->

                    <h4>{{ candidate.user.name }}:</h4>

                    <p><strong>email:</strong> {{ candidate.user.email }}</p>
                    {% if candidate.user.curriculum_url != '#' %}
                        <p><strong>cv:</strong> <a href="http://peaku.co/static/{{ candidate.user.curriculum_url }}">link</a></p>
                    {% else %}
                        <p><strong>cv:</strong> not available (<a href="http://peaku.co/request_cv/{{ candidate.user.id }}">request</a>)</p>
                    {% endif %}
                    <p><strong>country: </strong>{{ candidate.user.country.name }}</p>
                    <p><strong>profession: </strong>{{ candidate.user.profession.name }}</p>
                    <p><strong>education: </strong>{{ candidate.user.education.name }}</p>

                    <input type="hidden" name="campaign_id" value="{{ candidate.campaign_id }}" />

                    <br>

                    <textarea name="{{ candidate.id }}_comment" cols="60" rows="5"
                    placeholder="add a comment!">{{ candidate.comment }}</textarea>

                    <br>

                    <select name="{{ candidate.id }}_state" required>
                          <option value="{{ candidate.state_id}}">{{ candidate.state.name }}</option>
                          {% for state in states%}
                             <option value="{{ state.id }}">{{ state.name }}</option>
                          {% endfor %}
                    </select>

                    <br>
                    <br>
                    <input type="submit" name="save_changes" value="Save Candidate!"
                        onclick="send_candidate_id_in_params({{ candidate.id }})">

                </li>

                <br>

                {% endfor %}

            </div>
            <div class="col-sm-6">

                <h3>Rejected</h3>
                <br>

                {% for candidate in rejected_candidates %}
                <li>
                    <input type="checkbox" name="{{ candidate.id }}_checkbox">

                    <!--TODO: make this great again: Add and move people from a campaign-->
                    <!--
                    <input type="submit" name="add_to_campaign" value="Add">
                    <p><strong> or </strong></p>
                    <input type="submit" name="add_to_campaign" value="Move">
                    <p><strong> to </strong></p>
                    <select name="{{ candidate.id }}_campaign" required>
                      <option value="{{ candidate.state_id }}">{{ candidate.state.name }}</option>
                      {% for campaign in campaign%}
                         <option value="{{ state.id }}">{{ state.name }}</option>
                      {% endfor %}
                    </select>-->

                    <h4>{{ candidate.user.name }}:</h4>

                    <p><strong>email:</strong> {{ candidate.user.email }}</p>
                    {% if candidate.user.curriculum_url != '#' %}
                        <p><strong>cv:</strong> <a href="http://peaku.co/static/{{ candidate.user.curriculum_url }}">link</a></p>
                    {% else %}
                        <p><strong>cv:</strong> not available (<a href="http://peaku.co/request_cv/{{ candidate.user.id }}">request</a>)</p>
                    {% endif %}
                    <p><strong>country: </strong>{{ candidate.user.country.name }}</p>
                    <p><strong>profession: </strong>{{ candidate.user.profession.name }}</p>
                    <p><strong>education: </strong>{{ candidate.user.education.name }}</p>

                    <input type="hidden" name="campaign_id" value="{{ candidate.campaign_id }}" />

                    <br>

                    <textarea name="{{ candidate.id }}_comment" cols="60" rows="5"
                    placeholder="add a comment!">{{ candidate.comment }}</textarea>

                    <br>

                    <select name="{{ candidate.id }}_state" required>
                          <option value="{{ candidate.state_id}}">{{ candidate.state.name }}</option>
                          {% for state in states%}
                             <option value="{{ state.id }}">{{ state.name }}</option>
                          {% endfor %}
                    </select>

                    <br>
                    <br>

                    <input type="submit" name="save_changes" value="Save Candidate!"
                        onclick="send_candidate_id_in_params({{ candidate.id }})">

                </li>

                <br>
                {% endfor %}

            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <hr>
        <br>
        <br>

        <h3>Send customized mail</h3>

        <input name="email_subject" style="width:32.5%"
            value="Status de tu aplicación a {campaign_name} con PeakU">{{ candidate.comment }}</input>

        <br>
        <br>

        <textarea name="email_body" cols="60" rows="20"
            placeholder="mail body, use tags {name}, {campaign_name} to customize" >
{name},

write here ...

Saludos

Santiago
santiago@peaku.co
PeakU
        </textarea>

        <br>

        <input type="submit" name="send_mail" value="Send_email">

    </form>
</ul>

<a href="new">Add Candidate</a>
