{% load app_filters %}
{% load i18n %}
{% load static %}

<form action="{% url 'business:results' %}">
    <input style="width:500px;" id="search-input" type="text" name="search_text" placeholder="{% trans 'Search positions (eg android developer)' %}">
</form>


<a href="{% url 'dashboard:candidates_stats' %}">Total candidates per month</a>
<br>
<a href="{% url 'dashboard:campaign_stats' %}">Total campaigns per month</a>

<h1>Campaigns</h1>
<ul>
    {% for campaign in campaigns %}

        <li><a href="{{ campaign|get_campaign_url }}">{{ campaign.name }} {{ campaign.title_es }} {{ campaign.created_at }}</a>
            {% if campaign.active %}
                Active
            {% else %}
                Inactive
            {% endif %}
            <br>
            <a href="campaign/{{ campaign.id }}">Candidates</a>
            <br>
            <a href="campaign/edit/{{ campaign.id }}">Edit</a>
            <br>
            <a href="campaign/{{ campaign.id }}/bullets">Bullets</a>
            <br>
            <a href="campaign/interview/{{ campaign.id }}">Interview</a>
            <br>
            <a href="business_dashboard/{{ campaign.id }}">Business Dashboard</a>
            <br>
            <a href="campaign/{{ campaign.id }}/tests">Tests</a>
            <br>
            <p>operational efficiency = recommended/(recommended + relevant + rejected manually) = {% widthratio campaign.operational_efficiency 1 100 %}%</p>
            <br>
            <form action="campaign/delete/{{ campaign.id }}" method="post">
                {% csrf_token %}
                <input type="button" class="btn btn-danger" value="Delete!" onclick="this.form.submit();">
            </form>
        </li>
        <br>
    {% endfor %}
</ul>

<a href="campaign/new">New</a>

<hr>

<h1>Tests</h1>
<ul>
    {% for test in tests %}
        <li>{{ test.name }}
        <a href="test/{{ test.id }}">Edit</a>
        </li>
        <br>
        <form action="test/duplicate/{{ test.id }}" method="post">
            {% csrf_token %}
            <input type="button" class="btn btn-success" value="Duplicate!" onclick="this.form.submit();">
        </form>
    {% endfor %}
</ul>

<a href="test/new">New</a>

<hr>

<br>

<a href="edit_intro_video">Edit interview intro video</a>
