<!DOCTYPE html>
<html>
<head>
	<title>stats</title>
	{% load static %}
	<!--<script src="https://cdn.jsdelivr.net/npm/fusioncharts@3.13.2-sr.1/fusioncharts.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fusioncharts@3.13.2-sr.1/themes/fusioncharts.theme.fint.js"></script>-->
	<script type="text/javascript" src="{% static 'fusioncharts/js/fusioncharts.js' %}"></script>
   <script type="text/javascript" src="{% static 'fusioncharts/js/themes/fusioncharts.theme.fint.js' %}"></script>
</head>
<body>
	<div id="chart-1">{{ output|safe }}</div>
</body>
</html>
