{% load static %}
{% load i18n %}
{% load app_filters %}
<script>
    $(document).ready(function() {
        set_circle_color({{ candidate.get_last_evaluation.cognitive_score|int_rounding }}, "{{ candidate.pk }}-recommended-cognitive-id");
        set_circle_color({{ candidate.get_last_evaluation.technical_score|int_rounding }}, "{{ candidate.pk }}-recommended-technical-id");
        set_circle_color({{ candidate.get_last_evaluation.requirements_score|int_rounding }}, "{{ candidate.pk }}-recommended-requirement-id");
        set_circle_color({{ candidate.get_last_evaluation.motivation_score|int_rounding }}, "{{ candidate.pk }}-recommended-motivation-id");
        set_circle_color({{ candidate.get_last_evaluation.cultural_fit_score|int_rounding }}, "{{ candidate.pk }}-recommended-cultural-id");
    });
</script>
<script>
    var likes = {{ campaign.likes }};
    function change_state(param_dict)
    {
        general_dict = {csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()}
            $.ajax
            ({
                type:'POST',
                url:'../../../../change-state',
                data: Object.assign({}, general_dict, param_dict),
                success:function(response)
                {

                    if(param_dict['feedback']=='Yes'){
                        $("#reason-"+param_dict['candidate_id']).css("display", "none");
                        console.log('Entró');
                    }else{
                        likes = likes + 1;
                        if (param_dict['state_code']=='ABC' || param_dict['state_code']=='STC'){
                            $("#like-"+param_dict['candidate_id']).attr("onclick", "");
                            $("#like-"+param_dict['candidate_id']).css("background", "#A8CF38");
                            $("#like-"+param_dict['candidate_id']).css("color", "white");
                            $("#like-"+param_dict['candidate_id']).css("border-color", "#A8CF38");
                            $("#dislike-"+param_dict['candidate_id']).attr("onclick", "");
                            $("#dislike-"+param_dict['candidate_id']).css("color", "#9F9C9B;");
                            $("#dislike-"+param_dict['candidate_id']).css("border-color", "#9F9C9B");

                            $(".like-on").val("Marcardo como finalista " + likes + "/5");
                            $(".like").val("Marcar como finalista " + likes + "/5");

                        }else{
                            $("#dislike-"+param_dict['candidate_id']).attr("onclick", "");
                            $("#dislike-"+param_dict['candidate_id']).css("background", "#F26122");
                            $("#dislike-"+param_dict['candidate_id']).css("color", "white");
                            $("#dislike-"+param_dict['candidate_id']).css("border-color", "#F26122");
                            $("#like-"+param_dict['candidate_id']).attr("onclick", "");
                            $("#like-"+param_dict['candidate_id']).css("color", "#9F9C9B;");
                            $("#like-"+param_dict['candidate_id']).css("border-color", "#9F9C9B");

                            $("#reason-"+param_dict['candidate_id']).css("display", "block");
                        }
                    }
                }
            });
        return false;
    }
</script>
<a href="/seleccion_de_personal/perfil_del_candidato/{{ candidate.id }}" style="text-decoration:none">
    <div class="row candidate-info-div">
        <div class="col-lg-3" style="text-align: center;margin: 60px 0 0 0;">
            <div class="email-checkbox">
                <input type="checkbox" name="{{ candidate.id }}_checkbox">
            </div>
            <div>
                {% if candidate.user.photo_url != '#' %}
                <div class="circle candidate-circle" style="background-image: url({% static candidate.user.photo_url %});"></div>
                {% elif candidate.user.gender.sex == 2 %}
                <div class="circle candidate-circle female-avatar"></div>
                {% else %}
                <div class="circle candidate-circle male-avatar"></div>
                {% endif %}
            </div>
            <p class="name">
                <strong>{{ candidate.user.name }}</strong>
            </p>
            {% if candidate.user.profession.name_es %}
            <p class="profession">{{ candidate.user.profession.name_es }}</p>
            {% endif %}
            {% if candidate.user.city.name and candidate.user.city.name != "not available" %}
            <p class="city">{{ candidate.user.city.name }}, {{ candidate.user.country.name }}</p>
            {% endif %}
            {% if candidate.user.work_area.name_es %}
            <p class="work-area">{{ candidate.user.work_area.name_es }}</p>
            {% endif %}
        </div>

        <div class="col-lg-8 profile">
            {% if candidate.user.profile %}
                <div>
                    {% if candidate.user.experiences.all %}
                        <p>{{ candidate.user.profile }}</p>
                    {% else %}
                        <p style="margin-top:60px;">{{ candidate.user.profile }}</p>
                    {% endif %}
                </div>
            {% elif candidate.user.get_short_curriculum %}
                <div>
                    {% if candidate.user.experiences.all %}
                        <p>{{ candidate.user.get_short_curriculum }}</p>
                    {% else %}
                        <p style="margin-top:60px;">{{ candidate.user.get_short_curriculum }}</p>
                    {% endif %}
                </div>
            {% else %}

            {% endif %}
            {% for e in candidate.user.experiences.all %}
                <p class="company"><strong>{{ e.company }}</strong>
                    {% if e.start_format and e.finish_format %}
                        <span class="duration">({{ e.start_format }} - {{ e.finish_format }})</span></p>
                    {% endif %}
                <p class="role">{{ e.role }}</p>
                <p>{{ e.highlight }}</p>
            {% endfor %}
        </div>

        <div class="col-lg-1 tests-circles">
            {% if candidate.get_last_evaluation.requirements_score >= 0 %}
                <p class="test-title">Requisitos</p>
                <div id="{{ candidate.pk }}-recommended-requirement-id" class="fill small-fill">
                    {{ candidate.get_last_evaluation.requirements_score|print_score }}
                </div>
            {% endif %}
            {% if candidate.get_last_evaluation.cognitive_score >= 0 %}
                <p class="test-title">Capacidad cognitiva</p>
                <div id="{{ candidate.pk }}-recommended-cognitive-id" class="fill small-fill">
                    {{ candidate.get_last_evaluation.cognitive_score|print_score }}
                </div>
            {% endif %}
            {% if candidate.get_last_evaluation.technical_score >= 0 %}
                <p class="test-title">Conocimiento técnico</p>
                <div id="{{ candidate.pk }}-recommended-technical-id" class="fill small-fill">
                    {{ candidate.get_last_evaluation.technical_score|print_score }}
                </div>
            {% endif %}
        </div>
    </div>
</a>
<div class="like-selection-div">
    {% if logged_user == 'admin' %}
    <form method="post" class="like-dislike" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="like" id="like-{{ candidate.pk }}">
            <img class="like-img" src="{% static 'business/img/like.png' %}">
            <input type="button" class="option-text" onclick="change_state({'state_code':'STC', 'candidate_id':{{ candidate.pk }}, 'feedback':'No'})" value="Marcar como finalista">
        </div>
    </form>
    <form method="post" class="like-dislike" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="dislike" id="dislike-{{ candidate.pk }}">
            <div style="border-left: 2px solid #DAD9D9;">
                <img class="dislike-img" src="{% static 'business/img/dislike.png' %}">
                <input type="button" class="option-text" onclick="change_state({'state_code':'SR', 'candidate_id':{{ candidate.pk }}, 'feedback':'No'})" value="Rechazar candidato">
            </div>
        </div>
    </form>
    {% endif %}
</div>
<input type="hidden" name="campaign_id" value="{{ candidate.campaign_id }}"/>
