<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load app_filters %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>PeakU - Tablero de control</title>
        <!--Latest compiled and minified bootstrap CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Our Css-->
        <link rel="stylesheet" type="text/css" href="{% static 'business/css/dashboard.css' %}">
        <!-- Latest jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--Our JS-->
        <script src="{% static 'business/js/dashboard.js' %}"></script>
        <script>
            function openContent(evt, state) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                $("." + state).css("display", "block");
                evt.currentTarget.className += " active";

                if ($(window).width() > 768) {
                    $(".tablinks").css("width", "100%");
                    $(".tablinks").css("margin-left", "0%");
                    evt.currentTarget.style.width = "115%";
                    evt.currentTarget.style.marginLeft = "-15%";
                }
            }
        </script>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="/staffing" class="logo"><img src="{% static 'business/img/logo-color-negro.png' %}"></a>
            <a href="{% url 'business:logout' %}">{% trans "LOG OUT" %}</a>
            <a class="navButton" style="font-size: 15px;width:170px;color: white;border-radius:40px;margin-top: 30px;padding:5px 16px;background:#F47B20;"
                role="button" href="{% url 'business:start' %}">+  CREAR OFERTA</a>
            <a href="{% url 'business:business_campaigns' business_user_id=business_user.pk %}">Mis ofertas</a>
            <a href="{% url 'business:summary' campaign_id=campaign.pk %}">VER RESUMEN DE LA OFERTA</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
            </a>
        </div>
        <div id="contact-buttons">
            <a href="https://api.whatsapp.com/send?phone=573174236989" target="_blank"><img src="{% static 'business/img/boton-whatsapp.png' %}" width="100px" id="whatsapp-pc"></a>
        </div>
        <div class="background" id="background">
            <div class="gradient1">
                <div class="row one"></div>
                <div class="row two">
                    <div class="col-lg-12 campaign bold">{{ campaign.title_es }}</div>
                </div>
                <div class="row plan-type"></div>
                <div class="row three">
                    <div class="col-lg-3 col-xs-12"></div>
                    <div class="col-lg-9 col-xs-12 gradient2">
                        <p class="date regular">FECHA DE PUBLICACIÓN: {{ campaign.created_at }}</p>
                        <br>
                        {% if campaign.state.name == 'Active' %}
                            <p class="status bold">ESTADO: activa</p>
                        {% elif campaign.state.name == 'Inactive' %}
                            <p class="status bold">ESTADO: inactiva</p>
                        {% else %}
                            <p class="status bold">ESTADO: terminada</p>
                        {% endif%}
                        <br>
                        {% if campaign.free_trial == True %}
                            <p class="status bold">(Prueba gratis)</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tab-div col-lg-2 col-md-2 col-sm-2 col-xs-12 no-padding">
                <div class="tab" id="tab">
                    <button class="tablinks" onclick="openContent(event, 'recommended-profiles')" id="active-recommended"><span class="tab-button-span">{{ num_recommended }}</span>{% trans 'Selected' %}</button>
                    <button class="tablinks" onclick="openContent(event, 'relevant-profiles')" id="active-relevant"><span class="tab-button-span">{{ num_relevant }}</span>{% trans 'Pre-selected' %}</button>
                    <button class="tablinks" onclick="openContent(event, 'applicants-profiles')" id="active-applicants"><span class="tab-button-span">{{ num_applicants }}</span>{% trans 'Prospects' %}</button>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 no-padding">
                <div class="row big-div">
                    <div class="tabcontent recommended-profiles">
                        {% include "business/dashboard/dashboard_column.html" with candidates_list=recommended business_state='recommended' campaign_evaluation=recommended_evaluation %}
                    </div>
                    <div class="tabcontent relevant-profiles">
                        {% include "business/dashboard/dashboard_column.html" with candidates_list=relevant business_state='relevant' campaign_evaluation=relevant_evaluation %}
                    </div>
                    <div class="tabcontent applicants-profiles">
                        {% include "business/dashboard/dashboard_column.html" with candidates_list=applicants business_state='applicants' campaign_evaluation=applicant_evaluation %}
                    </div>
                </div>
            </div>
        </div>
        <!----------------------------------------------FOOTER--------------------------------------------------------->
        <footer class="container-fluid">
            <div class="row footer-navigation">
                <div class="col-md-2 col-md-2"></div>
                <div class="col-md-3 col-md-3 navfooter">
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="{% url 'business:contact_form' %}">Contáctanos</a></li>
                        <li><a href="{% url 'beta_invite:index' %}">Personas</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-md-2 social">
                    <a href="https://www.linkedin.com/company-beta/16241506/" target="_blank"><img src="{% static 'business/img/linkedin.png' %}"></a>
                    <a href="https://www.facebook.com/PeakU-Latam-1916685895214519/?ref=aymt_homepage_panel" target="_blank">
                    <img src="{% static 'business/img/facebook.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'business/img/instagram.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'business/img/twitter.png' %}"></a>
                </div>
                <div class=" col-md-1 col-md-1"></div>
                <div class=" col-md-2 col-md-2 navfootercontact">
                    <div class="logo-white"><a href="#"><img src="{% static 'business/img/logo-white.png' %}"></a></div>
                    contacto@peaku.co<br>
                    +57 317 4236989<br>
                    Colombia
                </div>
            </div>
            <div class=" col-md-2 col-md-2 "></div>
            </div>
            <div class="row">
                <div class="col-1 col-md-1"></div>
                <div class="col-10 copyright">Copyright 2018 © PeakU. Todos los derechos reservados.</div>
                <div class="col-1"></div>
            </div>
        </footer>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
        <script>
            $(document).ready(function() {
                set_background("{{ campaign.image }}", "background");

                if ($(window).width() > 768) {
                    $.stickysidebarscroll("#tab",{offset: {top: 0, bottom: 250}});
                }
                document.getElementById("active-"+"{{ business_state.name }}").click();
            });
        </script>
        <script>
            $( window ).resize(function() {
                set_background("{{ campaign.image }}", "background");
            });
        </script>
        <script>
            // Adds candidates as it scrolls down...
            $(window).scroll(function() {
               if($(window).scrollTop() + $(window).height() > $(document).height() - 2000) {
                   recommended = $('.recommended-profiles');
                   relevant = $('.relevant-profiles');
                   prospect = $('.applicants-profiles');

                   if (recommended.css('display') == 'block') {
                        request_candidates('recommended', {{ campaign.pk }});
                   }else if (relevant.css('display') == 'block') {
                        request_candidates('relevant', {{ campaign.pk }});
                   }else if (prospect.css('display') == 'block') {
                        request_candidates('applicants', {{ campaign.pk }});
                   }
               }
            });
        </script>
    </body>
</html>
