.main-title {
	width: 71.6%;
	height: 75px;
	font-size: 40px;
	line-height: 1.12;
	text-align: center;
	color: var(--white);
	text-shadow: 0 2px 4px var(--very-dark);
	text-transform: uppercase;
}

.green-box {
    height: 47px;
	background-color: var(--green);
	font-size: 20px;
	line-height: 1.5;
	color: var(--blue);

	/* use this last 2 properties together */
	z-index: 1;
	position:relative;
}

/* Center text vertically only */
.green-box p {
    padding-top: 10px;
}

.background-people {
	width: 100%;
	height: 355px;
	z-index: 0;
	display: block;
}

.background-people-mobile {
	width: 100%;
	z-index: 0;
	display: none;
}


/* Responsive */
@media (max-width: 640px){
    .background-people {
        display:none;
    }

    .background-people-mobile {
        display:block;
    }
}
