.submit-button {
	border: solid 2px var(--green);
	font-size: 16px;
	line-height: 1.0;
	text-align: center;
	color: var(--green);
	border-radius: 0px;
	background-color: var(--white);

	/* Defines additional position params for a default "nice" view on a form */
	width: 100%;
    height: 45px;
}

.submit-button:hover {
    background-color: var(--light-grey);
}

.submit-button-strong {
	border: solid 2px var(--green);
	font-size: 16px;
	line-height: 1.0;
	text-align: center;
	color: var(--white);
	border-radius: 0px;
	background-color: var(--green);

	/* Defines additional position params for a default "nice" view on a form */
	width: 100%;
    height: 45px;
}

.delete-button {
	border: solid 2px var(--red);
	font-size: 16px;
	line-height: 1.0;
	text-align: center;
	color: var(--red);
	border-radius: 0px;
	background-color: var(--white);
}

.delete-button-strong {
	border: solid 2px var(--red);
	font-size: 16px;
	line-height: 1.0;
	text-align: center;
	color: var(--white);
	border-radius: 0px;
	background-color: var(--red);
}


.delete-button:hover {
    background-color: var(--light-grey);
}

.blue-button {
	border: solid 3px var(--blue);
	font-size: 16px;
	line-height: 1.0;
	text-align: center;
	color: var(--blue);
	border-radius: 0px;
	background-color: var(--white);
}

.blue-button:hover {
    background-color: var(--light-grey);
}
