.my-form {
    width: 80%;
    margin-left: 10%;
}

.form-text {
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
	border: none;
	font-size: 16px;
	background-color: rgba(100, 138, 255, 0.15);
	color: rgba(100, 138, 255, 0.57);
}

.form-text::placeholder {
    color: rgba(100, 138, 255, 0.57);
}

.form-text:hover {
    background-color: var(--light-grey);
}

.form-select {
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
	border: none;
	font-size: 16px;
	background-color: rgba(100, 138, 255, 0.15);
	color: rgba(100, 138, 255, 0.57);
}

.form-select::placeholder {
    color: rgba(100, 138, 255, 0.57);
}

.form-select:hover {
    background-color: var(--light-grey);
}

.form-text-area {
	width: 100%;
	border: none;
	font-family: Bitter;
	font-size: 16px;
	line-height: 1.62;
    background-color: rgba(100, 138, 255, 0.15);
	color: rgba(100, 138, 255, 0.57);
}

.form-text-area::placeholder {
    color: rgba(100, 138, 255, 0.57);
}

.form-text-area:hover {
    background-color: var(--light-grey);
}

/* to implement follow: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox*/
/*.form-checkmark {
	width: 15px;
	height: 15px;
	border: solid 2px var(--green);
	display: inline-block;
}*/

.form-checkbox-text {
	font-family: Bitter;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.4;
	text-align: left;
	color: var(--dark-grey);
	display: inline-block;
}

.people-talking {
    width: 80%;
    margin-left: 10%;
	object-fit: contain;
}

.form-submit {
	border: solid 2px var(--green);
	font-size: 16px;
	line-height: 1.0;
	text-align: center;
	color: var(--green);
	border-radius: 0px;
	background-color: var(--white);

	/* Defines additional position params for a default "nice" view */
	width: 100%;
    height: 45px;
    margin-bottom: 94px;
}

.form-submit:hover {
    background-color: var(--light-grey);
}

@media (max-width: 640px){

    /* Defines additional position params for a default "nice" view */
    .people-talking {
        margin-top: 100px;
    }

}
