inflection
Fabric3
pandas
imbalanced_learn
nltk
pytesseract
Django==1.11.2
geoip2
scipy
requests
paramiko
psycopg2
django_decouple
numpy
user_agents
django_ipware
raven
Pillow
PyPDF2
imblearn
django-picklefield
scikit_learn
