<!DOCTYPE html>
{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'nice/css/cv.css' %}">
</head>
<body>
    <p>name: {{ candidate.user.name }}</p>
    <p>email: {{ candidate.user.email }}</p>
    <p>phone: {{ candidate.user.phone }}</p>
    <p>country: {{ candidate.user.country.name }}</p>
    <p>city: {{ candidate.user.city.name }}</p>

    {% for e in candidate.user.experiences.all %}
        <p class="company"><strong>{{ e.company }}</strong>
            {% if e.start_format and e.finish_format %}
                <span class="duration">({{ e.start_format }} - {{ e.finish_format }})</span></p>
            {% endif %}
        <p class="role">{{ e.role }}</p>
        <p>{{ e.highlight }}</p>
    {% endfor %}

</body>
</html>
