{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{%  trans "Employment Agency - PeakU" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'testing_webpage/css/index.css' %}">

    <!-- MailerLite Universal -->
    <script>
        (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
        var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
        f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
        var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
        _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
        var ml_account = ml('accounts', '1042996', 'o9s9l3m3p3', 'load');
    </script>

{% endblock %}


{% block content %}
    <section class="blue">
        <h1 class="main-title">{% trans "Discover Amazing People" %}</h1>
        <h2 class="secondary-title">{% trans "We connect people and companies, fast and easy" %}</h2>
        <div class="content">

            <div class="person">
                <a href="{% url 'beta_invite:index' %}">
                    <input class="blue-button free-trial-button" type="button" value='{% trans "CANDIDATE" %}'>
                </a>
            </div>

            <div class="main-img-div">
                <img class="main-img" src="{% static 'beta_invite/img/selection.png' %}">
            </div>

            <div class="business">
                <a href="{% url 'business:index' %}">
                    <input class="blue-button free-trial-button" type="button" value='{% trans "EMPLOYER" %}'>
                </a>
            </div>
        </div>
    </section>

    <section class="main">
            <div>
                <img class="left-img" src="{% static 'beta_invite/img/intro.png' %}">
            </div>
            <article class="description">
                <h2>{% trans "What is PeakU?"%}</h2>
                <br/>
                <p><strong>{% trans "PeakU is revolutionizing the job search, recruitment and selection processes." %}</strong></p>
                <p><strong>{% trans "PeakU provides a web platform that uses artificial intelligence to help companies and candidates have a better and more effective experience." %}</strong></p>
            </article>
    </section>

    <!-- TODO: finish-->
    <script>
        var HttpClient = function() {
            this.get = function(aUrl, aCallback) {
                var anHttpRequest = new XMLHttpRequest();
                anHttpRequest.onreadystatechange = function() {
                    if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                        aCallback(anHttpRequest.responseText);
                }

                anHttpRequest.open( "GET", aUrl, true );
                anHttpRequest.send( null );
            }
        }

        var client = new HttpClient();
        client.get('http://some/thing?with=arguments', function(response) {
            var formData = $("#commentForm").serializeArray();
            formData.push({name: "url", value: window.location.pathname});
        });

    </script>

{% endblock %}

