:root {
    --blue: #648aff;
    --green: #46e7b9;
    --purple: #596dbd;
    --yellow: #ffff7c;
    --white: #ffffff;
    --very_dark: #333335;
    --black_text_color: #7b8891;
}

body {
	margin: 0px;
	padding: 0px;
	/* Try a BigJohn font */
	font-family: Arial;
}


#header {
	width: 100%;
	height: 60px;
	margin-right:13px;
	background-color: var(--blue);
}

/* PeakU Home button */
#peaku_home {
	width: 47px;
	height: 40px;
	object-fit: contain;
	margin-left: 25px;
	margin-top: 9px;
	cursor: pointer;
}

#log_and_sign_up {
    float:right;
    width: 250px;
    margin-right:70px;
}

/* Log in button */
#log_in_form {
    display:inline-block;
    float:right;
    margin-right:2%;
    margin-left:1%;
    margin-top:13px;
}

#log_in_input {
	width: 100px;
	height: 35px;
	background-color: var(--blue);
	color: var(--green);
	border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    border: solid 1px var(--green);
    margin:0px;
    padding:0px;
    border-radius:0px;
}


/* Sign up button */
#sign_up_form {
    display:inline-block;
    float:right;
    margin-right:13px;
    margin-top:13px;
}

#sign_up_input {
	width: 100px;
	height: 35px;
	background-color: var(--green);
	color: #648aff;
	border: none;
    cursor:pointer;
    text-transform: uppercase;
    font-size: 13px;
    margin:0px;
    padding:0px;
    border-radius:0px;
}


/* Footer */
#footer {
	width: 100%;
	height: 214px;
	background-color: var(--purple);
	bottom:0;
	position: static;
}

#footer #footer_yellow_bar {
	width: 100%;
	height: 20px;
	background-color: var(--yellow);
}

#footer #footer_blue_bar {
	width: 90%;
	height: 100px;
	background-color: var(--blue);
	overflow: hidden;
}

/*Phone*/
#footer #footer_phone_div {
    margin-top: 28px;
    margin-left: 65%;
    height: 33px;
}

#footer #footer_phone {
	width: 150px;
	height: 20px;
	margin: 0px;
	font-size: 13px;
	line-height: 2.73;
	text-align: left;
	color: var(--white);
	text-transform: uppercase;
	display: inline-block;
}

/* email */
#footer #footer_email_div {
    margin-top: 0px;
    margin-left: 65%;
    height: 33px;
}

#footer #footer_email {
	width: 150px;
	height: 33px;
	font-size: 13px;
	line-height: 2.73;
	text-align: left;
	color: var(--white);
	margin-top: -40px;
	text-transform: uppercase;
	display: inline-block;
}

#footer .footer_icon {
    display: inline-block;
}


/*Social media and logo*/
#footer #footer_bottom_div {
    margin-top: 28px;
    margin-left: 58.7%;
    height: 50px;
}

#footer #peaku_footer {
    margin-left: 63%;
    display: inline-block;
}


/* Responsive */
@media (max-width: 1000px)
{
    #footer #footer_bottom_div, #footer #footer_phone_div, #footer #footer_email_div
    {
        margin-left: 10%;
    }

    #footer #peaku_footer
    {
        margin-left: 40%;
    }

    #log_and_sign_up {
        margin-right: 5px;
    }
}
