{% extends 'peaku_base.html'%}
{% load static %}
{% load i18n %}
{% load app_filters %}

{% block title %}PeakU - Dashboard {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/business_campaigns.css' %}">
{% endblock %}

{% block content %}

    <h1>Campaigns</h1>
    <ul>
        {% for campaign in campaigns %}
            <li><a href="{{ campaign|get_dashboard_campaign_url }}">{{ campaign.title_es }}</a></li>
        {% endfor %}
    </ul>

    <form class="content" action="{% url 'business:create' %}" method="post">
        {% csrf_token %}
        <input class="submit-button-strong" id="create-campaign-button" type="submit" value="{% trans 'Create Campaign' %}">
        <input type="hidden" name="business_user_id" value="{{ business_user_id }}" />
    </form>

{% endblock %}
