{% extends 'white_header_base.html'%}
{% load static %}
{% load i18n %}
{% load app_filters %}
{% load compress %}
{% block title %}Selección, contratación y reclutamiento de personal{% endblock %}
{% block extra_meta %}
    <meta name="description"  content="Publica y comparte ofertas laborales, realiza pruebas relacionadas al cargo y selecciona al mejor personal. Podrás buscar, filtrar y comunícarte fácilmente con los candidatos en todas las etapas del proceso." />
    <meta name="keywords" content="cazatalentos, selección de personal, reclutamiento personal, contratacion personal, selección personal, agencias, reclutamiento, reclutamiento empleados, busqueda personal, preselección personal, headhunter, agencia empleo" />
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/business_campaigns.css' %}">
{% endblock %}

{% block content %}
    <h1 style="text-align:center; margin:50px 0px">{% trans "Campaigns" %}</h1>
    <ol style="margin-left:10%">
        {% for campaign in campaigns %}
            <li style="">
                <a href="{% url 'business:summary' campaign_id=campaign.pk %}">
                    {{ campaign.title_es }}
                    {% if campaign.active == False %}
                        Inactiva
                    {% else %}
                        Activa
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ol>

    <form class="content" action="{% url 'business:start' %}" style="margin-bottom:300px" method="post">
        {% csrf_token %}
        <input class="submit-button-strong" id="create-campaign-button" type="submit" value="{% trans 'Create Campaign' %}">
        <input type="hidden" name="business_user_id" value="{{ business_user_id }}" />
    </form>

{% endblock %}

