{% extends 'base.html'%}
{% load static %}
{% load i18n %}

{% block title %}PeakU - Dashboard {% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'business/js/dashboard.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/dashboard.css' %}">


<!-- TODO: factor in seperate Css file. -->
<style>
.accordion {

    margin-left:-5px;
    background-color: #fefefe;
    cursor: pointer;
    padding: 5px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.active{
    background-color: white;
}

.accordion:hover {
    background-color: white;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

</style>
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>

    <table style="margin-left:10px;">


        <tr valign=top>

                <h4 class="secondary-title" align="center">{{ candidate.user.name }}</h4>
                <div class="secondary-yellow-bar"></div>
                <br>
                <br>
            <div style="margin-left:500px;">
                <p><strong>Email:</strong> {{ candidate.user.email }}</p>
                <p><strong>Teléfono:</strong>
                {% if candidate.user.phone is None %}
                    not available
                {% else %}
                    {{ candidate.user.phone }}
                {% endif %}
                </p>

                <p> <strong>Hoja de vida:</strong>
                {% if candidate.user.curriculum_url != '#' %}
                    <a href="{% static candidate.user.curriculum_url %}">link</a>
                {% else %}
                    not available
                {% endif %}
                </p>

                <p><strong>Profesión: </strong>{{ candidate.user.profession.name }}</p>
                <p><strong>Nivel académico: </strong>{{ candidate.user.education.name }}</p>

                <!-- Deprecated -->
                {% for e in candidate.user.evaluations.all %}
                    {% if candidate.campaign_id == e.campaign_id %}
                        <p><strong>Puntaje prueba (corte: {{ e.cut_score }}): </strong> {{ e.final_score }}</p>
                    {% endif %}
                {% endfor %}

                {% for e in candidate.evaluations.all %}
                    <p><strong>Puntaje prueba (corte: {{ e.cut_score }}): </strong> {{ e.final_score }}</p>
                {% endfor %}

                {% if candidate.salary %}
                    <p><strong>Aspiración salarial: </strong>{{ candidate.salary }}</p>
                {% endif %}

                {% for c in candidate.comments.all %}
                    {% if candidate.comments %}
                        <p><strong>Comentarios: </strong>{{ c.text }}</p>
                    {% endif %}
                {% endfor %}
                    <button class="accordion"><strong>&#9776; Ver preguntas y respuestas del test</strong></button>
                    <div class="panel">

                        <br>
                        <br>

                        {% for evaluation in candidate.evaluations.all %}
                            {% for score in evaluation.scores.all %}
                                <p><strong>{{ score.test.name }}:</strong> {{ score.value }}</p>
                            {% endfor %}
                        {% endfor %}

                        {% for e in candidate.evaluation.all %}
                            <p>{{ e.cut_score }}</p>
                            {% for score in evaluation.scores.all %}
                                <p>{{ score.test.name }}: {{ score.value }}</p>
                            {% endfor %}
                        {% endfor %}

                        <br>
                        <p><strong>Preguntas de campo abierto:</strong></p>
                        <br>
                        {% for e in candidate.surveys.all %}

                                {% if e.question.type.code == "OF" %}
                                    <p><strong> {{ e.question.text_es }} </strong>

                                    {% if e.text_answer %}
                                        <p> {{ e.text_answer }} </p>
                                    {% endif %}
                                {% endif %}
                        {% endfor %}
                    </div>
            </div>

            <script>
                var acc = document.getElementsByClassName("accordion");
                var i;

                for (i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var panel = this.nextElementSibling;
                        if (panel.style.display === "block") {
                            panel.style.display = "none";
                        } else {
                            panel.style.display = "block";
                        }
                    });
                }
            </script>
        </tr>
    </table>

    <br>
    <br>
    <br>

{% endblock %}
