{% extends 'base.html'%}
{% load static %}
{% load i18n %}

{% block title %}PeakU - Dashboard {% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'business/js/dashboard.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/dashboard.css' %}">


<!-- TODO: factor in seperate Css file. -->
<style>
.accordion {

    margin-left:-5px;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.active{
    background-color: white;
}

.accordion:hover {
    background-color: white;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

</style>
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>

    <h4 class="secondary-title" align="center">{{ candidate.user.name }}</h4>
    <div class="secondary-yellow-bar"></div>
    <br>
    <br>
    <div style="margin:0px auto; align:center; padding:0px 50px; width:90%;">
        {% if candidate.user.email %}
            <p><strong>{% trans "e-mail" %}: </strong> {{ candidate.user.email }}</p>
        {% else %}
            <p><strong>{% trans "e-mail" %}: </strong>{% trans "Not available" %}</p>
        {% endif %}
        <p><strong>{% trans "Phone" %}: </strong>
        {% if candidate.user.phone is None %}
            {% trans "Without a registered phone" %}
        {% else %}
            {{ candidate.user.phone }}
        {% endif %}
        </p>

        <p> <strong>{% trans "CV" %}: </strong>
        {% if candidate.user.curriculum_url != '#' %}
            <a style="color:blue; font-size:17px;" href="{% static candidate.user.curriculum_url %}">link</a>
        {% else %}
            {% trans "Not available" %}
        {% endif %}
        </p>

        <p><strong>{% trans "Profession" %}: </strong>{{ candidate.user.profession.name }}</p>
        <p><strong>{% trans "Academic level" %}: </strong>{{ candidate.user.education.name }}</p>

        <!-- Deprecated -->
        {% for e in candidate.user.evaluations.all %}
            {% if candidate.campaign_id == e.campaign_id %}
                <p><strong>{% trans "Test score (cut: " %}{{ e.cut_score }}): </strong> {{ e.final_score }}</p>
            {% endif %}
        {% endfor %}

        {% for e in candidate.evaluations.all %}
            <p><strong>{% trans "Test score (cut: " %}{{ e.cut_score }}): </strong> {{ e.final_score }}</p>
        {% endfor %}

        {% if candidate.user.salary or candidate.salary %}
            {% if candidate.user.salary <= candidate.salary %}
                <p><strong>{% trans "Salary deduction" %}: </strong>{{ candidate.user.salary }}</p>
            {% else %}
                <p type="text" name="{{ candidate.id }}_salary"><strong>Salary: </strong>{{ candidate.salary }}</p>
            {% endif %}
        {% endif %}



        {% for c in candidate.comments.all %}
            {% if candidate.comments %}
                <p><strong>{% trans "Comments" %}: </strong>{{ c.text }}</p>
            {% endif %}
        {% endfor %}

            <button class="accordion" style="color:blue;"><strong>&#9776;{% trans "See test questions and answers" %}</strong></button>
            <div class="panel">

                <br>
                <br>
                {% for e in candidate.evaluations.all %}
                    <p><strong>{% trans "TESTS" %}</strong></p>
                    {% for score in e.scores.all %}

                        <p><strong>{{ score.test.name_es }}: </strong>{{ score.value }}</p>
                    {% endfor %}
                {% endfor %}
                <br>
                <p><strong>{% trans "OPEN FIELD QUESTIONS" %}</strong></p>
                {% for e in candidate.surveys.all %}
                    {% if e.question.type.code == "OF" %}
                        {% if e.question.text_es %}
                            <p><strong> {{ e.question.text_es }} </strong>
                            {% if e.text_answer %}
                                <p> {{ e.text_answer }} </p>
                            {% endif %}
                        {% else %}
                            <p></p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
{% endblock %}
