{% load static %}
{% load i18n %}


<input type="checkbox" name="{{ candidate.id }}_checkbox">
<p style="display:inline; font-size:15px;"><a href="/seleccion_de_personal/perfil_del_candidato/{{ candidate.id }}"><strong>{{ candidate.user.name }}</strong></a></p>
    <br>

        {% if candidate.user.curriculum_url != '#' %}
            <a href="{% static candidate.user.curriculum_url %}">{% trans "CV" %}</a>
        {% else %}
            {% trans "Without resume" %}
        {% endif %}
        {% if candidate.user.email %}
            <p>{{ candidate.user.email }}
        {% else %}
            <p>
        {% endif %}
        <br>
        {% if candidate.user.phone is None %}
            {% trans "Not available" %}
        {% else %}
            {{ candidate.user.phone }}
        {% endif %}
            </p>
        <!--{{ candidate.state.name }}-->
<input type="hidden" name="campaign_id" value="{{ candidate.campaign_id }}" />



