{% load static %}

<li>
    <input type="checkbox" name="{{ candidate.id }}_checkbox">
        <p style="display:inline;"><a href="/business/candidate_profile/{{ candidate.id }}"> <strong>{{ candidate.user.name }} </strong></a></p>
        <br>

            {% if candidate.user.curriculum_url != '#' %}
                <a href="{% static candidate.user.curriculum_url %}"> Hoja de vida</a>
            {% else %}
                Sin hoja de vida
            {% endif %}
        <p>{{ candidate.user.email }}
            <br>
            {% if candidate.user.phone is None %}
                not available
            {% else %}
                {{ candidate.user.phone }}
            {% endif %}
        </p>
    <input type="hidden" name="campaign_id" value="{{ candidate.campaign_id }}" />
</li>


