<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load i18n %} <!--Django translation-->

    <meta charset="UTF-8">

</head>

<body class="indent_style">

<h1>Describe tu empresa</h1>

<p>Introducción:</p>

<input type="text" name="description_es" >

<p></p>

<p>{% trans "Perks (additional benefits of your company):" %}</p>

<div id="perk_container"></div>

<div class="requirement-buttons">
    <input class="submit-button" type="button" name="add_bullet" value="Añadir"
              onclick="addBullet({{ perk_bullet_id }}, 'perk_container', '{% trans 'Perk' %}', '{% trans 'Input a perk' %}');">

    <input class="delete-button" type="button" name="remove_bullet" value="Borrar último"
              onclick="removeBullet('perk_container');">
</div>

<input class="submit-button" type="button" name="next_step" value="Siguiente paso"
          onclick="next_step_tab(event, 'start')" >

</body>
</html>