{% extends 'white_header_base.html'%}
{% load static %}
{% load i18n %}
{% load app_filters %}
{% load compress %}
{% block extra_meta %}
<meta name="description" content="Resolvemos tus preguntas sobre nuestras ofertas de empleo y el procesos de selección y reclutamiento de personal para empresas en Colombia, Chile, Ecuador, Perú y Argentina." />
<meta name="keywords" content="cazatalentos, selección de personal, reclutamiento personal, contratacion personal, selección personal, agencias, reclutamiento, servicio de empleo , empleo, ofertas de empleo , headhunter, agencia empleo" />
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'business/css/contact_form.css' %}">
{% endblock %}
{% block content %}
<section class="section-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="only-register-form">
                <div class="title">
                    <br>
                    <h2 style="font-size:35px; margin-top:10px; color:white; ">{{ main_message }}</h2>
					<b style="font-weight:500; color:white; text-transform: uppercase;">{% trans "Thanks for reaching out!" %}</b>
					<br>
					<b style="font-weight:400; color:white; font-size:18px">{% trans "We will contact you soon" %}</b>
					<br>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
