{% extends 'white_header_base.html'%}
{% load static %}
{% load i18n %}
{% load app_filters %}
{% load compress %}
{% block extra_meta %}
    <meta name="description" content="Resolvemos tus preguntas sobre nuestras ofertas de empleo y el procesos de selección y reclutamiento de personal para empresas en Colombia, Chile, Ecuador, Perú y Argentina." />
    <meta name="keywords" content="cazatalentos, selección de personal, reclutamiento personal, contratacion personal, selección personal, agencias, reclutamiento, servicio de empleo , empleo, ofertas de empleo , headhunter, agencia empleo" />
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/contact_form.css' %}">
{% endblock %}
{% block content %}
    <section class="section-container">
        <div class="row">
            <div class="col-lg-12">
                <form class="only-register-form" action="{% url 'business:contact_form_post' %}" method="post">
                    {% csrf_token %}

                    <input class="form-text" type="text" name="name"
				        placeholder="{% trans 'Your Full Name' %}" required="required" pattern="[A-Za-z\sÁÉÍÓÚáéíóúÑñÜü]{1,200}">

                    <input class="form-text" type="email" name="email"
                         placeholder="{% trans 'Your email' %}" required="required">

                    <input class="form-text" type="tel" name="phone"
                         placeholder="{% trans 'Your phone (optional)' %}">

                    <textarea class="form-text-area" name="message" rows="10" cols="20" autocomplete="off" maxlength="500" placeholder="{% trans 'Add a message (optional)' %}"></textarea>

                    <input class="form-submit" type="submit" value="{% trans 'Sure!' %}">
                </form>
            </div>
        </div>
    </section>
{% endblock %}