{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{%  trans "Staff Pick - PeakU" %}{% endblock %}

{% block extra_head %}
    <!-- MailerLite Universal -->
    <script>
        (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
        var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
        f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
        var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
        _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
        var ml_account = ml('accounts', '1042996', 'o9s9l3m3p3', 'load');
    </script>
{% endblock %}


{% block content %}

    <section class="section-container">
        <div class="row"> <!-- bootstrap row class -->
            <div class="col-sm-6">
                <img class="people-talking" src="{% static 'business/img/people_talking.jpg' %}"
                     srcset="{% static 'business/img/people_talking.jpg' %} 2x,
                             {% static 'business/img/people_talking.jpg' %} 3x">
            </div>
            <div class="col-sm-6">

                <!-- TODO: FIX THIS DIRTY TRICK. IT IS USED SO THAT THE ANCHOR WORKS FOR MOBILE-->
                <h2 id="anchor-trick"></h2>

                <!-- tag to scroll down to the contact form with url -->
                <a name="contactForm"></a>

                <h3 class="secondary-title" >{% trans "Contact Us"%}</h3>
                <div class="secondary-yellow-bar"></div>

                <form class="my-form" action="{% url 'business:contact_us' %}" method="post">
                    {% csrf_token %}

                    <input class="form-text" type="text" name="name"
				        placeholder="{% trans 'Your Full Name' %}" required="required" pattern="[A-Za-z\sÁÉÍÓÚáéíóúÑñÜü]{1,200}">

                    <input class="form-text" type="email" name="email"
                         placeholder="{% trans 'Your email' %}" required="required">

                    <input class="form-text" type="tel" name="phone"
                         placeholder="{% trans 'Your phone (optional)' %}">

                    <textarea class="form-text-area" name="message"
                         placeholder="{% trans 'Add a message (optional)' %}"></textarea>

                    <input class="form-submit" type="submit" value="{% trans 'Sure!' %}">
                </form>
            </div>
        </div>
    </section>
{% endblock %}