{% extends 'base_without_registration.html'%}
{% load static %}

{% block title %}PeakU - Dashboard {% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{% static 'js/campaign/business_dashboard.js' %}"></script>
<style>

table {
    width:98%;
}
table, th, td, tr {
    border: 1px solid black;
}

td {
    text-align: left;
    font-size: 12px;
}

table th {
    background-color: var(--green);
    color: var(--purple);
    text-align: center;
    width:14%;

}
</style>
{% endblock %}

{% block content %}
                    <br>
<caption><h3 class="primary-title" align="center"> Dashboard {{ campaign.name }}</h3></caption>
                    <div class="primary-yellow-bar"></div>
                    <br>
                    <table style="margin-left:10px;">
                        <tr>
                            <th>
                             <p style="margin-top:10px;"> SIN PRUEBA ( <b id="quantity_backlog" ></b> ) </p>
                            </th>

                            <th>
                             <p style="margin-top:10px;"> PERDIERON PRUEBA ( <b id="quantity_waiting_test" ></b> ) </p>
                            </th>

                            <th>
                             <p style="margin-top:10px;"> APROBARON PRUEBA ( <b id="quantity_waiting_interview" ></b> ) </p>
                            </th>

                            <th>
                             <p style="margin-top:10px;"> REALIZARON <br> ENTREVISTA ( <b id="quantity_did_interview" ></b> ) </p>
                            </th>

                            <th>
                             <p style="margin-top:10px;"> ENVIADOS ( <b id="quantity_send_to_client" ></b> ) </p>
                            </th>

                            <th>
                             <p style="margin-top:10px;"> CONTRATADOS ( <b id="quantity_got_job" ></b> ) </p>
                            </th>

                            <th>
                             <p style="margin-top:10px;"> RECHAZADOS ( <b id="quantity_rejected" ></b> ) </p>
                            </th>
                        </tr>

                        <tr valign=top>
                            <td>
                              <ol id="backlog">
                                {% for candidate in backlog %}
                                    {% include "dashboard/campaign/candidate_for_campaign.html" with candidate=candidate campaigns=campaigns%}
                                {% endfor %}
                              </ol>
                              <script> count_candidates();</script>
                            </td>

                            <td>
                              <ol id="waiting_test">
                                {% for candidate in waiting_tests %}
                                    {% include "dashboard/campaign/candidate_for_campaign.html" with candidate=candidate campaigns=campaigns%}
                                {% endfor %}
                              </ol>
                              <script> count_candidates();</script>
                            </td>

                            <td>
                              <ol id="waiting_interview">
                                {% for candidate in waiting_interview %}
                                    {% include "dashboard/campaign/candidate_for_campaign.html" with candidate=candidate campaigns=campaigns%}
                                {% endfor %}
                              </ol>
                              <script> count_candidates();</script>
                            </td>

                            <td>
                              <ol id="did_interview">
                                {% for candidate in did_interview_in_standby %}
                                    {% include "dashboard/campaign/candidate_for_campaign.html" with candidate=candidate campaigns=campaigns%}
                                {% endfor %}
                              </ol>
                              <script> count_candidates();</script>
                            </td>

                            <td>
                              <ol id="send_to_client">
                                {% for candidate in send_to_client %}
                                    {% include "dashboard/campaign/candidate_for_campaign.html" with candidate=candidate campaigns=campaigns%}
                                {% endfor %}
                              </ol>
                              <script> count_candidates();</script>
                            </td>

                            <td>
                              <ol id="got_job">
                                {% for candidate in got_job %}
                                    {% include "dashboard/campaign/candidate_for_campaign.html" with candidate=candidate campaigns=campaigns%}
                                {% endfor %}
                              </ol>
                              <script> count_candidates();</script>
                            </td>

                            <td>
                              <ol id="rejected">
                                {% for candidate in rejected %}
                                    {% include "dashboard/campaign/candidate_for_campaign.html" with candidate=candidate campaigns=campaigns%}
                                {% endfor %}
                              </ol>
                              <script> count_candidates();</script>
                            </td>
                        </tr>
                    </table>
            <div style="margin-left:150px;">

            <h3>Enviar correo</h3>

            <input name="email_subject" style="width:20%" placeholder="Asunto">{{ candidate.comment }}</input>

            <br>
            <br>

            <textarea name="email_body" cols="41" rows="10" placeholder="Ingresa acá el cuerpo del correo"></textarea>

            <br>

            <input type="submit" name="send_mail" value="Enviar email">

            <br>
            <br>
            </div>

{% endblock %}
