{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}PeakU{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/index.css' %}">
{% endblock %}


{% block content %}

    <div>
        <img src="{% static 'business/img/background_people_desktop.jpg' %}"
             srcset="{% static 'business/img/background_people_desktop.jpg' %} 2x,
                     {% static 'business/img/background_people_desktop.jpg' %} 3x"
             class="background-people">

        <img src="{% static 'business/img/background_people_mobile.jpg' %}"
             srcset="{% static 'business/img/background_people_mobile.jpg' %} 2x,
                     {% static 'business/img/background_people_mobile.jpg' %} 3x"
             class="background-people-mobile">

        <h1 class="main-title">{% trans "Discover amazing people" %}</h1>

        <form action="{% url 'business:results' %}">
            <input id="search-input" type="text" name="search_text" placeholder="{% trans 'Find a candidate' %}"
                   required="required">
        </form>

        <h2 class="green-box">
            <p>{% trans 'We do the entire personnel selection process' %}</p>
        </h2>
    </div>

    <section class="section-container">
        <div class="row"> <!-- bootstrap row class -->
            <div class="col-sm-6">

                <h3 class="secondary-title" >{% trans "Why choose us?" %}</h3>
                <div class="secondary-yellow-bar"></div>

                <ul id="choose-list-container">
                    <li class="choose-bullet">{% trans "We only charge for successful hiring" %}</li>
                    <li class="choose-bullet">{% trans "Save time reading and analyzing hundreds of resumes" %}</li>
                    <li class="choose-bullet">{% trans "Save time personal interviews" %}</li>
                    <li class="choose-bullet">{% trans "Experts help us choose the best candidates" %}</li>
                    <li class="choose-bullet">{% trans "We deliver a detailed report of selected candidates" %}</li>
                </ul>

            </div>
            <div class="col-sm-6">
                <img class="girl" src="{% static 'business/img/business_girl.png' %}"
                     srcset="{% static 'business/img/business_girl.png' %} 2x, {% static 'business/img/business_girl.png' %} 3x">
            </div>
        </div>
    </section>

    <section class="section-container">
        <h3 class="secondary-title" >{% trans "Select the best plan for you"%}</h3>
        <div class="secondary-yellow-bar"></div>

        <div id="plans-container">
            <div class="row"> <!-- bootstrap row class -->
                <div class="col-sm-4">
                    <div class="plan-column">
                        <h4 class="title-blue">{% trans "Search Engine" %}</h4>
                        <ul class="plan-list">
                            <li class="plan-bullet">{% trans "Limited resume search engine" %}</li>
                        </ul>
                        <h4 class="plan-price">{% trans "Free" %}</h4>

                        <form action="{% url 'business:plan' 1 %}" method="get">
                            {% csrf_token %}
                            <input class="plan-more-info" type="submit" value="{% trans 'more information' %}">
                        </form>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="plan-column">
                        <h4 class="title-blue">{% trans "Basic Selection" %}</h4>
                        <ul class="plan-list">
                            <li class="plan-bullet">{% trans "Resume search engine" %}</li>
                            <li class="plan-bullet">{% trans "Additional search on social media and online campaigns" %}</li>
                            <li class="plan-bullet">{% trans "We do online tests to filter candidates" %}</li>
                            <li class="plan-bullet">{% trans "Personal Interview, soft and hard skills assessment" %}</li>
                        </ul>
                        <h4 class="plan-price">{% trans "$199" %}</h4>
                        <p class="plan-price-comment">{% trans "per contracted candidate" %}</p>

                        <form action="{% url 'business:plan' 2 %}" method="get">
                            {% csrf_token %}
                            <input class="plan-more-info" type="submit" value="{% trans 'more information' %}">
                        </form>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="plan-column">
                        <h4 class="title-blue">{% trans "Advanced Selection" %}</h4>
                        <ul class="plan-list">
                            <li class="plan-bullet">{% trans "Resume search engine" %}</li>
                            <li class="plan-bullet">{% trans "Additional search on social media and online campaigns" %}</li>
                            <li class="plan-bullet">{% trans "We do online tests to filter candidates" %}</li>
                            <li class="plan-bullet">{% trans "Personal Interview, soft and hard skills assessment" %}</li>
                        </ul>
                        <h4 class="plan-price">{% trans "$299" %}</h4>
                        <p class="plan-price-comment">{% trans "per contracted candidate" %}</p>

                        <form action="{% url 'business:plan' 3 %}" method="get">
                            {% csrf_token %}
                            <input class="plan-more-info" type="submit" value="{% trans 'more information' %}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-container">
        <div class="row"> <!-- bootstrap row class -->
            <div class="col-sm-6">
                <img class="girl" src="{% static 'business/img/coffee_girl.png' %}"
                     srcset="{% static 'business/img/coffee_girl.png' %} 2x, {% static 'business/img/coffee_girl.png' %} 3x">
            </div>
            <div class="col-sm-6">

                <!-- TODO: FIX THIS DIRTY TRICK. IT IS USED SO THAT THE ANCHOR WORKS FOR MOBILE-->
                <h2 id="anchor-trick">a</h2>

                <!-- tag to scroll down to the contact form with url -->
                <a name="contactForm"></a>

                <h3 class="secondary-title" >{% trans "Contact Us"%}</h3>
                <div class="secondary-yellow-bar"></div>

                <form class="my-form">
                    {% csrf_token %}

                    <input class="form-text" type="text" name="name"
				        placeholder="{% trans 'Your Full Name' %}" required="required" pattern="[A-Za-z\sÁÉÍÓÚáéíóúÑñÜü]{1,200}">

                    <input class="form-text" type="email" name="email"
                         placeholder="{% trans 'Your email' %}" required="required">

                    <input class="form-text" type="tel" name="phone"
                         placeholder="{% trans 'Your phone (optional)' %}">

                    <textarea class="form-text-area" name="message"
                         placeholder="{% trans 'Add a message (optional)' %}"></textarea>

                    <input class="form-submit" type="submit" value="{% trans 'Sure!' %}">

                </form>

            </div>
        </div>
    </section>

{% endblock %}
