{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{%  trans "Staff Pick - PeakU" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/pricing.css' %}">

    <!-- MailerLite Universal -->
    <script>
        (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
        var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
        f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
        var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
        _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
        var ml_account = ml('accounts', '1042996', 'o9s9l3m3p3', 'load');
    </script>
{% endblock %}


{% block content %}

    <div>
        <img src="{{ cloud_front_url }}business/img/index.jpg" class="index-img">
        <h1 class="main-title">{% trans "Discover amazing people" %}</h1>
        <h2 class="main-intro">{% trans "We help you find and select the person you need fast and easy" %}</h2>
        <a href="{% url 'business:start' %}">
            <form id="free-trial-form">
                <input class="free-trial-button" type="button" name="free_trial" value="{% trans 'Post Job for FREE' %}">
            </form>
        </a>
        <br>
    </div>

    <section class="section-container">
        <div class="row"> <!-- bootstrap row class -->
            <div class="col-sm-6">
                <img class="left-img" src="{{ cloud_front_url }}business/img/bald.png">
            </div>

            <div class="col-sm-6">
                <h3 class="secondary-title">{% trans "Why choose us?" %}</h3>
                <div class="secondary-yellow-bar"></div>
                <ul id="choose-list-container">
                    {# Translators: xgettext:no-python-format #}
                    <li class="choose-bullet">{% trans "We receive hundreds of applications for the vacancy you are looking for" %}</li>
                    <li class="choose-bullet">{% trans "We analyze the resumes for you" %}</li>
                    <li class="choose-bullet">{% trans "We perform cognitive tests, leadership, knowledge related to the position and more" %}</li>
                    <br>
                    <li class="choose-bullet">{% trans "We provide the logistics for the interviews" %}</li>
                    <li class="choose-bullet">{% trans "We recommend the best candidates for the position" %}</li>
                    <li class="choose-bullet">{% trans "Avoid expenses in employment exchanges" %}</li>
                </ul>
            </div>
        </div>
    </section>

    <br>
    <br>
    <section class="main">
        <article class="description">
            <h3 class="secondary-title">{% trans "PLANS" %}</h3>
            <div class="secondary-yellow-bar"></div>
            {% include "business/pricing.html" %}
        </article>
        <div style="padding:130px 0px;">
            <iframe class="video" width="610" height="415" src="https://www.youtube.com/embed/QbNDO2ShXIs?rel=0"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </section>
{% endblock %}