<!DOCTYPE HTML>
<html lang="en">
{% load i18n %}
{% load static %}

<!-- start Mixpanel -->
<script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("d60ac5ae289f60c7f824d49a4d15be30");</script>
<!-- end Mixpanel -->

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">
	  <meta name="description" content="find your true passion, encuentra tu verdadera pasion">
      <meta name="keywords" content="job, trabajo, right job, trabajo perfecto">
	  <meta name="author" content="Juan Pablo Isaza">
	  <meta name="google-site-verification" content="LPqesGS5MnESQN-E-LNjZWtRrZAY4rO__YDq8WFjpOs" />
	  <meta name="google-site-verification" content="tR13zEizNHyoMXQ0j8F1ImD0Xe3FdWFHUq-ksIKUscE" />

      <title>PeakU</title>

      <!-- ============ GOOGLE FONTS ============ -->
      <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700,900' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Iceberg' rel='stylesheet' type='text/css'>
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	  <!-- Google Analytics -->
	  <script type="text/javascript" src="{% static 'js/google_analytics.js' %}" async></script>

	  <!-- Price -->
	  <script type="text/javascript" src="{% static 'js/price.js' %}" async></script>

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/price.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/contact_form.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/pain_points.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

      <!-- Font Awesome CSS -->
	  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

      <!-- Custom styles CSS -->
	  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

      <!-- Favicons -->
      <link rel="apple-touch-icon" sizes="57x57" href="{% static 'beta_invite/favicon.ico/apple-icon-57x57.png' %}">
	  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'beta_invite/favicon.ico/apple-icon-60x60.png' %}">
	  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'beta_invite/favicon.ico/apple-icon-72x72.png' %}">
	  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'beta_invite/favicon.ico/apple-icon-76x76.png' %}">
	  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'beta_invite/favicon.ico/apple-icon-114x114.png' %}">
	  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'beta_invite/favicon.ico/apple-icon-120x120.png' %}">
	  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'beta_invite/favicon.ico/apple-icon-144x144.png' %}">
	  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'beta_invite/favicon.ico/apple-icon-152x152.png' %}">
	  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'beta_invite/favicon.ico/apple-icon-180x180.png' %}">
	  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_16.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_24.ico' %}">
	  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'beta_invite/favicon.ico/favicon_32.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_48.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_64.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_72.ico' %}">
	  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'beta_invite/favicon.ico/favicon_96.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_128.ico' %}">
	  <link rel="manifest" href="{% static 'beta_invite/favicon.ico/manifest.json' %}">
	  <meta name="msapplication-TileColor" content="#ffffff">
	  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	  <meta name="theme-color" content="#ffffff">

  </head>

 <body background="{% static 'beta_invite/bgg.jpg' %}">

 	<script>
		mixpanel.track("Loaded Business Page");
	</script>

 	<!-- Google Code for conversion rate on page -->
     <script type="text/javascript">
     /* <![CDATA[ */
     var google_conversion_id = 837109052;
     var google_conversion_language = "en";
     var google_conversion_format = "3";
     var google_conversion_color = "ffffff";
     var google_conversion_label = "gbIrCNKvx3QQvIqVjwM";
     var google_remarketing_only = false;
     /* ]]> */
     </script>
     <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
     </script>
     <noscript>
     <div style="display:inline;">
     <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/837109052/?label=gbIrCNKvx3QQvIqVjwM&amp;guid=ON&amp;script=0"/>
     </div>
     </noscript>

	{% include "business/login_buttons.html"%}

   <!-- BEGIN WELCOME -->
    <div class="welcome-section" id="top" style="">
      <div class="title" style="margin-top:-120px;">
        <a class="scroll logo" style="font-family:CANDARA; font-size:65px; color:black;
         margin-bottom:-50px;"> <img src="{% static 'beta_invite/logo.png' %}" width="300px" ></a>

		  <h1 style="font-size:35px; margin-top:10px; color:#F8E676; ">{{ main_message }}</h1>

		  <!-- tag to scroll down to the about section with url -->
		  <a name="about">

        <p style="font-size:22px; margin-top:30px;  color:#fff;">
			{{ secondary_message }}
		</p>

		  <div align="center" style="margin-top:50px; margin-bottom:200px; cursor:pointer;">
			  <form action="{% url 'business:results' %}">
				  {% trans "Briefly describe the position" as search_candidates %}
				<input style="color::placeholder:grey; color:black; font-family:Raleway; padding-left: 15px;
				 font-size: 14px; height: 40px; margin-top:15px; border:solid 1px #F8E676; background-color:white;
				 width: 500px;" type="text" name="search_text"
				  placeholder="{{ search_candidates }}" required="required">
			  </form>
		  </div>


		  <div id="pain_points">
			  <h2 id="pain_point_title">{% trans "Why choose us?" %}</h2>

			  <ul id="pain_points_list">
				  <li class="pain_point_bullet">{% trans "We only for successful hiring" %}</li>
				  <br>
				  <li class="pain_point_bullet">{% trans "Save time reading and analyzing hundreds of resumes" %}</li>
				  <br>
				  <li class="pain_point_bullet">{% trans "Save time personal interviews" %}</li>
				  <br>
				  <li class="pain_point_bullet">{% trans "Experts help us choose the best candidates" %}</li>
				  <br>
				  <li class="pain_point_bullet">{% trans "We deliver a detailed report of selected candidates" %}</li>
			  </ul>
		  </div>

		  <!-- PRICING TABLE -->
		  <!-- tag to scroll down to the pricing table with url -->
		    <a name="pricing">

		  	<h2 style="color:#fff; margin-top:110px;">{% trans "Select the best plan for you" %}</h2>

			<div class="container" style="margin-top:10px; margin-bottom:600px;">
				<div class="columns" onmouseover="HoverOnStandard()"
					onclick="Post('plan/1', {plan_name: 'Search Engine', csrfmiddlewaretoken: '{{ csrf_token }}'});">
				  <ul class="price">
					<li class="header" id="standard_header">{% trans "Search Engine" %}</li>
					<li>{% trans "Limited resume search engine" %}</li>
					<li style="height: 81px;">{% trans "-" %}</li>
					<li style="height: 101px;">{% trans "-" %}</li>
					<li style="height: 81px;">{% trans "-" %}</li>
					<li style="height: 144px;" class="price_value">{% trans "Free" %}</li>
				  </ul>
				</div>

				<div class="columns" onmouseover="HoverOnAgile()"
					 onclick="Post('plan/2', {plan_name: 'Screening', csrfmiddlewaretoken: '{{ csrf_token }}'});">
				  <ul class="price">
					<li class="header" id="agile_header" style="background-color:green">{% trans "Screening" %}</li>
					<li>{% trans "Resume search engine" %}</li>
					<li style="height: 81px;">{% trans "We search for specific profiles on other media" %}</li>
					<li>{% trans "Resume Screening: We send manual filtered profiles each 24 hours" %}</li>
					<li style="height: 81px;">{% trans "-" %}</li>
					<li class="price_value">{% trans "$200 / contracted candidate" %}</li>
				  </ul>
				</div>

				<div class="columns" onmouseover="HoverOnCustom()"
					 onclick="Post('plan/3', {plan_name: 'Selection', csrfmiddlewaretoken: '{{ csrf_token }}'});">
				  <ul class="price">
					<li class="header" id="custom_header">{% trans "Selection" %}</li>
					<li>{% trans "Resume search engine" %}</li>
					<li>{% trans "We search for specific profiles on other media" %}</li>
					<li>{% trans "Resume Screening: We send manual filtered profiles each 24 hours" %}</li>
					<li>{% trans "Personal Interview, soft and hard skills assessment" %}</li>
					<li class="price_value">{% trans "$300 / contracted candidate" %}</li>
				  </ul>
				</div>

			</div>
		  <!-- PRICING TABLE -->

		  <!-- CONTACT FORM -->
		  <form action="contact_us" id="contact_form" method="post">

			  {% csrf_token %}

			  <!-- TODO: FIX THIS DIRTY TRICK. IT IS USED SO THAT THE ANCHOR WORKS FOR MOBILE-->
			  <h2 style="font-size:1px">a</h2>

			  <!-- tag to scroll down to the contact form with url -->
			  <a name="contactForm">

		  	  <h2 id="contact_form_title">{% trans "Contact Us" %}</h2>

			  {% trans "Your Full Name" as name_placeholder %}
			  <input style="font-family:Raleway; font-size: 14px; height: 40px;
				 border:solid 1px #F8E676; background-color:white;" id="name" type="text" name="name"
				 placeholder="{{ name_placeholder }}" required="required" pattern="[A-Za-z\sÁÉÍÓÚáéíóúÑñÜü]{1,200}">

			  {% trans "Your email" as email_placeholder %}
			  <input style="font-family:Raleway; font-size: 14px; height: 40px;
				 border:solid 1px #F8E676; background-color:white;" id="email" type="email" name="email"
				 placeholder="{{ email_placeholder }}" required="required">

			  {% trans "Your phone (optional)" as phone_placeholder %}
			  <input style="font-family:Raleway; font-size: 14px; height: 40px;
				 border:solid 1px #F8E676; background-color:white;" id="phone" type="tel" name="phone"
				 placeholder="{{ phone_placeholder }}">

			  {% trans "Add a message (optional)" as message_placeholder %}
			  <textarea style="font-family:Raleway; padding-left: 15px; font-size: 14px; height: 40px;
				 border:solid 1px #F8E676; background-color:white;" id="message" name="message"
				 placeholder="{{ message_placeholder }}"></textarea>

			  {% trans "Sure!" as submit_value %}
			  <input type="submit" value="{{ submit_value }}" id="contact_button">

		  </form>
		  <!-- CONTACT FORM -->

		  <footer class="footer-distributed">

			<div class="footer-left">

				<a class="scroll logo"><img src="{% static 'beta_invite/logo.png' %}" width="250px" ></a>

         		<br>

				<p class="footer-links">
					<a href="#">{% trans "Home" %}</a>
					·
					<a href="#pricing">{% trans "Pricing" %}</a>
					·
					<a href="#about">{% trans "About" %}</a>
					·
					<a href="#contactForm">{% trans "Contact" %}</a>
				</p>

				<br>

				<p class="footer-company-name">PeakU &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-phone"></i>
					<p>+57 311 6109340</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">contacto@peaku.co</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>{% trans "About the company" %}</span>
					{% trans "PeakU is a technology company that will transform the recruiting industry by targeting customer pain points and automating them with artificial intelligence." %}
				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/PeakU-Latam-1916685895214519/?ref=aymt_homepage_panel"><i class="fa fa-facebook"></i></a>
					<a href="https://www.linkedin.com/company-beta/16241506/"><i class="fa fa-linkedin"></i></a>
					<a href="https://github.com/jisazaTappsi/acerto"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>

      </div>

      <!-- ARROW SCROLL-->
      <div class="arrow">


      </div>
      <!-- /ARROW SCROLL -->
      <div class="container">

       </div>
    </div>
    <!-- END WELCOME -->
<script type="text/javascript">
    <!--
    (function() {
        var IE = /*@cc_on!@*/false;
        if (!IE) { return; }
        if (document.compatMode && document.compatMode == 'BackCompat') {
            if (document.getElementById("af-form-981758079")) {
                document.getElementById("af-form-981758079").className = 'af-form af-quirksMode';
            }
            if (document.getElementById("af-body-981758079")) {
                document.getElementById("af-body-981758079").className = "af-body inline af-quirksMode";
            }
            if (document.getElementById("af-header-981758079")) {
                document.getElementById("af-header-981758079").className = "af-header af-quirksMode";
            }
            if (document.getElementById("af-footer-981758079")) {
                document.getElementById("af-footer-981758079").className = "af-footer af-quirksMode";
            }
        }
    })();
    -->
</script>
   <style>

	@media (max-width: 768px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:250px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
	}

	@media (max-width: 640px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:250px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
	}

	@media (max-width: 480px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:100px !important;}
		.countdown .hours{width:100px !important;}
		.countdown .min{width:100px !important;}
		.countdown .sec{width:100px !important;}
	}
	@media (max-width: 360px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-96px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:180px !important;}
		.countdown .hours{width:180px !important;}
		.countdown .min{width:180px !important;}
		.countdown .sec{width:180px !important;}
	}
	@media (max-width: 320px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-96px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:150px !important;}
		.countdown .hours{width:150px !important;}
		.countdown .min{width:150px !important;}
		.countdown .sec{width:150px !important;}
	}
   </style>

</body>
</html>
