{% extends 'base.html'%}
{% load static %}
{% load i18n %}

{% block title %}PeakU - Login{% endblock %}

{% block content %}


<body background="{% static 'beta_invite/Personas.jpg' %}">
   <!-- BEGIN WELCOME -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="welcome-section" id="top" style="">
      <div class="title-blue" style="margin-top:-100px;">

		  <h1 align="center">{% trans "Log in to our platform" %}</h1>

		 <div class="container" style="margin-top:50px;">


			  <form method="post" style="text-align:center; margin-top:0px;" action="{% url 'business:home' %}"
			   enctype="multipart/form-data">

				  <input type="hidden" name="next" value="{{ next }}" />

				{% csrf_token %}

				 {% trans "Your email" as email_placeholder %}
				<input style="font-family:Raleway; padding-left: 15px; font-size: 14px; height: 40px; margin-top:15px;
				 border:solid 2px var(--blue); background-color:white; width: 250px;" id="username" type="email" name="username"
				  placeholder="{{ email_placeholder }}" required="required">

				<br>

				{% trans "Enter your password" as password1_placeholder %}
				<input style="font-family:Raleway; padding-left: 15px; font-size: 14px; height: 40px; margin-top:15px;
				 border:solid 2px var(--blue); background-color:white; width: 250px;" id="password" type="password" name="password"
				  placeholder="{{ password1_placeholder }}" required="required">

				<br>

				{% trans "Log In!" as submit_value %}
				<input style="height: 44px; border: solid 2px black; background:var(--blue); color:black; text-align:center;
				 width: 81px; font-size: 16px; width: 255px; margin-bottom:40px; margin-top:15px; cursor:pointer;" type="submit" value="{{ submit_value }}">
				  	<br>
					<br>
					<br>
					<br>
			  </form>
		  </div>
		  <br/>
      </div>

      <!-- ARROW SCROLL-->
      <div class="arrow">


      </div>
      <!-- /ARROW SCROLL -->
      <div class="container">

       </div>
    </div>
    <!-- END WELCOME -->
<script type="text/javascript">
    <!--
    (function() {
        var IE = /*@cc_on!@*/false;
        if (!IE) { return; }
        if (document.compatMode && document.compatMode == 'BackCompat') {
            if (document.getElementById("af-form-981758079")) {
                document.getElementById("af-form-981758079").className = 'af-form af-quirksMode';
            }
            if (document.getElementById("af-body-981758079")) {
                document.getElementById("af-body-981758079").className = "af-body inline af-quirksMode";
            }
            if (document.getElementById("af-header-981758079")) {
                document.getElementById("af-header-981758079").className = "af-header af-quirksMode";
            }
            if (document.getElementById("af-footer-981758079")) {
                document.getElementById("af-footer-981758079").className = "af-footer af-quirksMode";
            }
        }
    })();
    -->
</script>
   <style>

	@media (max-width: 768px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:250px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
	}

	@media (max-width: 640px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:250px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
	}

	@media (max-width: 480px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:100px !important;}
		.countdown .hours{width:100px !important;}
		.countdown .min{width:100px !important;}
		.countdown .sec{width:100px !important;}
	}
	@media (max-width: 360px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-96px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:180px !important;}
		.countdown .hours{width:180px !important;}
		.countdown .min{width:180px !important;}
		.countdown .sec{width:180px !important;}
	}
	@media (max-width: 320px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-96px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:150px !important;}
		.countdown .hours{width:150px !important;}
		.countdown .min{width:150px !important;}
		.countdown .sec{width:150px !important;}
	}
   </style>
{% endblock %}


