<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load app_filters %}
<html>
	<head>

		<meta charset="utf-8">
		<title>PeakU · Servicios empresariales</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'business/css/new_start.css' %}">

		<link rel="stylesheet" type="text/css" href="{% static 'business/css/index_responsive.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<script type="text/javascript" src="{% static 'business/js/index.js' %}"></script>

	</head>
	<body>
		<div class="container">
            <div id="contact-buttons">
				<a href="https://api.whatsapp.com/send?phone=573116109340" target="_blank"><img src="{% static 'business/new_images/boton-whatsapp.png' %}" width="100px" id="whatsapp-pc">
				<img src="{% static 'business/new_images/boton-whatsapp-tablet.png' %}" id="whatsapp-tablet"></a>	<br>
				<a href="#"><img src="{% static 'business/new_images/boton-chat.png' %}" width="100px" id="chat-pc">
				<img src="{% static 'business/new_images/boton-chat-tablet.png' %}" id="chat-tablet"></a>
			</div>
			<!--Nav bar-->
			<nav class="row" id="navigation-bar">
				<div class="col-lg-2 col-md-2 col-sm-2"><a href="/staffing"><img src="{% static 'business/new_images/logo-color.png' %}" width="110px" id="logo"></a>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 push10">
					<ul style="float:right">
						<li id="candidates-button"><a id="option1" href="{% url 'beta_invite:index' %}">Personas</a></li>
						<li id="contact-us-button"><a id="option2" href="{% url 'business:contact_form' %}">Contáctanos</a></li>
						<li id="register-button"><a class="button-user" role="button" onclick="on()">Crea tu cuenta</a></li>
						<li id="login-button"><a class="button-user" role="button" onclick="on2()">Inicia sesión</a></li>
					</ul>
				</div>
			</nav>
			<!--call to action-->
            <div id="overlay">
                <div id="form-image">
                    <form id="register-form">
                        <fieldset>
                            <span id="exitDingbat" onclick="off()">X</span>
                            <br>
                            <br>
                            <span>Nombre del reclutador</span>
                            <input class="form-input"><br>
                            <span>Empresa</span>
                            <input class="form-input"><br>
                            <span>Correo</span>
                            <input class="form-input"><br>
                            <span>Teléfono</span>
                            <input class="form-input"><br>
                            <span>Contraseña</span>
                            <input class="form-input"><br>
                            <span>Confirmar contraseña</span>
                            <input class="form-input"><br>
                            <br>
                            <input type="submit" class="submit" value="COMIENZA AHORA">
                        </fieldset>
                        <span style="color:white;margin-left:30px;">¿Ya eres un usuario registrado? Inicia sesión <a style="color:white" href="javascript:void(0);" onclick="off() & on2()"><strong>Aquí</strong></a></span>
                    </form>

                </div>
            </div>
            <div id="overlay2">
                <div id="form-image2">
                    <form id="login-form">
                        <fieldset>
                            <span id="exitDingbat2" onclick="off2()">X</span>
                            <br>
                            <br>
                            <span>Correo o nombre de usuario</span>
                            <input class="form-input"><br>
                            <span>Contraseña</span>
                            <input class="form-input"><br>
                            <span style="font-size:10px;"><a href="#" style="color:white">Olvidé mi contraseña</a></span>
                            <span style="font-size:10px"><a href="#" style="color:white" onclick="off2() & on()">Aun no estoy registrado</a></span>
                            <br>
                            <br>
                            <input type="submit" class="submit" value="ACCEDER">
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="row blankbanner"></div>

            <div id="hide1">
				<div class="row" id="main-copy">
					<div class="col-lg-5"></div>
					<div class="col-lg-7">
						<h1 style="color: white">	PERSONALIZA TU<br> OFERTA EN 3 PASOS</h1>
					</div>
					<div class="col-lg-5"></div>
					<div class="col-lg-7">
						<h4 style="color: white">	y encuentra los mejores candidatos</h4>
						<h4 style="color: white">para tu vacante</h4>
					</div>
					<div class="col-lg-5"></div>
				</div>
				<div class="row blankabout"></div>
			</div>
		</div>
        <!--<div id="hide2"></div>
        <div id="slideUp"></div>
		<div id="slideDownBack">
			<div id="slideDown"></div>
		</div>-->

		<!--Footer-->
		<footer class="container-fluid">
			<div class="row" style="padding-bottom:30px;">
				<div class=" col-lg-2 col-md-2 "></div>
				<div class=" col-lg-3 col-md-3  navfooter" >
					<ul style="float:left">
						<li><a href="#">Nosotros</a></li>
                        <li><a href="{% url 'business:contact_form' %}">Contáctanos</a></li>
						<li><a href="{% url 'beta_invite:index' %}">Personas</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-2 redesfooter" style="text-align:center">
					<a href="https://www.linkedin.com/company-beta/16241506/" target="_blank"><img src="{% static 'business/new_images/linkedin.png' %}"></a>
					<a href="https://www.facebook.com/PeakU-Latam-1916685895214519/?ref=aymt_homepage_panel" target="_blank"><img src="{% static 'business/new_images/facebook.png' %}"></a>
					<a href="#" target="_blank"><img src="{% static 'business/new_images/instagram.png' %}"></a>
					<a href="#" target="_blank"><img src="{% static 'business/new_images/twitter.png' %}"></a>
				</div>
				<div class=" col-lg-1 col-md-1"></div>
				<div class=" col-lg-2 col-md-2 navfootercontact">
					<div style="width:20%; float:left; display:block; margin-top:10px; margin-left:-30px; "><a href="#"><img src="{% static 'business/new_images/logo-white.png' %}"></a></div>
					<div style="width:80%; float:right; display:block; padding-left:20px">contacto@peaku.co<br>
						+57 311 6109340<br>
						Medellín, Colombia
					</div>
				</div>
				<div class=" col-lg-2 col-md-2 "></div>
			</div>
			<div class="row">
				<div class="col-1 col-md-1"></div>
				<div class="col-10 copyright">Copyright 2016 © PeakU. Todos los derechos reservados.</div>
				<div class="col-1"></div>
			</div>
		</footer>
	</body>
</html>
