<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>

<head>
<meta charset="utf-8">

<title>PeakU · Servicios empresariales</title>


<link rel="stylesheet" type="text/css" href="{% static 'business/new_css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'business/new_css/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'business/new_css/bootstrap.min.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>


</head>

<body>




<div class="container">
<div id="contactbuttons">
<a href="#"><img src="{% static 'business/new_images/boton-whatsapp.png' %}" width="100px" id="whatsapppc">
    <img src="{% static 'business/new_images/boton-whatsapp-tablet.png' %}" id="whatsapptablet"></a>	<br>
<a href="#"><img src="{% static 'business/new_images/boton-chat.png' %}" width="100px" id="chatpc">
    <img src="{% static 'business/new_images/boton-chat-tablet.png' %}" id="chattablet"></a></div>

<!--Nav bar-->
<nav class="row">
    	<div class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img src="{% static 'business/new_images/logo-color.png' %}" width="110px" id="logo"></a>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 push10">
        	<ul style="float:right">
  				<li id="navpersonas"><a href="#">Personas</a></li>
  				<li id="navcontactanos"><a href="#">Contáctanos</a></li>
 				 <li id="navcrear"><a href="#" class="button-user" role="button">Crea tu cuenta</a></li>
  				<li id="naviniciar"><a href="#" class="button-user" role="button">Inicia sesión</a></li>
                <li id="menuicon" style="display:none;"><a href="#"><img src="{% static 'business/new_images/menuicon.png' %}"></a></li>
			</ul>
       </div>
</nav>

<!--call to action-->
<div class="row blankbanner">
</div>

<div class="row" id="copyprincipal">
	<div class="col-lg-5">
	</div>
    <div class="col-lg-7">
		<h1 style="color:#FFFFFF">	Publica tu oferta laboral,<br> nosotros hacemos el resto</h1>
	</div>
    <div class="col-lg-5">
	</div>
    <div class="col-lg-7">
		<h5 style="color:#FFFFFF">	Búsqueda, pruebas técnicas y toda la logística para encontrar los candidatos que tu empresa necesita.</h5>
	</div>
    <div class="col-lg-5">
	</div>
    <div class="col-lg-7">
       <a href="#" class="button-cta" role="button">PUBLICA GRATIS</a>
	</div>
 </div>

   <!--Beneficios-->
   <div class="row">
     <div class="col-lg-12 blankbeneficios">
	 </div>
    <div class="col-lg-4 col-md-4 beneficios">
    	<img src="{% static 'business/new_images/10dias.png' %}">
    	<h6 class="push20">Los mejores candidatos en 10 días hábiles</h6><br>
    	Cinco candidatos garantizados para el cargo en 10 días hábiles
	</div>
	<div class="col-lg-4 col-md-4 beneficios pull50">
    	<img src="{% static 'business/new_images/publicar-gratis.png' %}">
   		 <h6 class="push20">Publica gratis tus vacantes de forma ilimitada</h6><br>
		Accede a candidatos y comparte tu publicación para llegar a más personas.
	</div>
	<div class="col-lg-4 col-md-4 beneficios pull100">
    	<img src="{% static 'business/new_images/mejora-proceso.png' %}">
    	<h6 class="push20">Optimiza tus procesos de selección con nuestra plataforma<br></h6><br>
		Permite que los candidatos hagan pruebas técnicas en línea, facilitamos el seguimiento de los procesos y la comunicación.
	</div>
    <div class="col-md-12 beneficioscel pull100">
    <img src="{% static 'business/new_images/beneficios-cel.jpg' %}">
    	<h6 class="push20">consectetur adipiscing elit<br></h6>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices. Lorem ipsum dolor sit amet.
	</div>
</div>


<div class="row blankabout">
</div>
</div>


<!--About-->
  <div class="container-fluid" id="valuebanner">


	<div class="row">
    	<div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-4 col-md-4" id="image4video"><a href="https://www.youtube.com/watch?v=QbNDO2ShXIs" target="_blank">
            <img src="{% static 'business/new_images/mockup-iphone.png' %}" width="105%"></a>
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-5 col-md-5 about">
        <h1>ACERCA DE LA PLATAFORMA</h1><br>
        PeakU está revolucionando la búsqueda de candidatos, el reclutamiento y la selección; hacemos procesos más eficientes para las empresas y entregamos un toque personal a los candidatos para mejorar su experiencia.Alineamos a las personas y empresas para crear relaciones donde el resultado final sea la creación de valor a largo plazo.<br>
         <a href="#" class="button-cta" role="button" id="button-cta-about">COMIENZA AQUÍ</a>
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
   </div>
</div>

<!--Plans-->
<div class="container">
<div class="blankplans"></div>
	<div class="row">

<!--free-->

        <div class="col-lg-3 col-md-6 leftipad"><div class="freebg"><div class="button-plans">PLAN GRATUITO</div>
        <a href="#" class="button-buy-cel" role="button">COMENZAR</a>
        <br>
        <p class="price"> sin costo</p>
        <div class="plancontainer">
        <ul class="itemyes-light">

        <li class="listyes-light"> Búsqueda en múltiples bases de datos	</li>
        <li class="listno-light"> Recomendación de candidatos (Top 10)</li>
        <li class="listno-light"> Herramientas para el seguimiento del proceso y de los candidatos</li>
        <li class="listno-light"> Pruebas de selección tipo Google</li>
        <li class="listno-light"> Garantía de contratación</li>
        <li class="listno-light"> Perfiles específicos difíciles de encontrar</li>

        </ul>

        </div>
        <a href="#" class="button-buy" role="button">COMENZAR</a>
        </div></div>

<!--basic-->
        <div class="col-lg-3 col-md-6"><div class="basicbg pull50"><div class="button-plan-top">PLAN BÁSICO</div>
        <a href="#" class="button-buy-cel" role="button">OBTENER</a>
        <br>
        <p class="price">US $300/mes</p>
        <div class="plancontainer">
        <ul class="itemyes-light">

        <li class="listyes-dark"> Búsqueda en múltiples bases de datos	</li>
        <li class="listyes-dark"> Recomendación de candidatos (Top 10)</li>
        <li class="listyes-dark"> Herramientas para el seguimiento del proceso y de los candidatos</li>
        <li class="listno-dark"> Pruebas de selección tipo Google</li>
        <li class="listno-dark"> Garantía de contratación</li>
        <li class="listno-dark"> Perfiles específicos difíciles de encontrar</li>

        </ul>

        </div>
        <a href="#" class="button-buy" role="button">OBTENER</a>
        </div></div>

  <!--premium-->
         <div class="col-lg-3 col-md-6"><div class="premiumbg"><div class="button-plans">PLAN PREMIUM</div>
        <a href="#" class="button-buy-cel" role="button">OBTENER</a>
        <br>
        <p class="price" style="color:#FFFFFF">US $1200/mes</p>
        <div class="plancontainer">
        <ul class="itemyes-light">

        <li class="listyes-dark"> Búsqueda en múltiples bases de datos	</li>
        <li class="listyes-dark"> Recomendación de candidatos (Top 10)</li>
        <li class="listyes-dark"> Herramientas para el seguimiento del proceso y de los candidatos</li>
        <li class="listyes-dark"> Pruebas de selección tipo Google</li>
        <li class="listyes-dark"> Garantía de contratación</li>
        <li class="listno-light"> Perfiles específicos difíciles de encontrar</li>

        </ul>

        </div>
        <a href="#" class="button-buy" role="button">OBTENER</a>
        </div></div>

    <!--headhunterc-->

        <div class="col-lg-3 col-md-6"><div class="headhunterbg"><div class="button-plans">PLAN HEADHUNTER</div>
        <a href="#" class="button-buy-cel" role="button">COTIZAR</a>
        <br>
        <span class="price"><span class="pricesmall">Desde</span><br>US $1500/mes<br></span>
        <div class="plancontainer">
        <ul class="itemyes-light">

        <li class="listyes-light"> Búsqueda en múltiples bases de datos	</li>
        <li class="listyes-light"> Recomendación de candidatos (Top 10)</li>
        <li class="listyes-light"> Herramientas para el seguimiento del proceso y de los candidatos</li>
        <li class="listyes-light"> Pruebas de selección tipo Google</li>
        <li class="listyeslight"> Garantía de contratación</li>
        <li class="listyes-light"> Perfiles específicos difíciles de encontrar</li>

        </ul>

        </div>
        <a href="#" class="button-buy" role="button">COTIZAR</a>
        </div></div>
  <div class="blankplanspost"></div>

   </div>
   </div>
<div class="container-fluid">

<!--Reviews-->
   <div class="row">
    <div class="row blankreviewspic"> </div>
  	 	<div class="col-lg-12" style="text-align:center; z-index:-99;" ><h3 class="push100" id="pushtitleiphone">Historias de éxito, de primera mano</h3>
        </div>

        <div class="col-lg-3 "></div>
        <div class="col-lg-2 col-md-4 reviewsingle"><br><br><img src="{% static 'business/new_images/review1.jpg' %}"><br>
          <p class="titlereview">Antonia Chávez</p>
          <p class="subtitlereview">CEO - Sony music</p>
        <div class="greendash"></div><br>
        <p class="reviewcel">“Alineamos a las personas y empresas para crear relaciones donde el resultado final sea la creación de valor a largo plazo.”</p>
        </div>
        <div class="col-lg-2 col-md-4 reviewsingle"><br><br><img src="{% static 'business/new_images/review2.jpg' %}"><br>
        <p class="titlereview">Andrés Jaramillo</p>
        <p class="subtitlereview">Andrés carne de res</p>
        <div class="greendash"></div><br>
         <p class="reviewcel">“Alineamos a las personas y empresas para crear relaciones donde el resultado final sea la creación de valor a largo plazo.”</p>
        </div>
        <div class="col-lg-2 col-md-4 reviewsingle"><br><br><img src="{% static 'business/new_images/review3.jpg' %}"><br>
        <p class="titlereview">Juana Angarita</p>
        <p class="subtitlereview">Marketing consultant</p>
        <div class="greendash"></div><br>
        <p class="reviewcel"> “Alineamos a las personas y empresas para crear relaciones donde el resultado final sea la creación de valor a largo plazo.”</p>
        </div>
        <div class="col-lg-3 col-md-3"></div>
        </div>
        <div class="col-lg-12" style="margin-top:-20px; padding-bottom:100px;" ><center>
		<svg height="10" width="10">
  <circle cx="5" cy="5" r="5" fill="#dddddc" />
</svg>
<svg height="10" width="10">
  <circle cx="5" cy="5" r="5" fill="#dddddc" />
</svg>
<svg height="10" width="10">
  <circle cx="5" cy="5" r="5" fill="#dddddc" />
</svg> </center>

       </div>

  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8" id="clientes">
    <img src="{% static 'business/new_images/cliente-01.jpg' %}" width="24%">
    <img src="{% static 'business/new_images/cliente-02.jpg' %}" width="24%">
    <img src="{% static 'business/new_images/cliente-03.jpg' %}" width="24%">
    <img src="{% static 'business/new_images/cliente-04.jpg' %}" width="24%">
    <img src="{% static 'business/new_images/cliente-05.jpg' %}" width="24%">
    <img src="{% static 'business/new_images/cliente-06.jpg' %}" width="24%">
    <img src="{% static 'business/new_images/cliente-07.jpg' %}" width="24%">
    <img src="{% static 'business/new_images/cliente-08.jpg' %}" width="24%">
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>




<!--Footer-->
<footer class="container-fluid">
<div class="row" style="padding-bottom:30px;">
<div class=" col-lg-2 col-md-2 "></div>
<div class=" col-lg-3 col-md-3  navfooter" >
			<ul style="float:left">
  				<li><a href="#">Nosotros</a></li>
  				<li><a href="#">Personas</a></li>
 				 <li><a href="#">empresas</a></li>
			</ul>
</div>
<div class="col-lg-2 col-md-2 redesfooter" style="text-align:center">
<a href="http://www.instagram.com"><img src="{% static 'business/new_images/linkedin.png' %}"></a>
<a href="http://www.instagram.com"><img src="{% static 'business/new_images/facebook.png' %}"></a>
<a href="http://www.instagram.com"><img src="{% static 'business/new_images/instagram.png' %}"></a>
<a href="http://www.instagram.com"><img src="{% static 'business/new_images/twitter.png' %}"></a>
</div>
<div class=" col-lg-1 col-md-1"></div>
<div class=" col-lg-2 col-md-2 navfootercontact">
<div style="width:20%; float:left; display:block; margin-top:10px; margin-left:-30px; "><a href="#"><img src="{% static 'business/new_images/logo-white.png' %}"></a></div>
<div style="width:80%; float:right; display:block; padding-left:20px">Correo@peaku.com<br>
+57(1) 1234567<br>
Bogotá, Colombia</div>
</div>
<div class=" col-lg-2 col-md-2 "></div>
</div>
<div class="row">
<div class="col-1 col-md-1"></div>
<div class="col-10 copyright">Copyright 2016 © PeakU. Todos los derechos reservados. Diseño <a href="http://www.polariux.com">Estudio Polariux</a></div>
</div>
<div class="col-1"></div>
</footer>



<script type="text/javascript" src="{% static 'business/new_js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'business/new_js/bootstrap.min.js' %}"></script>

</body>

</html>