{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{{ plan.name }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/plan.css' %}">
{% endblock %}


{% block content %}

    <img src="{% static 'business/img/plan_2.jpg' %}"
         srcset="{% static 'business/img/plan_2@2x.jpg' %} 2x,
                 {% static 'business/img/plan_2@3x.jpg' %} 3x"
         class="background-people" >

    <img src="{% static 'business/img/plan_2_mobile.jpg' %}"
         srcset="{% static 'business/img/plan_2_mobile@2x.jpg' %} 2x,
                 {% static 'business/img/plan_2_mobile@3x.jpg' %} 3x"
         class="background-people-mobile" >

    <h1 class="main-title" >{{ plan.name }}</h1>

    <div id="text-white-rectangle">
        <p id="description-text" >{{ plan.explanation }}</p>

        <form action="{% url 'business:signup' %}" method="get" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-submit" type="submit" value="{% trans 'I want it' %}">
        </form>

    </div>

{% endblock %}
