{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{{ plan.name }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/plan.css' %}">
{% endblock %}


{% block content %}

    <img src="{% static 'business/img/plan_2.jpg' %}"
         srcset="{% static 'business/img/plan_2@2x.jpg' %} 2x,
                 {% static 'business/img/plan_2@3x.jpg' %} 3x"
         class="background-people" >

    <img src="{% static 'business/img/plan_2_mobile.jpg' %}"
         srcset="{% static 'business/img/plan_2_mobile@2x.jpg' %} 2x,
                 {% static 'business/img/plan_2_mobile@3x.jpg' %} 3x"
         class="background-people-mobile" >

    <h1 class="main-title" >{{ plan.name }}</h1>

    <div id="text-white-rectangle">
        <p id="description-text" >{{ plan.explanation }}</p>

        <a href="{% url 'business:start' %}">
            <form method="get">
                <input class="form-submit" type="button" value="{% trans 'I want it' %}">
            </form>
        </a>
    </div>

    <section id="section-container-plan">

        <h3 class="title-blue">{% trans "Characteristics:" %}</h3>
        <p class="paragraph">{% trans "Creation of job post for your public campaign" %}</p>
        <p class="paragraph">{% trans "Publication in job boards, social networks and in database. High volume of candidates" %}</p>
        <p class="paragraph">{% trans "We guarantee relevant candidates" %}</p>
        <p class="paragraph">{% trans "Selection of resumes according to requirements, we recommend the best 10 candidates" %}</p>
        <p class="paragraph">{% trans "Access to the control panel to see candidates, applicants and detailed information of the tests and their answers" %}</p>

        {% if plan.id == 2 %}
            <p class="paragraph">{% trans "Google type selection process" %}</p>
            <p class="paragraph">{% trans "We continue with the process until you achieve a successful contracting" %}</p>
        {% endif %}

        {% if plan.id == 3 %}
            <p class="paragraph">{% trans "Google type selection process" %}</p>
            <p class="paragraph">{% trans "We find difficult profiles quickly" %}</p>
            <p class="paragraph">{% trans "We continue with the process until you achieve a successful contracting" %}</p>
        {% endif %}
    </section>
{% endblock %}
