{% load i18n %}
{% load static %}

<table class="plans">
        <tr>
            <th style="width:auto;">
             <p class="column-title"></p>
            </th>

            <th style="width:22%;">
                <p> {% trans "BASIC" %}</p>
                <a href="{% url 'business:plan' 1 %}">
                    <form method="get">
                        <input class="plan-button" type="button" value="{% trans 'Get plan' %}">
                    </form>
                </a>
            </th>

            <th style="width:22%;">
                <p> {% trans "PREMIUM" %} </p>
                <a href="{% url 'business:plan' 2 %}">
                    <form method="get">
                        <input class="plan-button" type="button" value="{% trans 'Get plan' %}">
                    </form>
               </a>
            </th>

            <th style="width:22%;">
                <p> {% trans "HEADHUNTER" %} </p>
                <a href="{% url 'business:plan' 3 %}">
                    <form method="get">
                        <input class="plan-button" type="button" value="{% trans 'Get plan' %}">
                    </form>
               </a>
            </th>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Search in multiple databases" %}</td>
            <td>&#127761;</td>
            <td>&#127761;</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg">{% trans "Recommendation of candidates (Top 10)" %}</td>
            <td>&#127761;</td>
            <td>&#127761;</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Tools for monitoring processes and candidates" %}</td>
            <td>&#127761;</td>
            <td>&#127761;</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Google type selection tests" %}</td>
            <td></td>
            <td>&#127761;</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Hiring guarantee" %}</td>
            <td></td>
            <td>&#127761;</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Specific profiles difficult to find" %}<br></td>
            <td></td>
            <td></td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"></td>
            <td class="price"><strong>{% trans "$300.000 COP" %}</strong></td>
            <td class="price"><strong>{% trans "$1.200.000 COP" %}</strong></td>
            <td class="price"><strong>{% trans "Quotation" %}</strong></td>
        </tr>
</table>

<section class="responsive-plans">
    <table>
        <tr>
            <th style="width:auto;">
             <p class="column-title">{% trans "BASIC" %}</p>
            </th>

            <th style="width:auto;">
                <a href="{% url 'business:plan' 1 %}">
                    <form method="get">
                        <input class="plan-button" type="button" value="{% trans 'Get plan' %}">
                    </form>
                </a>
            </th>
        </tr>
        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Search in multiple databases" %}</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Recommendation of candidates (Top 10)" %}</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> % trans "Tools for monitoring processes and candidates" %}</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Google type selection tests" %}</td>
            <td></td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Hiring guarantee" %}</td>
            <td></td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Specific profiles difficult to find" %}<br></td>
            <td></td>
        </tr>

        <tr valign=top>
            <td class="special-td"></td>
            <td class="price"><strong>{% trans "$300.000 COP" %}</strong></td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th style="width:auto;">
             <p class="column-title">{% trans "PREMIUM" %}</p>
            </th>

            <th style="width:auto;">
                <a href="{% url 'business:plan' 1 %}">
                    <form method="get">
                        <input class="plan-button" type="button" value="{% trans 'Get plan' %}">
                    </form>
                </a>
            </th>
        </tr>
        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Search in multiple databases" %}</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Recommendation of candidates (Top 10)" %}</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Tools for monitoring processes and candidates" %}</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Google type selection tests" %}</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Hiring guarantee" %}</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Specific profiles difficult to find" %}<br></td>
            <td></td>
        </tr>

        <tr valign=top>
            <td class="special-td"></td>
            <td class="price"><strong>{% trans "$1.200.000 COP" %}</strong></td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th style="width:auto;">
             <p class="column-title">{% trans "HEADHUNTER" %}</p>
            </th>

            <th style="width:auto;">
                <a href="{% url 'business:plan' 1 %}">
                    <form method="get">
                        <input class="plan-button" type="button" value="{% trans 'Get plan' %}">
                    </form>
                </a>
            </th>
        </tr>
        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Search in multiple databases" %}</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Recommendation of candidates (Top 10)" %}</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Tools for monitoring processes and candidates" %}</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Google type selection tests" %}</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Hiring guarantee" %}</td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"><img src="/static/business/img/check_mark_green.svg"> {% trans "Specific profiles difficult to find" %}<br></td>
            <td>&#127761;</td>
        </tr>

        <tr valign=top>
            <td class="special-td"></td>
            <td class="price"><strong>{% trans "Quotation" %}</strong></td>
        </tr>
    </table>
</section>
