<!DOCTYPE HTML>
<html lang="en">
{% load i18n %}
{% load static %}

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">
	  <meta name="description" content="find your true passion, encuentra tu verdadera pasion">
      <meta name="keywords" content="job, trabajo, right job, trabajo perfecto">
	  <meta name="author" content="Juan Pablo Isaza">
	  <meta name="google-site-verification" content="LPqesGS5MnESQN-E-LNjZWtRrZAY4rO__YDq8WFjpOs" />
	  <meta name="google-site-verification" content="tR13zEizNHyoMXQ0j8F1ImD0Xe3FdWFHUq-ksIKUscE" />

      <title>PeakU</title>

      <!-- ============ GOOGLE FONTS ============ -->
      <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700,900' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Iceberg' rel='stylesheet' type='text/css'>
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	  <!--Google Analytics-->
	  <script type="text/javascript" src="{% static 'js/google_analytics.js' %}" async></script>

	  <!--Google Analytics-->
	  <script type="text/javascript" src="{% static 'js/price.js' %}" async></script>

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/price.css' %}">

      <!-- Font Awesome CSS -->
	  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

      <!-- Custom styles CSS -->
	  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

      <!-- Favicons -->
      <link rel="apple-touch-icon" sizes="57x57" href="{% static 'beta_invite/favicon.ico/apple-icon-57x57.png' %}">
	  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'beta_invite/favicon.ico/apple-icon-60x60.png' %}">
	  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'beta_invite/favicon.ico/apple-icon-72x72.png' %}">
	  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'beta_invite/favicon.ico/apple-icon-76x76.png' %}">
	  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'beta_invite/favicon.ico/apple-icon-114x114.png' %}">
	  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'beta_invite/favicon.ico/apple-icon-120x120.png' %}">
	  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'beta_invite/favicon.ico/apple-icon-144x144.png' %}">
	  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'beta_invite/favicon.ico/apple-icon-152x152.png' %}">
	  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'beta_invite/favicon.ico/apple-icon-180x180.png' %}">
	  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_16.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_24.ico' %}">
	  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'beta_invite/favicon.ico/favicon_32.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_48.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_64.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_72.ico' %}">
	  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'beta_invite/favicon.ico/favicon_96.ico' %}">
	  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_128.ico' %}">
	  <link rel="manifest" href="{% static 'beta_invite/favicon.ico/manifest.json' %}">
	  <meta name="msapplication-TileColor" content="#ffffff">
	  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	  <meta name="theme-color" content="#ffffff">

  </head>

 <body background="{% static 'beta_invite/bgg.jpg' %}">

 	  <!-- Google Code for getting to signup page -->
	  <script type="text/javascript">
	  /* <![CDATA[ */
	  var google_conversion_id = 837109052;
	  var google_conversion_language = "en";
	  var google_conversion_format = "3";
	  var google_conversion_color = "ffffff";
	  var google_conversion_label = "WZcnCOL4tHQQvIqVjwM";
	  var google_remarketing_only = false;
	  /* ]]> */
	  </script>
	  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	  </script>
	  <noscript>
	  <div style="display:inline;">
	  <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/837109052/?label=WZcnCOL4tHQQvIqVjwM&amp;guid=ON&amp;script=0"/>
	  </div>
	  </noscript>

	  <!-- any incoming error_message will print as an alert.-->
	<script>
		var error_message = "{{error_message}}";
		if (error_message) {
			alert(error_message);
		}
	</script>


	{% trans "Log In" as login_value %}
	<div align="right" style="margin-top:15px; margin-right:15px; cursor:pointer;">
		<form style="cursor:pointer;" action="{% url 'business:login' %}">
			<input style="height: 34px; border: solid 0px white; background:#F8E676; color:black; text-align:center;
				   font-size: 16px; width: 110px; cursor:pointer;" type="submit" value="{{ login_value }}">
		</form>
	</div>

   <!-- BEGIN WELCOME -->
    <div class="welcome-section" id="top" style="">

      <div class="title" style="margin-top:-100px;">

		  <h1 style="font-size:30px; margin-top:0px; color:#F8E676; ">{{ main_message }}</h1>

		 <div class="container" style="margin-top:50px;">

			<div class="subscribe" data-sr="wait 0.5s, then enter bottom and move 40px over 1s" style="margin-top:-25px;">

			  <form action="{% url 'business:post_first_job' %}" method="post" style="text-align:center; margin-top:0px;"
			   enctype="multipart/form-data">

				{% csrf_token %}

				  <!-- passes incoming plan_id, back to the server-->
				  <input type="hidden" name="plan_id" value="{{ plan_id }}">

				{% trans "Your Full Name" as name_placeholder %}
				<input style="font-family:Raleway; padding-left: 15px; font-size: 14px; height: 40px; margin-top:0px;
				 border:solid 1px #F8E676; background-color:white; width: 250px;" id="name" type="text" name="name"
				  placeholder="{{ name_placeholder }}" required="required" pattern="[A-Za-z\sáéíóúÑñÜü]{1,200}">

				<br>

				 {% trans "Your email" as email_placeholder %}
				<input style="font-family:Raleway; padding-left: 15px; font-size: 14px; height: 40px; margin-top:15px;
				 border:solid 1px #F8E676; background-color:white; width: 250px;" id="username" type="email" name="username"
				  placeholder="{{ email_placeholder }}" required="required">

				<br>

				{% trans "Your phone" as phone_placeholder %}
				<input style="font-family:Raleway; padding-left: 15px; font-size: 14px; height: 40px; margin-top:15px;
				 border:solid 1px #F8E676; background-color:white; width: 250px;" id="phone" type="tel" name="phone"
				  placeholder="{{ phone_placeholder }}" required="required" pattern="[0-9\(\)\+\-\s\.extension]{7,40}">

				<br>

				{% trans "Enter a password" as password1_placeholder %}
				<input style="font-family:Raleway; padding-left: 15px; font-size: 14px; height: 40px; margin-top:15px;
				 border:solid 1px #F8E676; background-color:white; width: 250px;" id="password1" type="password" name="password1"
				  placeholder="{{ password1_placeholder }}" required="required">

				<br>

				{% trans "Confirm password" as password2_placeholder %}
				<input style="font-family:Raleway; padding-left: 15px; font-size: 14px; height: 40px; margin-top:15px;
				 border:solid 1px #F8E676; background-color:white; width: 250px;" id="password2" type="password" name="password2"
				  placeholder="{{ password2_placeholder }}" required="required">

				<br>

				{% trans "Sign Up!" as submit_value %}
				<input style="height: 44px; border: solid 0px white; background:#F8E676; color:black; text-align:center;
				 width: 81px; font-size: 16px; width: 255px; margin-bottom:40px; margin-top:15px; cursor:pointer;" type="submit" value="{{ submit_value }}">

			  </form>

			</div>
		  </div>
		  <br/>

      </div>

      <!-- ARROW SCROLL-->
      <div class="arrow">


      </div>
      <!-- /ARROW SCROLL -->
      <div class="container">

       </div>
    </div>
    <!-- END WELCOME -->
<script type="text/javascript">
    <!--
    (function() {
        var IE = /*@cc_on!@*/false;
        if (!IE) { return; }
        if (document.compatMode && document.compatMode == 'BackCompat') {
            if (document.getElementById("af-form-981758079")) {
                document.getElementById("af-form-981758079").className = 'af-form af-quirksMode';
            }
            if (document.getElementById("af-body-981758079")) {
                document.getElementById("af-body-981758079").className = "af-body inline af-quirksMode";
            }
            if (document.getElementById("af-header-981758079")) {
                document.getElementById("af-header-981758079").className = "af-header af-quirksMode";
            }
            if (document.getElementById("af-footer-981758079")) {
                document.getElementById("af-footer-981758079").className = "af-footer af-quirksMode";
            }
        }
    })();
    -->
</script>
   <style>

	@media (max-width: 768px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:250px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
	}

	@media (max-width: 640px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:250px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
	}

	@media (max-width: 480px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-80px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:100px !important;}
		.countdown .hours{width:100px !important;}
		.countdown .min{width:100px !important;}
		.countdown .sec{width:100px !important;}
	}
	@media (max-width: 360px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-96px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:180px !important;}
		.countdown .hours{width:180px !important;}
		.countdown .min{width:180px !important;}
		.countdown .sec{width:180px !important;}
	}
	@media (max-width: 320px) {
		.enteremail{ width:100% !important;}
		.logo img{ width:180px; margin-top:20px;}
		.title{ margin-top:-96px !important;}
		.title p{ font-size:14px !important;}
		.countdown .day{width:150px !important;}
		.countdown .hours{width:150px !important;}
		.countdown .min{width:150px !important;}
		.countdown .sec{width:150px !important;}
	}
   </style>

</body>
</html>
