{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{%  trans "Employment Agency - PeakU" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/business_signup.css' %}">
{% endblock %}


{% block content %}
    <div id="background-white-rectangle">
        <h1 class="main-title">Regístrate</h1>
        <h2 id="description">{% trans "We connect people with companies, quickly and easily" %}</h2>

        <div id="who-am-i-div">
            <a href="{% url 'beta_invite:long_form' %}">
                <div id="user">
                    <img class="avatar-img" src="{% static 'beta_invite/img/user.png' %}">
                    <form id="person-form">
                        {% trans "Person" as person %}
                        <input id="person-input" type="button" value="{{ person }}">
                    </form>
                </div>
            </a>

            <p id="im">{% trans "I'm" %}</p>
            <a href="{% url 'business:business_signup' %}">
                <div id="business">
                    <img class="avatar-img" src="{% static 'beta_invite/img/business.png' %}">
                    <form id="business-form">
                        {% trans "Business" as business %}
                        <input id="business-input" type="button" value="{{ business }}">
                    </form>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
