{% extends 'base.html'%}
{% load static %} <!-- Generates the absolute URL of static files-->
{% load i18n %} <!--Django translation-->

{% block title %}{% trans "PeakU - Personnel Selection" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/start.css' %}">
    <script type="text/javascript" src="{% static 'js/business/start.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/business/add_bullets.js' %}"></script>
{% endblock %}

{% block content %}

<body>
    <div class="tab">
        <button id="position_button" class="tab-links active" onclick="tab(event, 'position')">{% trans "Position" %}</button>
        <button id="company_button" class="tab-links" onclick="tab(event, 'company')" disabled >{% trans "Company" %}</button>
        <button id="start_button" class="tab-links" onclick="tab(event, 'start')" disabled >{% trans "Start" %}</button>
    </div>

    <form class="my-form" action="{% url 'business:start_post' %}" method="post">

        <div id="position" class="tab-content">
            {% include "business/vacancy.html" with requirement_bullet_id=requirement_bullet_id %}
        </div>

        <div id="company" class="tab-content">
            {% include "business/company.html" with requirement_perk_id=requirement_perk_id %}
        </div>

        <div id="start" class="tab-content">
            {% include "business/signup.html"%}
        </div>

    </form>

    <!-- After loading every element, sets the first element as active.-->
    <script>
        activate_tab('position');
    </script>

</body>

{% endblock %}
