{% extends 'peaku_base.html'%}
{% load static %}   <!-- Generates the absolute URL of static files-->
{% load i18n %}     <!--Django translation-->

{% block title %}{% trans "Personnel Selection - PeakU" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/start.css' %}">
    <script type="text/javascript" src="{% static 'business/js/start.js' %}"></script>
    <script type="text/javascript" src="{% static 'business/js/preview_of_start.js' %}"></script>
    <script type="text/javascript" src="{% static 'business/js/add_bullets.js' %}"></script>
    <script type="text/javascript" src="{% static 'business/js/preview_helper.js' %}"></script>
{% endblock %}

{% block content %}

    <h2 style="color:var(--brochure-blue); margin-left: 7%; margin-top: 3%;">Creación de campaña</h2>
    <h5 class="paragraph" align="center" style="margin-left: 7%; margin-right: 10%;">
        <p>Ingresa la información de la vacante y de la empresa, registrate y empieza
         a recibir aplicantes.</p>
        <p style="font-size: 18px;"> Todo en menos de diez minutos. ¡ Así de fácil !</p>
    </h5>

    <div class="tab">
        <button id="vacancy_button" class="tab-links active" onclick="tab(event, 'vacancy')" >Vacante</button>
        <button id="company_button" class="tab-links" onclick="tab(event, 'company')" disabled >{% trans "Company" %}</button>
        <button id="start_button" class="tab-links" onclick="tab(event, 'start')" disabled >Registro</button>
    </div>

    <form class="content" action="{% url 'business:start_post' %}" method="post">

        <div id="vacancy" class="tab-content">
            {% include "business/tab_vacancy.html" with requirement_bullet_id=requirement_bullet_id %}
        </div>

        <div id="company" class="tab-content">
            {% include "business/tab_company.html" with requirement_perk_id=requirement_perk_id %}
        </div>

        <div id="start" class="tab-content">
            {% include "business/tab_signup.html"%}
        </div>
    </form>

    <!-- After loading every element, sets the first element as active.-->
    <script type="text/javascript">
        activate_tab('vacancy');

        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5a5d24064b401e45400c1ca0/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>

{% endblock %}
