<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load app_filters %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>PeakU - Tablero de control</title>
        <!--Favicon-->
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon-16.png' %}">
        <link rel="apple-touch-icon" sizes="32x32" href="{% static 'testing_webpage/favicon.ico/favicon-32.png' %}">
        <link rel="apple-touch-icon" sizes="64x64" href="{% static 'testing_webpage/favicon.ico/favicon-64.png' %}">
        <!--Latest compiled and minified bootstrap CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Our Css-->
        <link rel="stylesheet" type="text/css" href="{% static 'business/css/summary.css' %}">
        <!-- Latest jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="/staffing" class="logo"><img src="{% static 'business/img/logo-color-negro.png' %}"></a>
            <a href="{% url 'business:logout' %}">{% trans "LOG OUT" %}</a>
            <a class="navButton" style="font-size: 15px;width:170px;color: white;border-radius:40px;margin-top: 30px;padding:5px 16px;background:#F47B20;"
               role="button" href="{% url 'business:start' %}">+  CREAR OFERTA</a>
            <a href="{% url 'business:business_campaigns' business_user_id=business_user.pk %}">Mis campañas</a>
            <a href="#about">Ayuda</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
            </a>
        </div>

        <!--
        <div class="sidenav">
            <a href="#"><span class="arrow">&#xFE64;<br><span class="arrow-text">Mis ofertas</span></span></a>
            <a href="#"><span class="plus">&#x002B;<br><span class="plus-text">Nueva oferta</span></span></a>
            <a href="#"><span class="setup">&#x2699;<br><span class="setup-text">Configuración</span></span></a>
            <div class="blur">
            </div>
        </div>-->

        <div class="background">
            <div class="gradient1">
                <div class="container">
                    <div class="row one"></div>
                    <div class="row two">
                        <div class="col-lg-5"></div>
                        <div class="col-lg-7 campaign bold">CAMPAÑA AUXILIAR COMERCIAL DE SELECCION MEDELLIN</div>
                    </div>
                    <div class="row three">
                        <div class="col-lg-3 col-xs-12"></div>
                        <div class="col-lg-9 col-xs-12 gradient2">
                            <p class="date regular">Fecha de publicación: 1 de enero de 2018</p><br>
                            <p class="status bold">ESTADO: {{ campaign.active }}</p><br>
                            <p class="total regular">TOTAL DE APLICANTES: {{ total_candidates }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row four">
                <a href="{% url 'business:dashboard' business_user_id=business_user.pk campaign_id=campaign.id state_name='recommended' %}">
                    <div class="col-xs-12 col-lg-6">
                        <div class="state div1">
                            <div class="circle avatar1"></div>
                            <input name="campaign_id" type="hidden" value="{{ campaign.id }}">
                            <p class="status-name bold">RECOMENDADOS</p>
                            <div class="line"></div>
                            <p class="status-description">Sugerencias de candidatos que son tu mejor opción de contratación y han superado todos los filtros</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="state div2">
                            <div class="row">
                                <span class="quantity bold">{{ num_recommended }}</span><br>
                                <span class="primary bold">PERFILES</span><br>
                                <span class="secondary regular">SELECCIONADOS</span>
                                <span class="recommended">
                                    <div class="test1">
                                        <div class="fill1"></div>
                                    </div>
                                    <div class="test2">
                                        <div class="fill2"></div>
                                    </div>
                                    <div class="test3">
                                        <div class="fill3"></div>
                                    </div>
                                    <div class="test4">
                                        <div class="fill4"></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="row five">
                <a href="{% url 'business:dashboard' business_user_id=business_user.pk campaign_id=campaign.id state_name='relevant' %}">
                    <div class="col-lg-6 col-xs-12">
                        <div class="state div3">
                            <div class="circle avatar2"></div>
                            <p class="status-name bold">RELEVANTES</p>
                            <div class="line"></div>
                            <p class="status-description">Candidatos que aprobaron pruebas iniciales y requerimientos específicos para tu campaña</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12">
                        <div class="state div4">
                            <div class="row">
                                <span class="quantity bold">{{ num_relevant }}</span><br>
                                <span class="primary bold">PERFILES</span><br>
                                <span class="secondary regular">SELECCIONADOS</span>
                                <span class="relevant"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="row six">
                <a href="{% url 'business:dashboard' business_user_id=business_user.pk campaign_id=campaign.id state_name='applicants' %}">
                    <div class="col-lg-6 col-xs-12">
                        <div class="state div5">
                            <div class="circle avatar3"></div>
                            <p class="status-name bold">APLICANTES</p>
                            <div class="line"></div>
                            <p class="status-description">Total de candidatos que han aplicado a tu oferta laboral (incluye los candidatos no aprobados)</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12">
                        <div class="state div6">
                            <div class="row">
                                <span class="quantity bold">{{ num_applicants }}</span><br>
                                <span class="primary bold"></span><br>
                                <span class="secondary regular"></span>
                                <span class="applicant"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!----------------------------------------------FOOTER--------------------------------------------------------->
        <footer class="container-fluid">
            <div class="row footer-navigation">
                <div class="col-md-2 col-md-2"></div>
                <div class="col-md-3 col-md-3 navfooter">
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="{% url 'business:contact_form' %}">Contáctanos</a></li>
                        <li><a href="{% url 'beta_invite:index' %}">Personas</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-md-2 social">
                    <a href="https://www.linkedin.com/company-beta/16241506/" target="_blank"><img src="{% static 'business/img/linkedin.png' %}"></a>
                    <a href="https://www.facebook.com/PeakU-Latam-1916685895214519/?ref=aymt_homepage_panel" target="_blank">
                    <img src="{% static 'business/img/facebook.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'business/img/instagram.png' %}"></a>
                    <a href="#" target="_blank"><img src="{% static 'business/img/twitter.png' %}"></a>
                </div>
                <div class=" col-md-1 col-md-1"></div>
                <div class=" col-md-2 col-md-2 navfootercontact">
                    <div class="logo-white"><a href="#"><img src="{% static 'business/img/logo-white.png' %}"></a></div>
                    <div class="contact">contacto@peaku.co<br>
                        +57 311 6109340<br>
                        Colombia
                    </div>
                </div>
                <div class=" col-md-2 col-md-2 "></div>
            </div>
            <div class="row">
                <div class="col-1 col-md-1"></div>
                <div class="col-10 copyright">Copyright 2018 © PeakU. Todos los derechos reservados.</div>
                <div class="col-1"></div>
            </div>
        </footer>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
        <script>
            $(document).scroll(function() {
                if($(window).scrollTop() >= 0.1){
                    $(".sidenav").css("margin-top","0px");
                    $(".blur").css("margin-top","0px");

                }else if($(window).scrollTop() < 0.1){
                    $(".sidenav").css("margin-top","84px");
                    $(".blur").css("margin-top","84px");
                }
            });
        </script>
    </body>
</html>