{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/tabs.css' %}">
    <script type="text/javascript" src="{% static 'js/business/tabs.js' %}"></script>
{% endblock %}

{% block content %}

<body>
    <div class="tab">
        <button class="tab-links active" onclick="tab(event, 'position')">{% trans "Position" %}</button>
        <button class="tab-links" onclick="tab(event, 'company')">{% trans "Company" %}</button>
        <button class="tab-links" onclick="tab(event, 'start')">{% trans "Start" %}</button>
    </div>

    <div id="position" class="tab-content">
        <h3>London</h3>
        <p>London is the capital city of England.</p>
    </div>

    <div id="company" class="tab-content">
        <h3>Paris</h3>
        <p>Paris is the capital of France.</p>
    </div>

    <div id="start" class="tab-content">
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
    </div>

    <!-- After loading every element, sets the first element as active.-->
    <script>
        activate_tab('position');
    </script>

</body>

{% endblock %}
