{% extends 'base.html'%}
{% load i18n %}
{% load static %}


{% block title %}{% trans "PeakU - Personnel Selection" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/tabs.css' %}">
    <script type="text/javascript" src="{% static 'js/business/tabs.js' %}"></script>
{% endblock %}

{% block content %}

<body>
    <div class="tab">
        <button class="tab-links active" onclick="tab(event, 'position')">{% trans "Position" %}</button>
        <button class="tab-links" onclick="tab(event, 'company')">{% trans "Company" %}</button>
        <button class="tab-links" onclick="tab(event, 'start')">{% trans "Start" %}</button>
    </div>

    <div id="position" class="tab-content">
        {% include "business/vacancy.html"%}
    </div>

    <div id="company" class="tab-content">
        {% include "business/vacancy.html"%}
    </div>

    <div id="start" class="tab-content">
        {% include "business/signup2.html"%}
    </div>

    <!-- After loading every element, sets the first element as active.-->
    <script>
        activate_tab('position');
    </script>

</body>

{% endblock %}
