<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load i18n %} <!--Django translation-->

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/vacancy.css' %}">

</head>

<body class="indent_style">

    <h3 class="secondary-title" >{% trans "Describe the position" %}</h3>
    <div class="secondary-yellow-bar"></div>

    <!--<p>Importante: La prueba gratuita aplica exclusivamente para el plan operativo.</p>-->

    <h4 class="title-blue" >{% trans "What plan are you looking for?" %}</h4>

    <input type="radio" name="plan_id" value="1"> Operativo
    <input type="radio" name="plan_id" value="2"> Profesional
    <input type="radio" name="plan_id" value="3"> Específico

    <p></p>

    <p>Título (cargo que se publicará a los candidatos):</p>

    <input type="text" name="title_es">

    <p></p>

    <p>{% trans "Requirements (what the candidate should have):" %}</p>

    <div id="requirement_container"></div>

    <div class="requirement-buttons">
        <input class="submit-button" type="button" name="add_bullet" value="Añadir"
                  onclick="addBullet({{ requirement_bullet_id }}, 'requirement_container', '{% trans 'Requirement' %}', '{% trans 'Input a requirement' %}');">

        <input class="delete-button" type="button" name="remove_bullet" value="Borrar último"
                  onclick="removeBullet('requirement_container');">
    </div>

    <br>
    <br>

    <input class="submit-button" type="button" name="next_step" value="Siguiente paso"
              onclick="next_step_tab(event, 'company')" >

</body>
</html>






