<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load i18n %} <!--Django translation-->

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'business/css/vacancy.css' %}">

</head>

<body class="indent_style">

    <h3 class="secondary-title" >{% trans "Describe the position" %}</h3>
    <div class="secondary-yellow-bar"></div>

    <div class="section-container">

        <h4 class="title-blue-small" >{% trans "What type of Personnel are you looking for?" %}</h4>

        <input type="radio" name="plan_id" value="1"> {% trans "Operational Staff" %}
        <input type="radio" name="plan_id" value="2"> {% trans "Professional" %}
        <input type="radio" name="plan_id" value="3"> {% trans "Specific" %}

        <p class="paragraph note">{% trans "The free trial applies only to operational candidates" %}</p>
    </div>

    <div class="section-container">
        <h4 class="title-blue-small" > {% trans "Position Title (published to the candidates)" %}</h4>
        <input id="position-title-field" type="text" name="title_es" placeholder="{% trans 'Add a title' %}" >
    </div>


    <div class="section-container">
        <h4 class="title-blue-small">{% trans "Requirements (what the candidate should have)" %}</h4>

        <div id="requirement_container"></div>

        <div class="requirement-buttons">
            <input class="submit-button" type="button" name="add_bullet" value="{% trans 'Add Requirement' %}"
                      onclick="addBullet({{ requirement_bullet_id }}, 'requirement_container', '{% trans 'Requirement' %}', '{% trans 'Input a Requirement' %}');">

            <input class="delete-button" type="button" name="remove_bullet" value="{% trans 'Delete Last' %}"
                      onclick="removeBullet('requirement_container');">
        </div>
    </div>

    <br>

    <input class="submit-button" type="button" name="next_step" value="{% trans 'Next Step' %}"
              onclick="next_step_tab(event, 'company')" >

</body>
</html>






