{% load app_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Campaigns</h1>
    <ul>
        {% for campaign in campaigns %}

            <li><a href="{{ campaign|get_campaign_url }}">{{ campaign.name }} {{ campaign.title_es }} {{ campaign.created_at }}</a>
                {% if campaign.active %}
                    Active
                {% else %}
                    Inactive
                {% endif %}
                <br>
                <a href="{% url 'dashboard:campaign' campaign.id %}">Candidates</a>
                <br>
                <a href="{% url 'dashboard:edit_campaign' campaign.id %}">Edit</a>
                <br>
                <a href="{% url 'dashboard:campaign' campaign.id %}/bullets">Bullets</a>
                <br>
                <a href="{% url 'business:summary' campaign_id=campaign.id %}">Business Dashboard</a>
                <br>
                <a href="{% url 'dashboard:campaign' campaign.id %}/tests">Tests</a>
                <br>
                {% if campaign.operational_efficiency %}
                    <p>operational efficiency = recommended/(recommended + rejected manually) = {% widthratio campaign.operational_efficiency 1 100 %}%</p>
                {% endif %}
                <br>
                <form action="{% url 'dashboard:delete_campaign'  campaign.id %}" method="post">
                    {% csrf_token %}
                    <input type="button" class="btn btn-danger" value="Delete!" onclick="this.form.submit();">
                </form>
            </li>
            <br>
        {% endfor %}
    </ul>

</body>
</html>