<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'dashboard/js/campaign/edit_candidate.js' %}" async></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/campaign/edit.css' %}">

</head>

<body>

    <form action="../" method="post"
           enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="HOME">
    </form>

    <h1>{{ current_campaign.name }} Candidates</h1>
    <ul>

        <form action="#" method="post" id="main_form_id"
           enctype="multipart/form-data">

            {% csrf_token %}

                <div class="row" style="margin-top:45px;">

                    {% include "dashboard/campaign/candidates_column.html" with campaigns=campaigns column_candidates=prospect column_name="Prospect" %}
                    {% include "dashboard/campaign/candidates_column.html" with campaigns=campaigns column_candidates=backlog column_name="Backlog" %}
                    {% include "dashboard/campaign/candidates_column.html" with campaigns=campaigns column_candidates=failed_tests column_name="Failed Tests" %}

                </div>

                <div class="row" style="margin-top:45px;">

                    {% include "dashboard/campaign/candidates_column.html" with campaigns=campaigns column_candidates=waiting_for_interview column_name="Waiting for Interview" %}
                    {% include "dashboard/campaign/candidates_column.html" with campaigns=campaigns column_candidates=did_interview column_name="Did Interview, in Standby" %}
                    {% include "dashboard/campaign/candidates_column.html" with campaigns=campaigns column_candidates=sent_to_client column_name="Sent To Client" %}

                </div>

                <div class="row" style="margin-top:45px;">
                    {% include "dashboard/campaign/candidates_column.html" with campaigns=campaigns column_candidates=got_the_job column_name="Got Job" %}
                    {% include "dashboard/campaign/candidates_column.html" with campaigns=campaigns column_candidates=rejected column_name="Rejected" %}
                </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <hr>
            <br>
            <br>

            <h3>Send customized mail or message</h3>

            <input name="email_subject" style="width:32.5%"
                value="Invitación entrevista">

            <br>
            <br>

            <textarea name="email_body" cols="100" rows="20"
                placeholder="mail body, use tags {name}, {campaign_name} to customize">Hola {name}

Felicidades por aprobar la prueba técnica!

Puedes programar tu entrevista en el siguiente link:

https://calendly.com/santiago-10/llamada-inicial

Entre más rápido hagas la entrevista más probabilidad tendrás de obtener el empleo.

No dudes en escribirme si tienes alguna duda.

Estoy pendiente,

{sender_name}
{sender_position}
{peaku_address}
            </textarea>

            <br>

            <input type="submit" name="send_mail" value="Send_email">

            <br>
            <br>

            <input type="submit" name="send_message" value="Send_message">

        </form>

    </ul>

</body>
