<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/campaign/edit_candidate.js' %}" async></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/campaign/edit.css' %}">

</head>

<body>

    <form action="../" method="post"
           enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="HOME">
    </form>

    <h1>{{ current_campaign.name }} Candidates</h1>
    <ul>

        <form action="#" method="post" id="main_form_id"
           enctype="multipart/form-data">

            {% csrf_token %}

                <div class="row" style="margin-top:45px;">

                    <div class="col-sm-4">

                        <h3>Backlog</h3>
                        <br>

                        {% for candidate in backlog %}
                            {% include "dashboard/campaign/candidate.html" with candidate=candidate campaigns=campaigns%}
                        {% endfor %}

                    </div>
                    <div class="col-sm-4">

                        <h3>Waiting for Tests</h3>
                        <br>

                        {% for candidate in waiting_tests %}
                            {% include "dashboard/campaign/candidate.html" with candidate=candidate campaigns=campaigns%}
                        {% endfor %}

                    </div>
                    <div class="col-sm-4">

                        <h3>Waiting for Interview</h3>
                        <br>

                        {% for candidate in waiting_interview %}
                            {% include "dashboard/campaign/candidate.html" with candidate=candidate campaigns=campaigns %}
                        {% endfor %}

                    </div>
                </div>

                <div class="row" style="margin-top:45px;">

                    <div class="col-sm-4">

                        <h3>Did Interview, in Standby</h3>
                        <br>

                        {% for candidate in did_interview_in_standby %}
                            {% include "dashboard/campaign/candidate.html" with candidate=candidate campaigns=campaigns %}
                        {% endfor %}

                    </div>

                    <div class="col-sm-4">

                        <h3>Sent To Client</h3>
                        <br>

                        {% for candidate in sent_to_client %}
                            {% include "dashboard/campaign/candidate.html" with candidate=candidate campaigns=campaigns %}
                        {% endfor %}

                    </div>

                    <div class="col-sm-4">

                        <h3>Got Job</h3>
                        <br>

                        {% for candidate in got_job %}
                            {% include "dashboard/campaign/candidate.html" with candidate=candidate campaigns=campaigns %}
                        {% endfor %}

                    </div>
                </div>

                <div class="row" style="margin-top:45px;">

                    <div class="col-sm-4">

                        <h3>Rejected</h3>
                        <br>

                        {% for candidate in rejected %}
                            {% include "dashboard/campaign/candidate.html" with candidate=candidate campaigns=campaigns %}
                        {% endfor %}
                    </div>
                </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <hr>
            <br>
            <br>

            <h3>Send customized mail</h3>

            <input name="email_subject" style="width:32.5%"
                value="Status de tu aplicación a {campaign_name} con PeakU">{{ candidate.comment }}</input>

            <br>
            <br>

            <textarea name="email_body" cols="60" rows="20"
                placeholder="mail body, use tags {name}, {campaign_name} to customize" >
{name},

write here ... {test_url}

Saludos

Santiago
santiago@peaku.co
PeakU
            </textarea>

            <br>

            <input type="submit" name="send_mail" value="Send_email">

        </form>

    </ul>

    <a href="new">Add Candidate</a>


</body>
