<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/campaign/new.js' %}"></script>
    <title>New Campaign</title>
</head>
<body>

    <form style="margin-top: 40px; margin-left:40px;" action="create" method="post">

        {% csrf_token %}

        <h1>New Campaign</h1>

        <br>
        <br>

        <input style="width: 250px;" type="text" name="name"
          placeholder="Add internal campaign name in English" required="required">

        <br>
        <br>

        <input style="width: 250px;" type="text" name="title"
          placeholder="Add campaign title in English" required="required">

        <br>
        <br>

        <input style="width: 250px;" type="text" name="title_es"
          placeholder="Add a campaign title in Spanish" required="required">

        <br>
        <br>

        <select name="country_id" required>
          <option value="">Select Country</option>
          {% for country in countries%}
             <option value={{ country.id }}>{{ country.name }}</option>
          {% endfor %}
        </select>

        <br>
        <br>

        <textarea name="description" cols="40" rows="5"
        placeholder="add description in English"></textarea>

        <br>
        <br>

        <textarea name="description_es" cols="40" rows="5"
        placeholder="add description in Spanish"></textarea>

        <br>
        <br>

        <script>
            var objects = JSON.parse('{{ bullet_types_json | escapejs }}');

            /*for (var i = 0; i < objects.length; i++){
                o = objects[i]
                alert(o.fields.name)
            }*/

        </script>

        <br>
        <br>

        <select name="profession_id" required>
          <option value="">Select Profession</option>
          {% for profession in professions%}
             <option value={{ profession.id }}>{{ profession.name }}</option>
          {% endfor %}
        </select>

        <br>
        <br>

        <select name="education_id" required>
          <option value="">Select Education</option>
          {% for level in education%}
             <option value={{ level.id }}>{{ level.name }}</option>
          {% endfor %}
        </select>

        <br>
        <br>

        <div style="margin-top:-10px;">
          <label >Experience in years:</label>
          <input name="experience" id="experience"
           type="number" value="0" min="0" max="60" />
        </div>

        <br>
        <br>

        <!--tests = models.ManyToManyField(Test)-->

        <input class="btn btn-success" type="submit" value="Save"
            style="width:100px; height: 25px; font-size:15; margin-bottom:50px; line-height: 10px;">

        <br>
        <br>

        <input style="margin-bottom:100px;" type="button" class="btn btn-success" name="add_bullet" value="Add Bullet!"
          onclick="addBullet('{{ bullet_types_json | escapejs }}');">

        <!-- This empty container is filled dynamically with JS.-->
        <div id="bullet_container"/>

    </form>

</body>
</html>
