<!DOCTYPE html>
<html lang="en">
{% load i18n %}
{% load static %}
{% load app_filters %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">
    <meta name="keywords" content="selección personal, contratación personal, selección reclutamiento, staffing, headhunter, head hunter, empresas reclutamiento">
    <meta name="author" content="Juan Pablo Isaza">
    <meta name="google-site-verification" content="LPqesGS5MnESQN-E-LNjZWtRrZAY4rO__YDq8WFjpOs" />
    <meta name="google-site-verification" content="tR13zEizNHyoMXQ0j8F1ImD0Xe3FdWFHUq-ksIKUscE" />
    <meta name="description" content="PeakU está revolucionando la búsqueda de candidatos, el reclutamiento y la selección; hacemos procesos más eficientes para las empresas, creación de valor a largo plazo.">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/peaku_base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'testing_webpage/favicon.ico/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'testing_webpage/favicon.ico/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'testing_webpage/favicon.ico/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'testing_webpage/favicon.ico/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'testing_webpage/favicon.ico/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'testing_webpage/favicon.ico/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'testing_webpage/favicon.ico/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'testing_webpage/favicon.ico/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'testing_webpage/favicon.ico/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon_16.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon_24.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'testing_webpage/favicon.ico/favicon_32.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon_48.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon_64.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon_72.ico' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'testing_webpage/favicon.ico/favicon_96.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'testing_webpage/favicon.ico/favicon_128.ico' %}">
    <link rel="manifest" href="{% static 'testing_webpage/favicon.ico/manifest.json' %}">


    <script type="text/javascript" src="{% static 'js/navigation_bar.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110863941-1"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110863941-1');
    </script>

    <script id="Heat-map" type="text/javascript">
        window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', '495c7bd6807a0ab2c17ade2e03cac13bab9f1b84');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '723083944567694');
        fbq('track', 'PageView');
    </script>

    <noscript>
        <img height="1" width="1"
        src="https://www.facebook.com/tr?id=723083944567694&ev=PageView
        &noscript=1"/>
    </noscript>

    {% block extra_head %}{% endblock %}

</head>
<body>
    <header>
        <nav class="topnav" id="myTopnav">
            <a href="/staffing">
                <img class="logo" src="{% static 'testing_webpage/img/peaku_home.svg' %}" alt="">
            </a>

            {% if 'seleccion_de_personal' in request.path %}
                <ul>
                    <li class="home"><a href="/staffing">{% trans "HOME" %}</a></li>
                    <li><a href="{% url 'business:contact_form' %}">{% trans "CONTACT US" %}</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'business:business_campaigns' user|get_business_user_id_from_auth_user %}">{% trans "CAMPAIGNS" %}</a></li>
                    {% endif %}

                    {% if 'seleccion_gratis' in request.path %}
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'business:logout' %}">{% trans "LOG OUT" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'business:login' %}">{% trans "LOGIN" %}</a></li>
                        {% endif %}
                    {% else %}
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'business:logout' %}">{% trans "LOG OUT" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'business:login' %}">{% trans "LOGIN" %}</a></li>
                            <li><a href="{% url 'business:start' %}">{% trans "SIGN UP" %}</a></li>
                        {% endif %}
                    {% endif %}
                    <li class="icon"><a href="javascript:void(0);" style="font-size:15px;"  onclick="myFunction()">&#9776;</a></li>
                </ul>
            {% endif %}
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <div class="yellow"></div>
    <footer>
        {% if 'seleccion_de_personal' in request.path %}
            <div class="contact">
                <a href="https://api.whatsapp.com/send?phone=573116109340">
                    <img src="{% static 'testing_webpage/img/wp.svg' %}" class="footer-icon"><span class="info" id="footer-phone">+57 311 6109340</span>
                </a>
            </div>
        {% endif %}
        <div class="contact">
            <a href="mailto:contacto@peaku.co">
                <img src="{% static 'testing_webpage/img/mail.svg' %}" class="footer-icon"><span class="info">contacto@peaku.co</span>
            </a>
        </div>

        <div class="social">
            <a href="https://www.facebook.com/PeakU-Latam-1916685895214519/?ref=aymt_homepage_panel" target="_blank">
                <img src="{% static 'testing_webpage/img/facebook.svg' %}">
            </a>
            <a href="https://www.linkedin.com/company-beta/16241506/" target="_blank">
                <img src="{% static 'testing_webpage/img/linkedin.svg' %}">
            </a>
        </div>
    </footer>
    <!--CHAT-->
    {% if 'seleccion_de_personal' in request.path %}
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5a5d24064b401e45400c1ca0/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
    {% endif %}

</body>
</html>