<!DOCTYPE html>
<html lang="en">

{% load i18n %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">
    <meta name="description" content="Selección de personal y reclutamiento para contratación">
    <meta name="keywords" content="selección personal, contratación personal, selección reclutamiento">
    <meta name="author" content="Juan Pablo Isaza">
    <meta name="google-site-verification" content="LPqesGS5MnESQN-E-LNjZWtRrZAY4rO__YDq8WFjpOs" />
    <meta name="google-site-verification" content="tR13zEizNHyoMXQ0j8F1ImD0Xe3FdWFHUq-ksIKUscE" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'beta_invite/favicon.ico/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'beta_invite/favicon.ico/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'beta_invite/favicon.ico/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'beta_invite/favicon.ico/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'beta_invite/favicon.ico/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'beta_invite/favicon.ico/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'beta_invite/favicon.ico/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'beta_invite/favicon.ico/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'beta_invite/favicon.ico/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_16.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_24.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'beta_invite/favicon.ico/favicon_32.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_48.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_64.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_72.ico' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'beta_invite/favicon.ico/favicon_96.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'beta_invite/favicon.ico/favicon_128.ico' %}">
    <link rel="manifest" href="{% static 'beta_invite/favicon.ico/manifest.json' %}">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110863941-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110863941-1');
    </script>

    <script id="Heat-map" type="text/javascript">
        window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', '495c7bd6807a0ab2c17ade2e03cac13bab9f1b84');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '723083944567694');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1"
        src="https://www.facebook.com/tr?id=723083944567694&ev=PageView
        &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    {% block extra_head %}{% endblock %}

</head>
<body>
    <div>
    <header id="header">

        <a href="/staffing">
            <img id="peaku-home" src="{% static 'beta_invite/img/peaku_home.svg' %}"/></a>

        <div id="log-and-sign-up">
            {% if 'seleccion_gratis' in request.path %}
                {% if user.is_authenticated %}
                    <a href="{% url 'business:logout' %}">
                            <form class="log-in-form">
                                <input class="log-in-input" type="button" name="free_trial" value="{% trans 'Log Out' %}">
                            </form>
                    </a>
                {% else %}
                    <a href="{% url 'business:login' %}">
                            <form class="log-in-form">
                                <input class="log-in-input" type="button" value="{% trans 'Log In' %}">
                            </form>
                    </a>
                {% endif %}

            {% else %}

                {% if 'seleccion_de_personal' in request.path %}
                    {% if user.is_authenticated %}

                        <a href="{% url 'business:logout' %}">
                            <form class="log-in-form">
                                <input class="log-in-input" type="button" name="free_trial" value="{% trans 'Log Out' %}">
                            </form>
                        </a>

                    {% else %}
                        <a href="{% url 'business:signup_choice' %}">
                            <form id="sign-up-form">
                                <input id="sign-up-input" type="button" value="{% trans 'Sign Up' %}">
                            </form>
                        </a>

                        <a href="{% url 'business:login' %}">
                            <form class="log-in-form">
                                <input class="log-in-input" type="button" value="{% trans 'Log In' %}">
                            </form>
                        </a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>

    </header>

    {% block content %}
    {% endblock %}

    <footer id="footer">
        <div id="footer-yellow-bar">
        </div>
        <div id="footer-blue-bar">

            <div id="footer-phone-div">
                <a href="https://api.whatsapp.com/send?phone=573116109340">
                    <img src="{% static 'beta_invite/img/wp.svg' %}" class="footer-icon"><p id="footer-phone">+57 311 6109340</p>
                </a>
            </div>

            <div id="footer-email-div">
                <a href="mailto:contacto@peaku.co">
                    <img src="{% static 'beta_invite/img/mail.svg' %}" class="footer-icon"><p id="footer-email">contacto@peaku.co</p>
                </a>
            </div>

        </div>

        <div id="footer-bottom-div">

            <a href="https://www.facebook.com/PeakU-Latam-1916685895214519/?ref=aymt_homepage_panel">
                <img src="{% static 'beta_invite/img/facebook.svg' %}" class="footer-icon">
            </a>

            <a href="https://www.linkedin.com/company-beta/16241506/">
                <img src="{% static 'beta_invite/img/linkedin.svg' %}" class="footer-icon">
            </a>

            <!-- TODO: missing Twitter -->
            <a>
            <img src="{% static 'beta_invite/img/twitter.svg' %}" class="footer-icon">
            </a>

            <a href="/staffing">
                <img src="{% static 'beta_invite/img/peaku_footer.svg' %}" id="peaku-footer">
            </a>
        </div>
    </footer>
    </div>

    <!-- any incoming error_message will print as an alert.-->
    {% if error_message != None %}
        <script>
            alert("{{ error_message }}");
        </script>
    {% endif %}

</body>
</html>
