{% extends 'base.html'%}
{% load i18n %}
{% load static %}
{% load app_filters %}
{% load compress %}
{% block header_base_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'testing_webpage/css/transparent_header_base.css' %}">
{% endblock %}
{% block header %}
    <section class="main-section" id="main-section">
        <div class="topnav" id="myTopnav">
            <a href="/staffing" class="logo"><img src="{% static 'business/img/logo-color.png' %}"></a>
            <!--<a class="navButton regular" role="button" onclick="on_login()">INICIA SESIÓN</a>-->
            <a class="navButton" role="button" onclick="on_signup()">CREA TU CUENTA</a>
        </div>
        <h1 class="col-lg-4 main-title">{{ job_title }}</h1>
    </section>
{% endblock %}