{% extends 'base.html'%}
{% load i18n %}
{% load static %}
{% load app_filters %}
{% load compress %}
{% block header_base_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'testing_webpage/css/white_header_base.css' %}">
{% endblock %}
{% block header %}
    <div class="topnav" id="myTopnav">
        <a href="/staffing" class="logo"><img src="{% static 'business/img/logo-color-negro.png' %}" style="text-decoration:none;"></a>
        {% if 'seleccion-de-personal' in request.path and 'contactanos' not in request.path %}
            {% if user|business_user_is_authenticated %}
                <a href="{% url 'business:logout' %}" style="text-decoration:none;">{% trans "LOG OUT" %}</a>
                {% if not 'campañas' in request.path and user|business_user_is_authenticated %}
                    <a href="{% url 'business:business_campaigns' user|get_business_user_id %}" style="text-decoration:none;">{% trans 'My campaigns' %}</a>
                {% endif %}
                <a class="navButton" role="button" href="{% url 'business:start' %}" style="text-decoration:none; font-size: 15px;width:170px;color: white;border-radius:40px;margin-top: 30px;padding:5px 16px;background:#F47B20;">{% trans '+ NEW JOB POST' %}</a>
            {% endif %}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()" style="text-decoration:none;">&#9776;</a>
        {% else %}
            {% if user|user_is_authenticated %}
                <a class="navButton" href="/my-logout" style="text-decoration:none; font-size: 15px;width:170px;color: white;border-radius:40px;margin-top: 30px;padding:5px 16px;background:#F47B20;">CERRAR SESIÓN</a>
            {% else %}
                <a class="navButton" role="button" onclick="on_signup()" style="text-decoration:none; font-size: 15px;width:170px;color: white;border-radius:40px;margin-top: 30px;padding:5px 16px;background:#F47B20;">CREA TU CUENTA</a>
                <a class="navButton regular" role="button" onclick="on_login()" style="text-decoration:none; font-size: 15px;width:170px;color: white;border-radius:40px;margin-top: 30px;padding:5px 16px;background:#F47B20;">INICIA SESIÓN</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
